/* Shopping Cart Collateral boxes */
.cart {
    .cart-collaterals { 
        width:630px; padding:20px 0 10px;
        h2 { color:#000; font-weight:normal; margin:0 0 5px; }
    }
    .cross-inside { background:url(../images/bkg_crosssell.gif) repeat-y 0 0; }
    .deals { 
        float:left; width:280px; display:inline; margin:0 0 0 30px; font-size:12px;
        p, label { margin:0 0 7px; display:block; }
        .input-text { width:140px; margin:0 5px 3px 0; float:left; }
        .widget-sku { 
            display:block; margin:0 0 20px; width:264px;
            .block-title { 
                background:inherit; border:inherit; color:#000; font-size:16px; margin:0 0 5px; padding:0;
                strong { font-weight:normal; }
            }
            .block-content { padding:0; }
            .sku-table td input { width:98%; }
        }
    }
    .giftcard { 
        position:relative; z-index:1;
        button.check-gc-status { 
            clear:both;
            span { 
                padding:0 !important; background:none !important; line-height:1.3 !important; color:#444 !important; height:auto !important; font-weight:normal !important; text-transform:none !important;
                span { text-decoration:underline; font-size:12px !important; }
            }
        }
    }
    .giftcard, .discount { margin:0 0 20px 0; }
    .cancel-btn { margin:5px 30px 0 0; clear:left; }
    .shipping { 
        float:left; margin:0 0 0 30px; display:inline; font-size:12px; width:280px;
        select { width:256px; }
        .input-text { width:250px; }
        p { margin:0 0 15px; }
        .buttons-set { width:256px; }
        .form-list {
            label { float:none; width:auto; text-align:left; padding:0; }
            .input-text, select { display:block; float:none; }
        }
    }
    .crosssell { 
        float:left; min-height:400px; width:260px; padding:0 20px 15px 30px; border:1px solid #d9d9d9; border-width:0 1px 0 0; background:#fbf3f0;
        h2 { font-size:11px; color:#cd3800; font-weight:bold; text-transform:uppercase; }
        .item { padding:17px 0 0 ; }
        .product-image { float:left; margin:3px -90px 0 0; }
        .product-shop { margin-left:90px; }
        .product-name, .price-box, p, .add-to-links { margin:0 0 5px; }
        .add-to-links li { margin:0; }
    }
}