/* Shopping Cart ========================================================================= */
.checkout-cart-index {
    .col-main { 
        padding:0;
        .page-title { margin:0; }
    }
} 
.cart-empty { padding:20px; background:#fff; }
.cart { 
    background:url(../images/bkg_cart.gif) repeat-y 100% 0;
    .title-buttons { 
        padding-right:15px;
        .checkout-types li { float:left; margin:0 0 5px 5px; }
    }
    .messages, .messages li { margin:0; }
    .checkout-types { 
        float:right; text-align:center;
        .paypal-or { margin:0 8px; line-height:2.3; vertical-align: top; }  
        fieldset { display:inline; }
        .btn-proceed-checkout { 
            span { 
                background-image:url(../images/bkg_btn-co.gif); height:27px !important; padding:0 0 0 13px !important;
                span { border:0; background-image:url(../images/bkg_btn-co.gif); padding:1px 32px 0 19px !important; color:#fff; font:bold 15px/26px Arial, Helvetica, sans-serif !important; height:26px; text-transform:none; margin:0 !important; }
            }

        }
        .bml_button {display:inline-table; width: 150px; margin: 0 0 5px;}
    }
}