/* Shopping Cart Totals */
.cart {
    .totals { 
        float:right; width:275px; padding:23px 15px 0 15px; font-size:14px;
        table { 
            width:100%;
            th, td { padding:0 5px 5px; }
            tfoot {
                strong { font-weight:normal; font-size:18px; color:#cd3800; display:block; margin:10px 0 15px; }
                .summary-total td { padding:0 0 20px; }
                th strong { margin:0; }
                td .price { font-weight:bold; }
            }
        }
        .btn-remove { 
            vertical-align:middle;
            img { vertical-align:baseline; }
        }
        .checkout-types {
            li { margin:0 0 15px; }
            .paypal-or { clear:both; display:block; padding-top:8px; line-height:1.0; font-size:11px; }
        }
    }
}

.failed-products { 
    border:1px solid #E9581F;
    .sub-title { background:#FFF5F3 url(../images/icon_error.gif) no-repeat 10px 50%; color:#D91A00; margin:0; padding:10px 10px 10px 30px; border-bottom:1px solid #E9581F; }
    .item-msg.error { background:url(../images/icon_error.gif) no-repeat left; font-size:11px; color:#D91A00; padding:5px 0 5px 20px; }
} 