/* Shopping Cart Table */
.cart-table {
    border-width:1px 0; background-color: #ffffff;
    .item-msg { font-size:10px; }
    thead th { vertical-align:bottom; }
    tbody td { padding:12px; }
    .btn-continue { 
        float:left; background:none; border:none;
        span { background:none; border:none; text-transform:none; color:#444; text-decoration:underline; font-weight:normal; padding:0; }
    }
    .btn-update { float:right; margin-left:5px; }
    .btn-empty { float:right; }
}