<?php
/**
 * @category    Mana
 * @package     ManaPro_FilterAdvanced
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/**
 * Category layered navigation
 * @author Mana Team
 * Injected instead of standard catalog/layer/view.phtml.
 */
/* @var $this Mana_Filters_Block_View */
?>
<?php
/**
 * Category layered navigation
 *
 * @see Mage_Catalog_Block_Layer_View
 */

/* @var $core Mana_Core_Helper_Data */
$core = Mage::helper('mana_core');

/* @var $filterHelper Mana_Filters_Helper_Data */
$filterHelper = Mage::helper('mana_filters');
$params = $this->getRequest()->getParams();
?>
<?php if($this->canShowBlock()): ?>
<div class="block block-layered-nav filter-by" id='jq-block-layered-nav'>
    <?php if ($core->isMageVersionEqualOrGreater('1.7') && $this->getLayer()->getState()->getFilters()) : ?>
        <div class="actions">
            <span class="currently-shopping-by"><?php echo $this->__('CURRENTLY SHOPPING BY:') ?></span>
            <a class="btn-remove" title="Clear All" href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a>
        </div>
    <?php endif; ?>
    <?php echo $this->getStateHtml() ?>            
    <div class="block-content jq-accordion-group">        
        <div class="block-title jq-accordion-head">
           <span><?php echo $this->__('FILTER BY:') ?></span>
        </div>
        <div class="jq-accordion-body jq-accordion-group">
        <?php if($this->canShowOptions()): ?>
            <?php $_filterGroups = Mage::helper('mana_filters')->renderHtml($this, 'groups'); ?>
            <?php foreach ($_filterGroups as $_filterGroup): ob_start(); ?>
                <?php $_filters = $_filterGroup->getFilters(); ?>
                <?php foreach ($_filters as $_filter): ?>
                <?php if($_filter->getItemsCount()): ?>
                    <?php if($_filter->getName() != 'Stone Type' && $_filter->getName() != 'Molding Type' && $_filter->getName() != 'Mosaic Type' && $_filter->getName() != 'Installation/Maintenance Type' && $_filter->getName() != 'Made For You Type'): ?>
                    <dt class="<?php $filterHelper->renderHtml($this, 'name_css', array('filter' => $_filter)); ?>"
                        <?php $filterHelper->renderHtml($this, 'name_attributes', array('filter' => $_filter)); ?>
                    >
                        <?php $filterHelper->renderHtml($this, 'name_before', array('filter' => $_filter)); ?>
                    <h3><?php echo $this->__($_filter->getName()) ?></h3>
                        <?php $filterHelper->renderHtml($this, 'name_after', array('filter' => $_filter)); ?>
                    </dt>
                    <dd class="<?php $filterHelper->renderHtml($this, 'value_css', array('filter' => $_filter)); ?>">
                        <?php echo $_filter->getHtml() ?>
                    </dd>
                    <?php elseif($_filter->getName() == 'Stone Type' && $params['material'] == 16): ?>
                    <dt class="<?php $filterHelper->renderHtml($this, 'name_css', array('filter' => $_filter)); ?>"
                        <?php $filterHelper->renderHtml($this, 'name_attributes', array('filter' => $_filter)); ?>
                    >
                        <?php $filterHelper->renderHtml($this, 'name_before', array('filter' => $_filter)); ?>
                    <h3><?php echo $this->__($_filter->getName()) ?></h3>
                        <?php $filterHelper->renderHtml($this, 'name_after', array('filter' => $_filter)); ?>
                    </dt>
                    <dd class="<?php $filterHelper->renderHtml($this, 'value_css', array('filter' => $_filter)); ?>">
                        <?php echo $_filter->getHtml() ?>
                    </dd>
                    <?php elseif(($_filter->getName() == 'Molding Type' && $params['product_type'] == 37) || ($_filter->getName() == 'Mosaic Type' && $params['product_type'] == 42) || ($_filter->getName() == 'Installation/Maintenance Type' && $params['product_type'] == 28) || (($_filter->getName() == 'Made For You Typ' && $params['product_type'] == 27))): ?>
                    <dt class="<?php $filterHelper->renderHtml($this, 'name_css', array('filter' => $_filter)); ?>"
                        <?php $filterHelper->renderHtml($this, 'name_attributes', array('filter' => $_filter)); ?>
                    >
                        <?php $filterHelper->renderHtml($this, 'name_before', array('filter' => $_filter)); ?>
                    <h3><?php echo $this->__($_filter->getName()) ?></h3>
                        <?php $filterHelper->renderHtml($this, 'name_after', array('filter' => $_filter)); ?>
                    </dt>
                    <dd class="<?php $filterHelper->renderHtml($this, 'value_css', array('filter' => $_filter)); ?>">
                        <?php echo $_filter->getHtml() ?>
                    </dd>                    
                    <?php endif; ?>
                <?php endif; ?>
                <?php endforeach; ?>
                <?php if($_filterGroupHtml = trim(ob_get_clean())) : ?>
                    <?php $_filterGroupName = $_filterGroup->getName() ? $this->__($_filterGroup->getName()) : $this->__('Shopping Options'); ?>

                    <div class="block-subtitle m-filter-group <?php $filterHelper->renderHtml($this, 'group_css', array('group' => $_filterGroup)); ?>"
                        <?php $filterHelper->renderHtml($this, 'group_attributes', array('group' => $_filterGroup)); ?>
                    >
                        <?php $filterHelper->renderHtml($this, 'group_before', array('group' => $_filterGroup)); ?>
                        <?php $filterHelper->renderHtml($this, 'group_after', array('group' => $_filterGroup)); ?>
                    </div>

                    <dl class="narrow-by-list" id="narrow-by-list-<?php echo $_filterGroup->getId() ?>">
                        <?php echo $_filterGroupHtml ?>
                    </dl>
                    <script type="text/javascript">decorateDataList('narrow-by-list-<?php echo $_filterGroup->getId() ?>')</script>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
        </div>
    </div>
</div>
<?php endif; ?>
