.col3-layout { 
    .form-list { 
        .note { padding-left: 165px; max-width: 280px; }
        label { max-width: 150px; }
        input.input-text,
        textarea { width: 274px; }
        select { width: 280px; }
        .control .input-box { margin-left: 165px; }
        .customer-dob { 
            .dob-day input.input-text { width: 74px; }
            .dob-month input.input-text { width: 74px; }
            .dob-year { margin-right: 0; }
            .dob-year input.input-text { width: 98px; }
        }
    }
    .form-buttons { 
        max-width: 445px;
        p.back-link { max-width: 150px; }
    }
    p.required { max-width: 445px; }
}