/* Add to Links */
.add-to-links { 
    margin: 5px 0 0; font-size: 11px;
    li { margin: 2px 0; }
    a { color: #999; }
    .separator { display: none; }
}

/* Add to Cart */
.add-to-cart { 
    label { font-size: 12px; vertical-align: middle; font-weight: bold; margin-right: 5px; text-transform: capitalize; }
    .qty { vertical-align: middle; margin-right: 10px; width: 60px; }
    .paypal-logo { 
        clear: left; text-align: left;
        .paypal-or { clear: both; display: block; margin: 5px 60px 5px 60px; }
    }
}
.add-to-cart-alt { 
    white-space: nowrap; padding: 5px 0;
    .qty { margin-right: 5px; }
    .qty,
    .button { vertical-align: middle; }
}
.bml-checkout-type,
#topCartContent .actions li { list-style: none; }
.bml-checkout-type { .bml_button { width: 150px; display: inline-table; }
}

/* On product view */
.product-view .product-essential,
.add-to-cart { 
    button.btn-cart span { 
        background-image: url(../images/bkg_btn-co.gif); padding: 0 0 0 13px !important; height: 27px !important;
        span { border: 0; background-image: url(../images/bkg_btn-co.gif); padding: 1px 32px 0 19px !important; color: #fff; font: bold 15px/26px Arial, Helvetica, sans-serif !important; height: 26px; text-transform: none; }
    }
    button.btn-gr span span { font-size: 14px !important; padding: 1px 18px 0 10px !important; }
}
.product-view .add-to-cart { 
    .paypal-logo { 
        margin: 0;
        &.bill-me-latter { margin: 10px 0; }
    }
}

/* Add to Links + Add to Cart */
.add-to-box { 
    .add-to-links { 
        margin: 0 !important;
        li { margin: 0 0 2px; }
    }
}