/* Availability */
.availability { 
    font-weight: bold;
    &.in-stock { color: #1b6800; }
    &.out-of-stock { color: #cf3a00; }
}
.availability-only { 
    margin: 10px 0 7px; line-height: 16px; background: url(../images/i_availability_only.gif) 0 50% no-repeat; padding-left: 15px;
    span,
    a { border-bottom: 1px dashed #751d02; color: #000; }
    a { background: url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat; cursor: pointer; padding-right: 15px; text-decoration: none; }
    .expanded { background-position: 100% -15px; }
    strong { color: #d12c01; }
}
.availability-only-details { 
    margin: 0 0 7px; border: 1px solid #d9d9d9;
    thead { background: url(../images/bkg_thead.gif) repeat-x scroll 0 0 #e8e8e8; }
    th,
    td { padding: 2px 8px; }
    th { border-bottom: 1px solid #d9d9d9; font-size: 10px; text-transform: uppercase; }
    td { background: #fff; font-size: 11px; }
    tr.odd td.last { color: #d95e00; font-weight: bold; }
}