/* Block: Poll */
.block-poll { 
    li { margin: 5px 0; }
    input.radio { float: left; margin: 1px -18px 0 0; vertical-align: top; }
    .label { display: block; margin-left: 18px; }
    .votes { float: right; font-weight: bold; margin-left: 10px; }
}