/* Block: Banner */
.block-banner { 
    border:0; margin:10px 0;
    .block-content { border-top:0; padding:0; background:#cbcbcb; text-align:center; }
}
.top-container .block-banner { background:#d0d0d0; margin:0; }