/* Block: List */
.block-list { 
    .block-content ol { margin: -5px -13px; }
    li.item { padding: 5px 10px 5px 13px; }
    .actions { padding: 5px 0 0; }
}
.sidebar { 
    .block-list { 
        .product-name { 
            font: normal 11px/1.25 Arial, Helvetica, sans-serif; color: #444;
            a { color: #444; }
        }
    }
}