@import 'theme/common_breakpoints_variables';

/* BreadCrumbs */
.breadcrumbs {
	max-width: $xtra-large-min + 28;
	padding: 0 14px;
	width: 100%;
	margin: 24px auto 5px;
	text-align: left;
	/**/
	font: normal 9px 'Sweet Sans Medium';
	//display: none;

	li {
		display: inline;

		span {
			color: #494742;
			text-decoration: none;
		}
	}
	a {
		color: #494742;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
.mb-breadcrumbs {
	//display: none;
}
.breadcrumbs-browse {
	height: 10px;
	font: normal 9px/3px 'Sweet Sans Medium';
	letter-spacing: 0.029em;
	text-transform: capitalize;
	margin: 22px 0px 48px 0px;

	span {
		text-transform: none;
	}
	a {
		text-decoration: underline;
		color: #494742;

		&:hover {
			text-decoration: none;
		}
	}
	li {
		float: left;

		&:first-child {
			margin-right: 4px;

			a {
				margin-right: 2px;
			}
		}
		&:last-child {
			margin-left: 4px;
			text-transform: capitalize;}
	}
}
@media only screen and (max-width:$large-max) {
}
@media only screen and (max-width:$medium-max) {
}
@media only screen and (max-width:$small-max) {
	.breadcrumbs-browse {
		margin: 26px 0px 32px 0px;
		.breadcrumbs{display:none;}

		a {
			cursor: pointer;
		}
		.left {
			display: none;
		}
	}
}