/* Clears ================================================================================ */
.account-login .form-list:after,
.wishlist-management .table-caption:after,
.product-options dt:after,
#bundleProduct:after,
.events-slider:after,
.product-image-popup .nav:after,
.gift-item:after,
.block-content:after,
.block-list li.item:after,
.block-poll li:after,
.currently li:after,
.order-info:after,
.top-cart .actions:after,
.header .quick-access:after,
.product-view .box-related li.item:after,
.bundle-summary .product:after,
.collateral-tabs:after,
.block-cart .block-content .item:after,
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header-panel:after,
#nav:after,
.main:after,
.footer-before-container:after,
.footer-container:after,
.footer:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block li.item:after,
.block .actions:after,
.mini-products-list li:after,
.cms-index-index .block-featured li.item:after,
.title-buttons:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.products-grid:after,
.products-list li.item:after,
.product-view:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add-tags:after,
.product-options .options-list li:after,
.options-container-small .product-options:after,
.product-options-bottom:after,
.product-review:after,
.box-collateral:after,
.box-collateral .box-content:after,
.collateral-tabs .tab-content:after,
.account-login:after,
.cart .cart-collaterals:after,
.cart:after,
.opc .step-title:after,
.checkout-progress:after,
.form-list li:after,
.form-list li.fields .field:after,
.clearfix:after,
.buttons-set:after,
.buttons-set2:after,
.page-print .print-head:after,
.new-product-spotlight .more-new .item:after,
.addresses-list .col-2 li:after,
.product-view .product-shop:after { display: block; content: "."; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden; }
/* ======================================================================================= */