$sticky-transition:'.5s ease'; 
$pushmenu-transition:'.5s ease-out'; 

/* BREAKPOINT CONFIGURATION ==============================================================================*/
$xtra-large-min:1160px;  
/*Mini Desktop */
$large-max:1159px;
$large-min:990px; 
/* Tablet */
$medium-max:989px; 
$medium-min:768px; 
/* Mobile */
$small-max:767px; 
$small-max-iphone5:567px; 
$small-min:320px;

/* If required please use one addditional break point for mobile landscape view */
/* $small-portrait-max:479px; */

/* Media Query Sample */

// For Small Desktop 
// @media only screen and (max-width:$large-max){}

// For Medium Devices 
// @media only screen and (max-width:$medium-max) {}

// For Small Devices Landscape mode only
// @media only screen and (max-width:$small-max){}

// For Small Devices
// @media only screen and (max-width:$small-max) {}


