@charset "UTF-8";
/*
font-family: 'Sweet Sans Medium';
*/
@font-face {
	font-family: 'TiemposHeadlineWeb-LightItalic';
	src: url('../webfonts/TiemposHeadlineWeb-LightItalic.eot'); /* IE9 Compat Modes */
	src: url('../webfonts/TiemposHeadlineWeb-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../webfonts/TiemposHeadlineWeb-LightItalic.woff') format('woff') /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'TiemposTextWeb-Regular';
	src: url('../webfonts/TiemposTextWeb-Regular.eot'); /* IE9 Compat Modes */
	src: url('../webfonts/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../webfonts/TiemposTextWeb-Regular.woff') format('woff') /* Pretty Modern Browsers */
}
@font-face {
	font-family: 'TiemposTextWeb-RegularItalic';
	src: url('../webfonts/TiemposTextWeb-RegularItalic.eot'); /* IE9 Compat Modes */
	src: url('../webfonts/TiemposTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../webfonts/TiemposTextWeb-RegularItalic.woff') format('woff') /* Pretty Modern Browsers */
}
$font-ver-date:'20160419';
@font-face {
  font-family: "articons";
  src:url("../webfonts/artistic-tiles-icons.eot?ver="+$font-ver-date);
  src:url("../webfonts/artistic-tiles-icons.eot?#iefix&ver="+$font-ver-date) format("embedded-opentype"),
    url("../webfonts/artistic-tiles-icons.woff?ver="+$font-ver-date) format("woff"),
    url("../webfonts/artistic-tiles-icons.ttf?ver="+$font-ver-date) format("truetype"),
    url("../webfonts/artistic-tiles-icons.svg#art-icons&ver="+$font-ver-date) format("svg");
  font-weight: normal;
  font-style: normal;
}
/*

"\e000"
"\e001"
"\e002"
"\e003"
"\e004"
"\e005"
"\e006"
"\e007"
"\e008"
"\e009"
"\e00a"
"\e00b"

 */