@charset "UTF-8";

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}
/* usage eg:- @include prefix(opacity, .7, webkit moz); */


@mixin corraRetinaBG($file, $type, $repeat, $width, $height, $xpos, $ypos) {
  background-image: url($file + '.' + $type);
  background-repeat: $repeat;
  background-position: $xpos $ypos;  
  background-size: $width $height;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    //only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      //-webkit-background-size: $width $height;
      //-moz-background-size: $width $height;
      //-o-background-size: $width $height;
      background-size: $width $height;
      background-repeat: $repeat;
      background-position: $xpos $ypos;
    }
  }/*
  @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (-moz-min-device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3/1),
    only screen and (min-device-pixel-ratio: 3){
    & {
      background-image: url($file + '@3x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
      background-repeat: $repeat;
      background-position: $xpos $ypos;
    }
  }*/
}


/**/
@mixin clearit() {
   &::after {
            clear: both;
            content: "";
            display: block;
        }
}

/**/
@mixin articons($content, $size, $color) {

    font-family: 'articons';
    //speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 100%;/**/
    content:$content;
    color:$color;
    font-size:$size;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    text-indent: 0;
    position: absolute;
  }