/* Data Table */
.table-caption { 
    border: 1px solid #ddd; border-bottom: 0; margin: -1px 0 0; background: #fff url(../images/bkg_block-title.gif) 0 100% repeat-x; font: 14px/1.25 Arial, Helvetica, sans-serif; padding: 3px 7px 4px; color: #444;
    a { font-size: 11px; text-transform: lowercase; }
}
.data-table { 
    border: 1px solid #d9d9d9; border-bottom: 0; width: 100%; border-collapse: separate;
    th { 
        padding: 5px 12px; color: #2d2d2d; border-bottom: 1px solid #d9d9d9; font-weight: normal; text-transform: uppercase; white-space: nowrap;
        .tax-flag { white-space: nowrap; font-weight: normal; }
        &.label { font-weight: bold; text-transform: none; border-color: #fff; background-color: #f7f7f7; }
    }
    td { 
        padding: 5px 12px;
        &.label { font-weight: bold; text-transform: none; border-color: #fff; background-color: #f7f7f7; }
        &.value { float: none !important; }
    }
    thead { background: #e8e8e8 url(../images/bkg_thead.gif) repeat-x 0 0; font-size: 11px; }
    tfoot { 
        background-color: #ededed;
        td { padding: 5px 12px; }
        th { border: none; text-transform: none; }
    }
    tr { 
        &.last th,
        &.last td { border-bottom: 1px solid #d9d9d9; }
        &:last-child td,
            &:last-child th { border-bottom: 1px solid #d9d9d9; }
        &.odd { background-color: #fff; }
        &.even { background-color: #fafafa; }
    }
    tbody { 
        tr { 
            &:nth-child(odd) { background-color: #fff; }
            &:nth-child(even) { background-color: #fafafa; }
        }
        &.odd { 
            tr.border td { border-bottom-width: 1px; }
            td { border-width: 0 1px; }
        }
        &.even { 
            background-color: #f5f5f5;
            tr.border td { border-bottom-width: 1px; }
            td { border-width: 0 1px; }
        }
    }
    .link-rss { display: block; }
}
// data-table

.page-popup { 
    .data-table { 
        td,
        th { border-bottom: 1px solid #d9d9d9; }
    }
    .buttons-set .button { float: right; }
}
tr { 
    &.summary-total { 
        cursor: pointer;
        .summary-collapse { float: right; text-align: right; padding-left: 20px; background: url(../images/bkg_collapse.gif) 0 4px no-repeat; cursor: pointer; }
    }
    &.show-details { 
        .summary-collapse { background-position: 0 -53px; }
    }
    &.summary-details { 
        td { background-color: #ede9e6; font-size: 12px; padding: 5px !important; }
    }
    &.summary-details-excluded { font-style: italic; }
}