.disabled { 
    position: relative; z-index: 1;
    &:after { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; background: #fff; opacity: 0.2; }
}