.hotspot {
	display: block;
	height: 23px;
	width: 23px;
	position: absolute;
	z-index: 5;
	text-indent: -999em;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 50px;
	background: rgba(255, 255, 255, .5);
	padding: 2px;
	background-clip: padding-box;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);

	span {
		border-radius: 40px;
		height: 11px;
		width: 11px;
		position: absolute;
		left: 4px;
		top: 4px;
		box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.02);
		display: block;
		background: rgba(255, 255, 255, 1);
	}
}
.fp-wrapper {
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;

	.fp-info {
		position: absolute;
		right: 8.2%;
		top: 0%;
		background-color: rgba(0, 0, 0, 0.5);
		width: 33.4%;
		color: #fff;
		padding: 33px 35px 34px 35px;
		text-align: left;
		width: 100%;
		max-width: 350px;
		word-break: break-all;

		.fp-close {
			position: absolute;
			right: 35px;
			top: 34px;
			width: 14px;
			height: 14px;
			cursor: pointer;
			@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, -114px);
			text-indent: -999em;
		}
		.fp-image-thumb {
			width: 105px;
			float: left;
			margin-bottom: 24px;
		}
		h3 {
			font-family: 'Sweet Sans Medium';
			font-size: 32px;
			width: 100%;
			float: left;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			text-align: left;
			line-height: 30px;
			font-weight: normal;
		}
		h4 {
			font-family: 'TiemposTextWeb-RegularItalic';
			font-size: 19px;
			width: 100%;
			float: left;
			text-transform: capitalize;
			letter-spacing: 0.02em;
			font-weight: normal;
			margin: 2.4% 0px 4%;
		}
		.fp-desc {
			width: 100%;
			float: left;
			letter-spacing: 0.018em;
			line-height: 21px;
			font-size: 13px;
			word-break: normal;
		}
		.fp-pdp-link {
			color: #494742;
			padding: 22px 33px;
			text-transform: uppercase;
			font: normal 10px/3px 'Sweet Sans Medium';
			background-color: #fff;
			text-decoration: none;
			width: 277px;
			letter-spacing: 0.08em;
			float: left;
			text-align: center;
			margin-top: 6%;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
@media only screen and (max-width:$large-max) {
	.fp-wrapper {
		.fp-info {
			h3 {
				font-size: 25px;
				line-height: 24px;
			}
		}
	}
}
@media only screen and (max-width:$medium-max) {
	.fp-wrapper {
		.fp-info {
			padding: 22px 3.8% 24px 25px;

			.fp-image-thumb {
				width: 71px;
				margin-bottom: 9px;
			}
			h3 {
				font-size: 20px;
				line-height: 21px;
			}
			h4 {
				font-size: 17px;
				margin: 5px 0px 8px;
				line-height: 19px;
			}
			.fp-desc {
				line-height: 17px;
				font-size: 12px;
			}
			.fp-pdp-link {
				padding: 15px 27px;
				width: 236px;
				margin-top: 5%;
			}
		}
	}
}
@media only screen and (max-width:$small-max) {
	.fp-wrapper {
		.fp-info {
			padding: 11px 13px 7px 15px;
			left: 0px;
			bottom: 0px;
			top: auto;
			max-width: none;
			min-height: 55px;

			.fp-close {
				display: none;
			}
			.fp-image-thumb {
				width: 71px;
				margin-bottom: 9px;
				display: none;
			}
			h3 {
				font-size: 17px;
				line-height: 16px;
				width: 65%;
				letter-spacing: 0.02em;
			}
			h4 {
				font-size: 13px;
				margin: 2px 0px 0px;
				width: 65%;
				letter-spacing: -0.02em;
			}
			.fp-desc {
				display: none;
			}
			.fp-pdp-link {
				padding: 15px 5px;
				width: 51px;
				float: right;
				cursor: pointer;
				letter-spacing: 0.06em;
				font-size: 9px;
				height: 33px;
				margin-top: -17px;
				top: 50%;
				position: absolute;
				right: 14px;

				span {
					display: none;
				}
			}
		}
	}
}