/* Footer ================================================================================ */
.footer-before-container {
}
.form-subscribe {
    label {
    }
    input {
        &.input-text {
            border-top: 1px solid #9e9d9a;
            border-bottom: 1px solid #9e9d9a;
            border-right: 0px solid #9e9d9a;
            border-left: 1px solid #9e9d9a;
            letter-spacing: 0em;
            font: normal 10px/17px normal 'Sweet Sans Medium';
            height: 35px;
            padding: 0 10px;
            width: 222px;
        }
    }
    button {
        &.button {
            border: 1px solid #9e9d9a;
            padding: 0;
            margin: 0;
            background: #fff;
            overflow: visible;
            cursor: pointer;
            vertical-align: middle;
            width: 104px;
            height: 35px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            font: normal 11px/33px 'Sweet Sans Medium';
            float: left;
            text-transform: uppercase;

            &:hover {
                background: #494742;
                color: #fff;
            }
        }
    }
}
.form-subscribe-header {
    float: left;
    margin-right: 33px;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
}
.footer-container {
    .footer-news-social {
        border-bottom: solid 2px #e7e6e6;
        margin: 0 auto 41px auto;
    }
    ul.none-mob li {
        margin-bottom: 4px;

        a {
            font: normal 15px/22px 'Sweet Sans Medium';
            text-transform: uppercase;
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    background-color: #fff;
    border-top: solid 2px #e7e6e6;
    text-align: left;

    .footer-top {
        margin: 0 auto;
        min-height: 76px;
        width: 91%;
        max-width: 1160px;

        .newsltr {
            float: left;
            width: 45%;
            white-space: nowrap;
        }
        .social-icon {
            float: right;
            padding-top: 10px;

            .mob-border {
                width: auto;
                padding: 0px;
                border: none;
            }
            .label-connect {
                font: normal 15px/22px 'Sweet Sans Medium';
                text-transform: uppercase;
                letter-spacing: 0.01em;
                margin-right: 37px;
                float: left;
            }
            li {
                display: inline-block;
                float: left;

                > a {
                    width: 23px;
                    height: 23px;
                    display: block;
                    margin-right: 32px;
                    text-indent: -999em;
                    @include corraRetinaBG('../images/icon_sprite_a', png, no-repeat, 200px, 1200px, 0, -526px);

                    &:hover {
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
                        filter: alpha(opacity=70);
                        opacity: 0.7;
                    }
                    &.tw {
                        background-position: -19px -125px;
                    }
                    &.inst {
                        background-position: -53px -125px;
                    }
                    &.ha {
                        background-position: -87px -126px;
                    }
                    &.fb {
                        background-position: -120px -124px;
                    }
                    &.pint {
                        background-position: -155px -126px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
.footer {
    width: 100%;
    min-width: 320px;
    margin: 30px auto 0;
    color: #494742;
    font-family: "Sweet Sans Medium";

    a {
        &:hover {
        }
    }
    .footer-center {
        max-width: 1160px;
        margin: 0 auto 33px auto;
    }
    .footer-company {
        width: 100%;
        float: left;
    }
    .footer-help {
        width: 100%;
        float: left;
    }
    .contract-footer {
        width: 100%;
        float: left;
    }
    .contact-footer {
        width: 17.52178%;
        float: left;
    }
    .one {
        float: left;
        border: 0px solid red;
        width: 18%;
        margin-right: 9.3%;
    }
    .one-inn {
        float: left;
        border: 0px solid red;
        width: 100%;
        margin-top: 26px;
    }
    h3 {
        font: normal 15px/22px 'Sweet Sans Medium';
        text-transform: uppercase;
        letter-spacing: 0.01em;
        padding-bottom: 16px;
    }
    .accordion-body {
        li {
            font: normal 12px/22px 'Sweet Sans Medium';
            text-transform: uppercase;
            color: #494742;
            margin-bottom: 3px;
        }
        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
// footer


.footer-bottom {
    margin: 0 auto;
    min-height: 43px;
    width: 91%;
    max-width: 1160px;
}
.footer-copy-privacy {
    border-top: solid 2px #e7e6e6;
    padding: 34px 0px 11px;
    margin-top: 28px;
}
.footerlogo {
    float: left;
    height: 37px;

    img {
        float: left;
        margin-right: 23px;
    }
    h4 {
        float: left;
        font: normal 17px/29px 'Sweet Sans Medium';
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }
}
.footercopy {
    float: right;
    height: 37px;
    font: normal 11px/22px 'TiemposTextWeb-Regular'
}
address.copyright {
    float: left;
    font: normal 11px/22px 'TiemposTextWeb-Regular';
    margin-right: 20px;
}
.policy {
    .nobo-pad {
        border-right: 0px solid #494742;
        padding: 0 0px 0 7px;
    }
    float: left;
    margin-top: 7px;

    ul {
        margin: 0px;
        padding: 0px;

        li {
            float: left;
            font: normal 11px/7px 'TiemposTextWeb-Regular';
            border-right: 1px solid #494742;
            padding: 0 7px;
            height: 9px;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
@media only screen and (max-width:$large-max) {
    .form-subscribe input.input-text {
    }
    .footer .footer-center {
        padding: 0 23px;
    }
    .footer-container {
        .footer-top {
            padding: 0px;
            width: 99%;

            .social-icon {
                width: 46%;
            }
            .newsltr {
                width: 54%;
                padding-left: 12px;
            }
            .social-icon li > a {
                margin-right: 23px;
            }
        }
        ul.none-mob li a {
            font: normal 12px/18px 'Sweet Sans Medium';
        }
    }
    .footer {
        width: 100%;
    }
    .footer-bottom {
        width: 96%;
    }
}
@media only screen and (max-width:$medium-max) {
    .footer-bottom {
        margin-bottom: 19px;
        display: inline-block;
    }
    .footerlogo img {
        margin: 0 auto 11px auto;
        float: none;
    }
    .mob-border {
        margin-top: 23px;
    }
    .form-subscribe button.button {
        width: 94px;
    }
    .email-top {
        margin: 0 auto;
        width: 318px;
    }
    .footerlogo {
        float: none;
        width: 31%;
        margin: 0 auto 20px auto;
    }
    .footercopy, address.copyright {
        width: 100%;
        margin-bottom: 12px;
    }
    .footer-copy-privacy {
        margin-top: 0px;
    }
    .policy {
        float: none;
        margin: 0 auto;
        clear: both;
        width: 90%;

        ul {
            display: inline-block;
        }
    }
    .footer-container {
        .footer-top {
            .newsltr {
                width: 45.3%;
                margin: 0 auto;
                float: none;
                padding-bottom: 117px;
            }
        }
        ul.none-mob li {
            margin-bottom: 13px;

            a {
                font: normal 13px/18px 'Sweet Sans Medium';
            }
        }
    }
    .form-subscribe-header {
        width: 100%;
        text-align: center;
        margin-bottom: 6px;
    }
    .footer {
        .one {
            width: 100%;
            margin-right: 0%;
        }
        h3 {
            padding: 0px;
            cursor: pointer;
            margin-bottom: 16px;
            font: normal 13px/22px 'Sweet Sans Medium';
        }
        .footer-center {
            width: 85%;
        }
        .contact-footer {
            width: 100%;
        }
        .one-inn {
            margin-top: 0px;
            width: 36%;
        }
    }
    .label-connect {
        display: none;
    }
    .social-icon {
        li {
            float: left;

            > a {
                width: 23px;
                height: 23px;
                display: block;
                margin-right: 32px;
                text-indent: -999em;
                @include corraRetinaBG('../images/icon_sprite_a', png, no-repeat, 200px, 1200px, 0, -526px);

                &.tw {
                    background-position: -19px -125px;
                }
                &.inst {
                    background-position: -53px -125px;
                }
                &.ha {
                    background-position: -87px -126px;
                }
                &.fb {
                    background-position: -120px -124px;
                }
                &.pint {
                    background-position: -155px -126px;
                    margin-right: 0;
                }
            }
        }
    }
    .on-mob {
        margin: 0 auto;
        width: 256px;
    }
}
.mob-border {
    float: left;
    width: 100%;
    border-top: 2px solid #e7e6e6;
    padding: 23px 0px;
}
.footer .tab-width .jq-accordion-head {
    @include corraRetinaBG('../images/accord-footer', png, no-repeat, 10px, 30px, right, 7px);

    &.open {
        border-bottom: none;
        @include corraRetinaBG('../images/accord-footer', png, no-repeat, 10px, 30px, right, -16px);
    }
}
@media only screen and (max-width:$small-max) {
    .cms-home {
        .footer-container {
            border: none;
        }
    }
    .footer .footer-center {
        padding: 0 0px;
    }
    .footerlogo img {
        margin: 0 auto 11px auto;
        float: none;
    }
    .email-top {
        margin: 0 auto;
        width: 264px;
    }
    .footer .mob-width .jq-accordion-head {
        @include corraRetinaBG('../images/accord-footer', png, no-repeat, 10px, 30px, right, 7px);
    }
    .footer .mob-width .jq-accordion-head.open {
        border-bottom: none;
        @include corraRetinaBG('../images/accord-footer', png, no-repeat, 10px, 30px, right, -16px);
    }
    .footer .one, .footer .contact-footer {
        width: 95%;
        margin-right: 0%;
        padding-left: 10px;
    }
    .on-mob {
        width: 256px;
    }
    .footer .one-inn {
        width: 65%;
    }
    .footer-container .footer-top .newsltr {
        width: 100%;
        padding-bottom: 37px;
        display: inline-block;
        padding-left: 0px;
    }
    .form-subscribe input.input-text {
        width: 170px;
    }
    .footercopy {
        margin-top: 30px;
    }
    .footerlogo {
        width: 100%;
    }
    .footerlogo h4 {
        float: none;
        margin: 0 auto;
    }
    address.copyright {
        width: 100%;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 11px;
    }
    .social-icon {
        li {
            float: left;

            > a {
                width: 23px;
                height: 23px;
                display: block;
                margin-right: 32px;
                text-indent: -999em;
                @include corraRetinaBG('../images/icon_sprite_a', png, no-repeat, 200px, 1200px, 0, -526px);

                &.tw {
                    background-position: -19px -125px;
                }
                &.inst {
                    background-position: -53px -125px;
                }
                &.ha {
                    background-position: -87px -126px;
                }
                &.fb {
                    background-position: -120px -124px;
                }
                &.pint {
                    background-position: -155px -126px;
                    margin-right: 0;
                }
            }
        }
    }
}