@import 'theme/common_breakpoints_variables';

/* Form Elements ================================================================================ */
input {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
}
input, select, textarea, button {
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #444;
}
input.input-text, select, textarea {
    background: #fff;
    border: 1px solid #c7c7c7;
}
input.input-text, textarea {
    padding: 2px 2px;
}
select {
    padding: 1px;

    option {
        padding-right: 10px;
    }
    &.multiselect option {
        padding: 2px 2px;
        border-bottom: 1px solid #bbb;

        &:last-child {
            border-top: 0;
        }
    }
}
textarea {
    overflow: auto;
    resize: vertical;

    &.default-value {
        color: #ddd;
    }
}
input {
    &.radio, &.checkbox {
        margin-right: 3px;
        font-size: 11px !important;
        margin-top: 2px;
        vertical-align: top;
    }
    &.radio {
        font-size: 10px !important;
    }
    &.qty {
        width: 2.5em !important;
    }
    &.disabled {
        background: #f6f6f6 !important;
        color: #bbb !important;
    }
}
button.button::-moz-focus-inner {
}

/* FF Fix */
button.button {
}

/* <- Safari & Google Chrome Fix */
button.button {
}
a.button, button.button span, a.button span, button.button span span {
}
a.button, button.button span {
}
a.button span, button.button span span {
}
a.button {
}
a.button {
}
.button:active {
}
button.button:active span span {
}
button {
    &.btn-small span {
    }
    &.disabled {
        span {
        }
    }
}

/* Form Highlight */

/*input.input-text:focus,select:focus,textarea:focus {}*/

/*.highlight { background:#eee; }*/

/* Form Validation */
.validation-advice {
    clear: both;
    font-size: 11px !important;
    padding: 3px 0 0 !important;
    color: #d91a00 !important;
}
.product-options .validation-error .options-list, .validation-failed {
    border: 1px solid #f47d4e !important;
    background: #fff7f5 !important;
}
input.input-text.validation-failed, textarea.validation-failed {
}
span.validation-passed, div.validation-passed {
    padding-right: 20px;
}
span.validation-error, div.validation-error {
    padding-right: 20px;
}
.required em {
    color: #f15c22;
    margin-right: 4px;
}
p.required {
    margin: 0;
    padding: 5px 0 7px;
    text-align: right;
    max-width: 620px;
    font-size: 11px;
    color: #f02800;
}
.form-list .validation-advice {
    width: 250px;
    margin-right: -250px;
}

/* Expiration date and CVV number validation fix */
.v-fix {
    float: left;

    .validation-advice {
        display: block;
        width: 12em;
        margin-right: -12em;
        position: relative;
    }
}

/* Fieldset */
.fieldset {
    font-size: 12px;
    margin: 0 0 16px;

    p {
        margin: 0 0 1.5em;
    }
    h2.legend {
        margin: 0 0 1.5em;
        color: #000;
    }
}

/* Form lists */
.form-list {
    li {
        margin: 0 0 9px;
        vertical-align: top;
    }
    label {
        float: left;
        width: 225px;
        padding: 2px 15px 0 0;
        font-size: 12px;
        font-weight: bold;
        color: #444;
        text-align: right;
    }
    .value {
        float: left;
        padding: 2px 0 0;
    }
    .note {
        clear: both;
        font-size: 11px;
        width: 380px;
        margin: 0;
        padding: 3px 0 0 240px;
    }
    span.label {
        font-weight: normal;
    }
    .input-box {
        float: left;

        /* width:256px; */
        a {
            font-size: 11px;
            margin-top: 4px;
        }
    }
    input.input-text, textarea {
        float: left;
        width: 374px;
        vertical-align: top;
    }
    textarea {
        width: 374px;
        height: 13em;
    }
    select {
        float: left;
        width: 380px;
        vertical-align: top;
    }
    p {
        margin: 0;
        padding: 0 0 0 240px;
    }
}
ul.add-row, .form-list li.add-row {
    margin-top: 15px;
}
ul.add-row .btn-remove, .form-list li.add-row .btn-remove {
    font-size: 0;
    line-height: 0;
    padding: 5px 5px 0 0;
    margin: 0;
    text-align: right;
}
.form-list {
    .range {
        input.input-text {
            float: none;
            width: 64px;
            vertical-align: middle;
        }
    }
}
.form-list {
    .add-field {
        .input-box {
            margin-left: 240px
        }
    }
    .control {
        position: relative;
        vertical-align: top;
        z-index: 1;
    }

    /* row with checkbox or radio button */
    .control {
        label {
            line-height: 16px;
        }
        .input-box {
            position: absolute;
            left: 0;
            margin-left: 240px;
            line-height: 16px;
            padding-top: 1px;
        }
        input.radio {
            margin-top: 3px;
        }
    }
}
.form-alt {
    label {
        float: none;
        display: inline;
        width: auto;
    }
    li {
        margin: 0 0 5px;
        line-height: 16px;
    }
    select {
        width: 496px;
    }
    .input-box {
        width: 496px;
        margin-top: 5px;
        padding-bottom: 11px;
    }
    .input-text {
        width: 480px;
    }
}
.inner-form {
    margin: 10px 0 5px;
    padding: 10px 0 0;
    border: 1px dashed #d1d1d1;
    border-width: 1px;
    background: #f7f7f7;

    .form-alt {
        label {
            padding-left: 5px;
        }
    }
}

/* Date Of Birth */
.form-list {
    .customer-dob {
        label {
            float: none;
            width: auto;
            padding: 0;
            font-size: 11px;
            font-weight: normal;
            color: #777;
        }
        .input-box {
            float: left;
            width: auto;
            margin-right: 8px;

            .validation-advice {
                display: none !important;
            }
        }
        input.input-text {
            float: none;
            display: block;
            margin-bottom: 2px;
        }
        .dob-day, .dob-month, .dob-year {
            float: left;
            margin-right: 8px;
            padding-right: 0 !important;
            background: none !important;
        }
        .dob-day .validation-advice, .dob-month .validation-advice, .dob-year .validation-advice {
            display: none;
        }
        .dob-day {
            input.input-text {
                width: 104px;
            }
        }
        .dob-month {
            input.input-text {
                width: 104px;
            }
        }
        .dob-year {
            margin-right: 0;

            input.input-text {
                width: 138px;
            }
        }
    }
}

/* Combination of fields */
.form-list {
    li {
        &.fields {
            margin: 0;

            .field {
                clear: left;
                padding: 0 0 9px;
            }
        }
    }
}

/* Buttons */
.buttons-set {
    clear: both;
    margin: 15px 0;
}

/* general for button containing block */
.buttons-set {
    p.back-link {
        float: left;
        padding: 2px 15px 0 0;
        text-align: right;
        margin: 0;

        a {
            color: #999;
        }
    }
    p.back-link 
    a.button, button.button {
        float: right;
        margin-left: 7px;
    }
}
a.back-link {
    color: #999;
}
.buttons-set2 {
    clear: both;
    margin: 5px 0 0;
    padding: 5px;
    background-color: #ededed;
    text-align: right;
}
.form-buttons {
    margin: 0;
    max-width: 620px;
}

/* for button containing block under the general form */
.form-buttons {
    .button {
        margin-left: 15px;
        float: right;
    }
    p.back-link {
        float: left;
        width: 225px;
        padding: 2px 15px 0 0;
        text-align: right;
    }
}
a.button {
    color: #494742;
    display: inline-block;
    padding: 21px 33px;
    text-transform: uppercase;
    white-space: nowrap;
    font: normal 10px/3px 'Sweet Sans Medium';
    background-color: #fff;
    text-decoration: none;
    width: auto;
    letter-spacing: 0.09em;

    &:hover {
        text-decoration: underline;
    }
}
@media only screen and (max-width:$large-max) {
}
@media only screen and (max-width:$medium-max) {
}
@media only screen and (max-width:$small-max) {
    a.button {
        padding: 15px 56px;
        letter-spacing: 0.09em;
    }
}