.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 12;
    left:0;
    top: 0;
}
.header-container {
    background-color: #fff;
    border-bottom: 2px solid #e1e1e1;
    //@include prefix(transition, all $sticky-transition, webkit moz 0);

    #pushmenu_trigger {
        display: none;
    }
}
#search_mini_form {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    height: 0px;
    @include prefix(opacity, 0, webkit moz o);
    @include prefix(transition, all $sticky-transition, webkit moz o);
    overflow: hidden;
    border-top: 2px solid rgba(0, 0, 0, .1);

    &.show-search-box {
        @include prefix(opacity, 1, webkit moz o);
        height: 63px;
    }
    .form-search {
        width: 670px;
        margin: 14px auto;

        .input-text {
            width: 563px;
            height: 33px;
            border: 1px solid #9e9d9a;
            font-size: 11px;
            line-height: 33px;
            color: #494742;
            font-family: "Sweet Sans Medium";
            font-size: 11px;
            float: left;
            padding: 0 18px;
        }
        .button {
            font-family: "Sweet Sans Medium";
            font-size: 11px;
            background-color: #fff;
            color: #494742;
            border: 1px solid #9e9d9a;
            float: left;
            margin-left: -1px;
            height: 33px;
            width: 106px;
            cursor: pointer;
        }
    }
}
.header {
    max-width: $xtra-large-min + 28;
    padding: 0 14px;
    margin: 0 auto;
    width: 100%;
    font-size: 12px;
    position: relative;

    .branding {
        text-align: center;
        width: 392px;
        height: 36px;
        display: inline-block;
        margin: 31px auto 10px;

        h1.logo {
        }
        a.logo {
            display: block;
            width: 100%;
            height: 35px;
            @include corraRetinaBG('../images/art_sprite_A', png, no-repeat, 400px, 1600px, 0px, -13px);
        }
        .logo-image {
            max-width: 392px;
            width: 100%;
        }
    }
    .quick-access {
        font-family: 'TiemposTextWeb-RegularItalic';
        font-size: 12px;
        color: #494742;
        letter-spacing: .02em;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
        .loc-phone-wrapper {
            position: absolute;
            left: 14px;
            top: 30px;

            .separator {
                content: "|";
                font-family: 'TiemposTextWeb-Regular';
                padding: 0 11px 0 14px;
            }
        }
        #top-search-icon {
            position: absolute;
            right: 14px;
            bottom: 17px;
            width: 21px;
            height: 21px;
            text-indent: -9999px;

            &:after {
                @include articons('b', 24px, #494742);
                line-height: 1;/**/
                right: -3px;
                top: -2px;
            }
        }
    }
    .cart-myaccount-wrapper {
        position: absolute;
        right: 14px;
        top: 30px;

        .separator {
            content: "|";
            font-family: 'TiemposTextWeb-Regular';
            padding: 0 11px 0 14px;
        }
    }
    .top-myaccount {
        display: inline;
        position: relative;

        .my-account-dropdown-wrapper {
            display: none;
        }
        &:hover {
            .my-account-dropdown-wrapper {
                display: block;
                position: absolute;
                right: -40px;
                top: 15;
                padding-top: 29px;
                z-index: 10;
            }
        }
    }
    ul.my-account-dropdown {
        width: 158px;
        border: 3px solid #ebebeb;
        text-transform: uppercase;
        font-family: "Sweet Sans Medium";
        font-size: 12px;
        background: #fff;

        &::after {
            position: absolute;
            content: "";
            right: 44px;
            top: 32px;
            width: 24px;
            height: 8px;
            display: block;
            @include corraRetinaBG('../images/art_sprite_A', png, no-repeat, 400px, 1600px, -62px, -71px);
            margin: -8px 0 0 -12px;
        }
        li {
            border-bottom: 1px solid #ebebeb;

            a {
                color: #b3b2b1;
                @include prefix(transition, color .2s, webkit moz);
                display: block;
                line-height: 54px;

                &:hover {
                    color: #494742;
                    text-decoration: none;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.has-sticky-header {
    .header-container {
    }
    .header {
        height: 73px;

        .branding {
            width: 35px;
            height: 35px;
            float: left;
            margin: 19px 0 0 0;

            a.logo {
                background-position: -5px -58px;
                //@include corraRetinaBG('../images/art_sprite_A', png, no-repeat, 400px, 1600px, 0px, -13px);
                img{
                    display: none;
                }
            }
        }
        .quick-access {
            float: right;
            height: 24px;
            width: 188px;
            margin-top: 23px;

            .loc-phone-wrapper {
                position: relative;
                left: auto;
                top: auto;
                float: left;
            }
            #top-search-icon {
                position: relative;
                right: auto;
                bottom: auto;
                display: block;
                left: 27px;
                width: 26px;
                height: 24px;
                float: left;
                display: inline;

                &::after {
                    right: 0px;
                    top: 2px;
                }
            }
            .cart-myaccount-wrapper {
                position: relative;
                right: auto;
                top: auto;
                width: 80px;
                height: 24px;
                float: left;
                display: inline;
                left: 56px;
                //background-color:cyan;
            }
        }
        a.store-location {
            text-indent: -9999px;
            display: block;
            width: 26px;
            height: 24px;
            position: relative;

            &:after {
                @include articons('c', 24px, #494742);
                right: 0px;
                top: 2px;
            }
        }
        a.store-phone {
            display: none;
        }
        .separator {
            display: none;
        }
        div.top-myaccount {
            float: left;

            a.my-account-link {
                text-indent: -9999px;
                display: block;
                width: 26px;
                height: 24px;

                &:after {
                    @include articons('a', 26px, #494742);
                    right: -1px;
                    top: 0;
                }
            }
        }
    }
}
// For Small Desktop 
@media only screen and (max-width:$large-max) {

}
// For Medium Devices 
@media only screen and (max-width:$medium-max) {
    .header-container{    
        border-bottom: 1px solid #e1e1e1;
        min-height: 49px;
    }
    .header {
        .branding {
            width: 100%;
            text-align: center;
            margin: 0;
            position: relative;

            a.logo {
                margin: 16px auto 0 auto;
                width: 184px;
                height: 17px;
                background-size: 185px auto;
                background-position: -2px -6px;
            }
        }
        .separator {
            display: none;
        }
        .quick-access {
            #top-search-icon {
                display: none;
            }
        }
        .cart-myaccount-wrapper{
            top: 10px;
        }
    }

    .header-container {
        //height: 73px;
        //left: 0;
        //@include prefix(transition, left $pushmenu-transition, webkit moz o);

        #pushmenu_trigger {
            display: block;
            position: absolute;
            left: 4px;
            top: 13px;

            span {
                display: block;
                height: 2px;
                width: 21px;
                margin: 2px 0 3px 0;
                background-color: #676663;
            }
        }
    }
}
// For Small Devices
@media only screen and (max-width:$small-max) {
}