//

/* Layout ================================================================================ */
.page {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 0;
    @include prefix(transition, left $pushmenu-transition, webkit moz o);
}
.main {
    max-width: $xtra-large-min + 28;
    padding:0 14px;
    padding-top: 135px;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    min-height: 350px;
    @include prefix(transition, padding-top .2s, webkit moz o);
}
.has-sticky-header {
    .main {
        padding-top: 69px;
    }
}
.show-for-tab-mob {
    display: none;
}

/* Base Columns */
.col-left {
}
.col-main {
    position: relative;
}
.col-right {
}

/* 1 Column Layout */
.col1-layout {
    .col-main {
    }
    .breadcrumbs {
    }
}

/* 2 Columns Layout */
.col2-left-layout {
    .col-left {
        float: left;
        width: 204px / 1160px * 100%;
        text-align: left;
        padding-right: 10px;
    }
    .col-main {
        float: right;
        width: 956px / 1160px * 100%;
    }
}
.col2-right-layout {
}

/* 3 Columns Layout */
.col3-layout {
    .col-main {
    }
    .col-wrapper {
        .col-main {
        }
    }
}

/* Content Columns */
.col2-set {
    .col-1 {
    }
    .col-2 {
    }
    .narrow {
    }
    .wide {
    }
}
.col3-set {
    .col-1 {
    }
    .col-2 {
    }
    .col-3 {
    }
}
.col4-set {
    .col-1 {
    }
    .col-2 {
    }
    .col-3 {
    }
    .col-4 {
    }
}

/* ======================================================================================= */
.cms-for-clp, .design-tools, .interiorgallery-list,.interiorgallery-view,.cms-home {
    .main {
        max-width: none;
        padding-left:0px;
         padding-right:0px;
    }
    p {
        font-family: 'Sweet Sans Medium';
    }
}
.page-container {
    max-width: 1188px;
    width: 100%;
    padding: 0 14px;
    margin: 0 auto;
    display: inline-block;
}
.back-to-top {
    right: 0;
    color: #fff;
    background: #494742;
    z-index:10;

    a {
        font-family: 'Sweet Sans Medium';
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 16px 67px 16px 32px;
            letter-spacing: .025em;

        &::after {
            @include articons('o', 12px, #fff);
            border-left: 1px solid #d4d4d4;
            right: 15px;
            top: 0;
            height: 27px;
            padding: 20px 0 0 18px;
        }
    }
}
.jq-accordion-head{
    cursor: pointer;
}
// For Small Desktop 
@media only screen and (max-width:$large-max) {
    
}
// For Medium Devices 
@media only screen and (max-width:$medium-max) {
    .main {
        padding-top: 47px;
    }
    .show-for-tab-mob {
        display: inline;
    }
    body.pm-open {
        overflow-x: hidden;
    }
    .col2-left-layout {
        .col-left {
            float: left;
            width: 100%;
            text-align: left;
            padding-right: 0;
        }
        .col-main {
            float: left;
            width: 100%;
        }
    }
}
// For Small Devices Landscape mode only
@media only screen and (max-width:$small-max) {
}
// For Small Devices
@media only screen and (max-width:$small-max) {
}