/* Links */
ul {
    &.links {
        display: inline;

        li {
            display: inline;

            .separator {
                margin: 0 2px 0 5px;
                font-size: 10px;
                color: #8f8f8f;
            }
            &.last .separator {
                display: none;
            }
        }
    }
}