/********** < Navigation > ***********/
.nav-container {
    position: relative;
    z-index: 4;
    display: inline-block;
    //@include prefix(transition, all $sticky-transition, webkit moz o);
}
.mega-menu #nav {
    margin: 0 auto;
    min-height: 28px;
    text-align: left;
    display: inline-block;
    font-family: "Sweet Sans Medium";
    font-size: 12px;

    li {
        &.level-top {
            float: left;
            z-index: 1;
            font-size: 14px;

            a.level-top {
                letter-spacing: .02em;
                float: left;
                text-decoration: none !important;
                color: #494742;
                padding: 0 38px;
                text-transform: uppercase;
                //@include prefix(transition, all $sticky-transition, webkit moz o);

                span {
                    cursor: pointer;
                    float: left;
                    white-space: nowrap;
                    height: 56px;
                    line-height: 56px;
                    position: relative;
                    //@include prefix(transition, all $sticky-transition, webkit moz o);
                }
            }
            &.parent {
                position: relative;

                a.level-top {
                    span {
                        position: relative;

                        &::after {
                            @include articons('j', 8px, #b0aeab);
                            right: -18px;
                            top: 27px;
                        }
                    }
                }
            }
        }
    }
    &:hover, &.hover {
        li {
            &.level-top {
                a.level-top {
                    color: #cccccc;

                    span {
                        &::after {
                            color: #cccccc;
                        }
                    }
                }
                &:hover, &.hover {
                    a.level-top {
                        color: #494742;

                        span {
                            &::after {
                                color: #b0aeab;
                            }
                        }
                    }
                    .mega-menu-wrapper {
                        top: 56px;
                        opacity: 1;
                        @include prefix(transition, opacity $sticky-transition, webkit moz o);
                    }
                }
            }
        }
    }
}
.mega-menu .mega-menu-wrapper.show {
    top: 56px;
    opacity: 1;
}
.has-sticky-header .mega-menu .mega-menu-wrapper.show {
    top: 73px;
    opacity: 1;
}
.mega-menu .mega-menu-wrapper {
    background: #fff;
    position: absolute;
    margin: 0;
    top: -9999px;
    font-size: 10px;
    @include prefix(transition, opacity $sticky-transition, webkit moz o);
    opacity: 0;
    border: 3px solid #e1e1e1;
    border-top: none;
    padding: 40px 0;

    &.products {
        width: 1037px;
        left: -183px;

        > ul.level0 {
            > p {
                display: none;
            }
        }
    }
    &.design-tools {
        width: 534px;
        left: -5px;
    }
    &.gallery {
        width: 639px;
        left: -5px;
    }
    li {
        &.level1 {
            border-right: 1px solid #ebebeb;
            min-height: 260px;
            padding: 0 40px;
            float: left;
            display: inline;
            width: 248px;

            select {
                width: 100%;
            }
            &.collections {
                border-right: none;
            }
            &.tile-finder {
                border-left: 1px solid #ebebeb;
            }
            &.material {
                width: 316px;
                padding: 0 0 0 40px;
            }
            &.furnishing {
                width: 218px;
            }
            &.design-tools-lhs {
            }
            &.design-tools-rhs {
                width: 244px;
                height: 258px;
                background-color: #ccc;
                min-height: 0;
                border: none;
                padding: 0;
                text-align: center;
                line-height: 258px;

                a {
                    display: block;
                }
            }
            &.gallery-rooms {
                width: 180px;
                padding-right: 20px;
                border: none;
            }
            &.gallery-materials {
                width: 170px;
                padding: 0 20px 0 0;
                border: none;
            }
            &.gallery-rhs {
                width: 244px;
                height: 258px;
                background-color: #ccc;
                min-height: 0;
                border: none;
                padding: 0;
                text-align: center;
                line-height: 258px;
            }
            &:last-child {
                border-right: none;
            }
        }
        &.level2 {
            &.shop-by-material {
                float: left;
                width: 125px;
                padding: 0 15px 0 0;
            }
            &.other-ways-to-shop {
                float: left;
                width: 145px;
                padding: 0 15px 0 0;
            }
            &.design-tools-lhs-links {
                a {
                    color: #7a7976;
                    text-decoration: none;
                    margin: 0 0 9px 0;
                    float: left;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &.gallery-rooms-links {
                clear: left;
                overflow: hidden;
                @extend .menu-text-links;
            }
            &.gallery-materials-links {
                clear: left;
                overflow: hidden;
                @extend .menu-text-links;
            }
        }
        &.level3 {
            float: left;
            display: block;
            width: 100%;
            @extend .menu-text-links;
        }
    }
    h2 {
        color: #7a7976;
        font-size: 10px;
        margin-bottom: 9px;
        text-transform: uppercase;

        a {
            color: #7a7976;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    h3 {
        font-weight: normal;

        a {
            color: #494742;
            text-decoration: none;
            font-size: 12px;
            font-family: 'TiemposTextWeb-RegularItalic';
            text-transform: none;
            color: #494742;
            margin: 7px 0;
            float: left;
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .jq-accordian-group {
        border: 1px solid #ececec;
        font-size: 13px;
        margin-bottom: 10px;

        ul {
            border-top: 1px solid #ececec;

            li {
                word-break: break-all;
                line-height: 1;
                padding: 7px 14px;
                letter-spacing: .02em;
                font-size: 12px;
                cursor: pointer;
                @include prefix(transition, background-color $sticky-transition, webkit moz o);
                border-bottom: 1px solid #f5f5f5;

                &:hover {
                    background-color: #f5f5f5;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    h3.jq-accordian-head {
        cursor: pointer;
        position: relative;
        letter-spacing: .02em;
        font-size: 12px;
        padding: 7px 25px 8px 14px;
        text-overflow: ellipsis;
        overflow: hidden;

        &:after {
            @include articons('j', 10px, #807e7b);
            right: 13px;
            top: 11px;
        }
        &.open {
            &:after {
                @include articons('k', 10px, #807e7b);
                right: 13px;
                top: 11px;
            }
        }
    }
    .menu-btn {
        display: block;
        float: left;
        font-size: 11px;
        clear: left;
        margin-top: 20px;
        text-transform: uppercase;

        &.btn-gray {
            background-color: #494742;
            color: #fff;
            text-decoration: none;
            padding: 9px 30px 8px 30px;
            margin-top: 0;
        }
    }
    .menu-error {
        color: #c00;
        padding: 0px 0px 10px;
        float: left;
        font-size: 11px;
        margin: -7px 0 0 0;
    }
}
.menu-text-links {
    a {
        text-decoration: none;
        color: #494742;
        font-size: 12px;
        height: 25px;
        line-height: 1;
        position: relative;
        padding: 5px 0 4px 8px;
        display: block;
        float: left;
        @include corraRetinaBG('../images/art_sprite_A', png, no-repeat, 400px, 1600px, -102px, -63px);

        &:hover {
            text-decoration: underline;
        }
    }
}
.has-sticky-header {
    .mega-menu #nav {
        li.level-top {
            a.level-top {
                font-size: 13px;

                span {
                    height: 72px;
                    line-height: 72px;
                }
            }
            &.parent {
                a {
                    span {
                        &::after {
                            top: 33px;
                        }
                    }
                }
            }
        }
        &:hover {
            li.level-top {
                &:hover {
                    .mega-menu-wrapper {
                        top: 73px;
                    }
                }
            }
        }
    }
    .nav-container {
        float: left;
    }
    .mega-menu .mega-menu-wrapper {
        &.products {
          left: -5px;
        }
    }
}
// For Small Desktop 
@media only screen and (max-width:$large-max) {
    .mega-menu #nav {
        li.level-top {
            a.level-top {
                padding: 0 25px;
            }
        }
    }
    .mega-menu .mega-menu-wrapper {
        &.products {
            width: 960px;
            left: -109%;
        }
        &.gallery {
            left: -158px;
        }
        li.level1 {
            padding: 0 25px;
            width: 220px;

            &.material {
                width: 316px;
                padding: 0 0 0 25px;
            }
            &.furnishing {
                width: 198px;
            }
        }
    }
    .has-sticky-header {
        .mega-menu .mega-menu-wrapper {
            &.products {
                width: 960px;
                left: -33px;
            }
        }
    }

    /**/
}
// For Medium Devices 
@media only screen and (max-width:$medium-max) {
    .pushmenu-logo, #search_mini_form {
        //display: none;
    }
    .pushmenu-logo {
        height: 48px;
        border-bottom: 1px solid #e6e6e6;
        background-color: #f6f6f6;
        color: #494742;
        font-size: 12px;
        font-family: 'Sweet Sans Medium';
        display: block;
        line-height: 46px;

        .icon {
            display: block;
            float: left;
            width: 18px;
            height: 18px;
            @include corraRetinaBG('../images/art_sprite_A', png, no-repeat, 200px, 800px, -2px, -29px);
            margin: 14px 15px 0 15px;
            background-size: 200px 800px;
        }
    }
    #search_mini_form {
        &.show-search-box {
            height: auto;
            border: none;

            .form-search {
                width: 100%;
                margin: 0;
                position: relative;

                .input-text {
                    width: 100%;
                    border: none;
                    padding: 0 49px 0 13px;
                    color: #b3b2b1;
                    height: 49px;
                }
                .button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    text-indent: -9999px;
                    width: 49px;
                    height: 49px;
                    background-color: #fff;
                    border: none;

                    &::after {
                        @include articons('b', 20px, #494742);
                        right: 15px;
                        top: 13px;
                    }
                }
            }
        }
    }
    .nav-container {
        position: fixed;
        left: -241px;
        //left: 0;
        top: 0;
        width: 241px;
        height: 100%;
        border-top: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
        background-color: #fff;
        @include prefix(transition, left $pushmenu-transition, webkit moz o);
        overflow-y: scroll;
        text-align: left;
    }
    .push-menu {
        a {
            text-decoration: none;
        }

        /* EXTENDS STARTS HERE */
        .push-menu-first-level {
            color: #494742;
            display: block;
            font-family: 'Sweet Sans Medium';
            font-size: 12px;
            text-decoration: none;
            border-top: 1px solid #eaeaea;
            height: 48px;
            line-height: 48px;
            padding: 0 0 0 14px;

            &.open {
                border-bottom: 1px solid #eaeaea;
            }
        }
        .push-menu-second-level {
            @extend .push-menu-first-level;
            padding: 0 0 0 26px;
            background-color: #f0f0f0;
        }
        .push-menu-third-level {
            height: auto;

            li {
                border-bottom: 1px solid #eaeaea;
                height: 48px;
                line-height: 48px;
                padding-left: 26px;

                a {
                    display: block;
                    text-decoration: none;
                }
            }
            h2, h3 a, .room-visualizer-link a {
                display: block;
                border-bottom: 1px solid #eaeaea;
                height: 48px;
                line-height: 48px;
                padding-left: 26px;
                font-size: 12px;
                font-family: 'TiemposTextWeb-RegularItalic';
                color: #494742;
                background-color: #f5f5f5;
                font-weight: normal;
                text-decoration: none;
            }
            h2 {
                background-color: #f0f0f0;
                font-family: 'Sweet Sans Medium';
            }
        }

        /* EXTENDS ENDS HERE */
        .mega-menu-wrapper {
            &.products {
                ul.level0 {
                    > p {
                        display: none;
                    }
                }
            }
        }
        li {
            &.level0 {
                a.level-top {
                    @extend .push-menu-first-level;
                }
            }
            &.level1 {
                &.collections {
                    .jq-accordian-group {
                        display: none;
                    }
                    a.menu-btn {
                        display: none;
                    }
                    h2 {
                        a {
                            @extend .push-menu-second-level;
                            border-top: none;
                        }
                    }
                }
                &.tile-finder {
                    display: none;
                }
                &.material {
                    a {
                        //padding: 0 0 0 14px;
                    }
                }
                &.design-tools-rhs {
                    display: none;
                }
                .jq-accordion-head {
                    @extend .push-menu-second-level;
                }

                /* 
                        &.furnishing, &.material {
                            a.menu-btn {
                                @extend .push-menu-third-level;
                            }
                        } */
                &.gallery-rooms, &.gallery-materials, &.gallery-rhs {
                    @extend .push-menu-third-level;
                    h2.jq-accordion-head {
                        border-top: none;
                    }

                }
                &.gallery-rhs .room-visualizer-link a {
                    text-decoration: none;
                    border-bottom: none;
                    font-family: 'Sweet Sans Medium';
                    background-color: #f0f0f0;
                }
                &.gallery-rooms {                }
            }
            &.level2 {
                &.design-tools-lhs-links {
                    a {
                        @extend .push-menu-second-level;
                    }
                    &:first-child a {
                        border-top: none;
                    }
                }
                &.shop-by-material, &.other-ways-to-shop, &.furnishing-links {
                    @extend .push-menu-third-level;
                }
            }
        }
        a.menu-btn.shop-all-material {
            display: block;
            height: 48px;
            line-height: 48px;
            padding-left: 26px !important;
            font-size: 12px;
            font-family: 'TiemposTextWeb-RegularItalic';
            color: #494742;
            background-color: #f5f5f5;
            font-weight: normal;
            text-decoration: none;
        }
        a.menu-btn.shop-all-furnishing {
            display: block;
            height: 48px;
            line-height: 48px;
            padding-left: 26px !important;
            font-size: 12px;
            font-family: 'TiemposTextWeb-Regular';
            color: #494742;
            font-weight: normal;
            text-decoration: none;
        }
        .store-phone {
            display: none;
        }
        .store-location, .my-account-link {
            @extend .push-menu-first-level;
            font-family: 'TiemposTextWeb-RegularItalic';
        }
        .my-account-link {
            border-bottom: 1px solid #eaeaea;
        }
        .top-myaccount {
            &:hover {
                .my-account-dropdown {
                    display: none;
                }
            }
        }
        .jq-accordion-head {
            cursor: pointer;
            position: relative;

            &:after {
                @include articons('n', 9px, #333333);
                right: 13px;
                top: 20px;
            }
            &.open {
                background-color: #fafafa;

                &:after {
                    @include articons('j', 9px, #333333);
                    right: 13px;
                    top: 18px;
                }
            }
        }
    }
    .pm-open {
        .page {
            left: 241px;
        }
        .nav-container {
            display: block;
            left: 0;
        }
        .header-container {
            left: 241px;
        }

        /*  */
    }
    .pm-closing {
        .nav-container {
            display: block;
            left: -241px;
        }
    }
}
// For Small Devices Landscape mode only
@media only screen and (max-width:$small-max) {
}
// For Small Devices
@media only screen and (max-width:$small-max) {
}