/* Global Messages */
.messages { 
    width: 100%; overflow: hidden; text-align: left; margin-top: 10px;
    ul { 
        padding: 10px 17px 18px; margin: 0 0 -11px; background-position: 35px 100%; background-repeat: no-repeat; position: relative;
        li { margin: 0; padding: 0 0 3px; }
    }
    .message-common { border-style: solid !important; border-width: 1px !important; font-size: 12px !important; }
    li { 

        margin: 0 0 10px; padding: 0; word-wrap: break-word;

        &.error-msg,
        &.success-msg,
        &.note-msg,
        &.notice-msg { @extend .message-common; }

        /* Error Message */
        &.error-msg { 
            border-color: #e9581f; background-color: #fff5f3; color: #d91a00;
            a { color: #d91a00; }
        }

        /* Success Message */
        &.success-msg { 
            border-color: #446423; background-color: #eff5ea; color: #3d6611;
            a { color: #3d6611; }
        }

        /* Notification Message */
        &.note-msg,
        &.notice-msg { 
            border-color: #fcd344; background-color: #fafaec; color: #3d6611;
            a { color: #3d6611; }
        }
    }

    a { 
        text-decoration: underline;
        &:hover { text-decoration: none; }
    }
}// messages

/* Error Message */
p.error-msg { @extend .message-common; padding: 10px; margin: 10px 0; border-color: #e9581f; background-color: #fff5f3; color: #d91a00; }

/* std class reset */
.std .messages { 
    margin-top: 0; width: auto; list-style: none !important; padding: 0 !important; margin-bottom: 0 !important;
    ul { list-style: none !important; padding-left: 17px !important; margin: 0 0 -11px !important; }
}
