/* Misc */
.link-rss { 
    background: url(../images/icon_rss.gif) 100% 1px no-repeat; padding-right: 18px; white-space: nowrap;
    &:hover { color: #f58550; }
    .link-print { background: url(../images/icon_printer.gif) 0 1px no-repeat; padding: 2px 0 2px 25px; white-space: nowrap; }
    .link-cart { 
        font-size: 11px; font-weight: bold; color: #c73615; text-decoration: underline;
        &:hover { color: #c73615; text-decoration: none; }
    }
}
.data-table .btn-remove { display: block; margin: 0 auto; width: 13px; height: 12px; font-size: 0; line-height: 0; background: url(../images/btn_remove.gif) 0 0 no-repeat; text-indent: -999em; overflow: hidden; cursor: pointer; }
.cards-list { 
    dt { margin: 5px 0 0; }
    .offset { padding: 2px 0 2px 20px; }
}
.divider { margin: 16px 0; background: #e7e7e7; font-size: 0; line-height: 0; height: 1px; overflow: hidden; }