/* Global site notices */
.global-site-notice {
    border: 1px solid #cfcfcf;
    border-width: 0 0 1px;
    background: #ffff90;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: #2f2f2f;

    .notice-inner {
        width: 860px;
        margin: 0 auto;
        padding: 12px 0 12px 80px;
        background: url(../images/i_notice.gif) 20px 25px no-repeat;
        text-align: left;

        p {
            margin: 0;
            border: 1px dotted #cccc73;
            padding: 10px;
        }
        .actions {
            padding-top: 10px;
        }
    }
}

/* Cookie Notice */
.notice-cookie {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    opacity: 0.95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; /* IE8 */
}

/* Noscript Notice */
.noscript {
}

/* Demo Notice */
.demo-notice {
    margin: 0;
    padding: 6px 10px;
    background: #d75f07;
    font-size: 12px;
    line-height: 1.15;
    border: 0;
    text-align: center;
    color: #fff;

    .notice-inner {
        width: auto;
        padding: 0;
        background: none;
        text-align: center;

        p {
            padding: 0;
            border: 0;
        }
    }
}