/* Options Tool Tip */
.item-options {
    p { font-size:11px; font-weight:bold; text-transform:uppercase; padding:10px 12px 0 12px; }
    dt { font-weight:bold; padding:7px 0 7px ; }
    dd { padding-bottom:5px; }
}

.truncated { 
    cursor:help; margin:5px 0 0; position:relative; z-index:1; width:110px;
    &:hover { z-index:2; }
    a {
        &.dots { cursor:help; }
        &.details { cursor:help; text-decoration:none; background:url(../images/bkg_dots.gif) repeat-x 0 100%; color:#514f4f; }
    }
    .truncated_full_value {
        .item-options { 
            position:absolute; top:-99999em; left:-99999em; z-index:999; padding:0; width:190px; border:1px solid #c8c8c8; border-bottom:1px solid #919191; background-color:#fff;
            dl { margin-right:-9px; position:relative; z-index:9999; padding:0px 21px 10px 12px; background:url(../images/bkg_truncated.gif) no-repeat 100% 38px; }
        }
    }
    .show {
        .item-options { top:-20px; left:50%; }
    }
}

.col-left {
    .truncated {
        .show { 
            .item-options { left:30px; top:7px; }
        }
    }
}
.col-right {
    .truncated {
        .show {
            .item-options { left:-240px; top:7px; }
        }
    }
}
.block-cart {
    .truncated{
        .show {
            .item-options { top:-60px; left:-206px; }
        }
    }
}