.owl-theme .owl-controls{
	margin-top:10px;
	text-align:center;
	-webkit-tap-highlight-color:transparent
}

.owl-theme .owl-controls .owl-nav [class*=owl-]{
	color:#fff;
	font-size:14px;
	margin:5px;
	padding:4px 7px;
	background:#d6d6d6;
	display:inline-block;
	cursor:pointer;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	/*background:#869791;*/
	color:#fff;
	text-decoration:none
}

.owl-theme .owl-controls .owl-nav .disabled{
	opacity:.5;
	cursor:default
}

.owl-theme .owl-dots .owl-dot{
	display:inline-block;
	zoom:1;
	*display:inline
}

.owl-theme .owl-dots .owl-dot span{
	width:13px;
	height:13px;
	margin:5px 3px;
	background-color:#f7f7f7;
    @include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, -211px);
	display:block;
	-webkit-backface-visibility:visible;
	-webkit-transition:opacity 200ms ease;
	-moz-transition:opacity 200ms ease;
	-ms-transition:opacity 200ms ease;
	-o-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
	background-position: right -189px;
}


.owl-carousel {
	.owl-controls {
		.owl-nav {
			.owl-prev,.owl-next {			
				height: 46px;
				width: 24px;
				text-indent:-999em;
				cursor: pointer;
				border-radius: 0px;				
				background-color:transparent;
				margin:0px;
				position:absolute;
			}
			.owl-prev{
				 @include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, left, -251px);
				 left:0px;

			}


			.owl-next {
				 @include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, -251px);
				 right:0px;
			}
				
		}
	}
}

 
