@import 'theme/common_breakpoints_variables';

/* Buttons, Headings common theme page ======================================================================================= */
.cms-main-banner,.cms-banner {
	width: 100%;
	padding: 192px 0px 193px;
	position: relative;
	background-repeat: repeat-x;
	background-position: top center;

	.banner-text {
		position: absolute;
		top: 50%;
		width: 100%;
		margin-top: -61px;
	}
}
.banner-heading {
	font-family: 'Sweet Sans Medium';
	color: #fff;
	font-size: 54px;
	text-transform: uppercase;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
	letter-spacing: 0.02em;
}
.section-head-full {
	width: 100%;
	height: 15px;
	border-top: 1px solid #9e9d9a;
	position: relative;

	.section-head-contr {
		left: 0%;
		top: 0px;
		position: absolute;
		width: 100%;
		margin-top: -16px
	}
	.section-name {
		font-family: 'Sweet Sans Medium';
		color: #494742;
		font-size: 21px;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		background-color: #fff;
		padding: 0 33px;
		font-weight: normal;
		display: inline-block;
		height: 25px;
	}
}
.section-heading {
	position: relative;
	width: auto;
	display: inline-block;
	padding: 0 17px;
	line-height: normal;
	font-family: 'Sweet Sans Medium';
	color: #494742;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	margin: 0 auto;
	font-weight: normal;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 10px;
		height: 4px;
		border-bottom: 2px solid #494742;
		margin-top: -3px;
	}
}
.section-heading:before {
	left: 0px;
}
.section-heading:after {
	right: 0px;
}
@media only screen and (max-width:$large-max) {
}
@media only screen and (max-width:$medium-max) {
	.cms-main-banner {
		padding: 165px 0px;
		background-size: cover;
		-webkit-background-size: cover;
	}
}
@media only screen and (max-width:$small-max) {
	.cms-main-banner {
		padding: 70px 0px 71px;

		.banner-text {
			margin-top: -38px;
		}
	}
	.banner-heading {
		font-size: 28px;
		letter-spacing: -0.01em;
	}
	.section-head-full {
		.section-name {
			font-size: 14px;
			height: 20px;
			padding: 0 27px;
			letter-spacing: 0.01em;
		}
		.section-head-contr {
			margin-top: -11px;
		}
	}
	.section-heading {
		font-size: 14px;
		letter-spacing: 0.01em;
		padding: 0 12px;

		&:before, &:after {
			width: 7px;
			top: 6px;
			border-bottom: 1px solid #494742;
		}
	}
}