/* Old private sales index ================================================================================ */
.private-sales-index { 
    .box { border: 1px solid #e2ded0; background: #fff url(../images/bkg_ps.gif) no-repeat 50% 13px; padding: 50px 13px 0; width: 657px; margin: 0 auto;
           .content { 
               padding: 0 60px 70px; background: url(../images/bkg_ps.gif) no-repeat 50% 100%; font-size: 14px;
               p { text-align: center; }
               a { color: #444444; }
               h1 { 
                   background: url(../images/bkg_ps-logo.gif) no-repeat 50% 0; padding: 60px 0 5px; font-size: 29px; font-weight: normal; color: #ec4e00; }
               .description { background: url(../images/bkg_ps-descr.gif) no-repeat 50% 0; margin: 40px auto 0; width: 433px; padding: 30px 50px 30px; font: normal 20px Georgia, "Times New Roman", Times, serif; font-style: italic; color: #817268; }
           }
    }
}
// private-sales-index
.col1-layout .private-sales-index { margin: 0 -20px -31px; height: auto !important; height: 350px; min-height: 350px; }
/* Private sales index ================================================================================
.private-sales-index { 
    background: #2b2b2b; margin: 110px 0 60px; padding: 40px 0;
    .box { 
        border: 1px solid #e2ded0; background: #fff url(../images/bkg_ps.gif) no-repeat 50% 13px; padding: 50px 13px 0; width: 657px; margin: 0 auto;
        .content { 
            padding: 0 60px 70px; background: url(../images/bkg_ps.gif) no-repeat 50% 100%; font-size: 14px;
            p { padding-top: 475px; text-align: center; color: #444444; font-size: 18px; }
            a { color: #c12900; }
            h1 { display: none; }
            .description { display: none; }
        }
    }
}
.col1-layout .private-sales-index { margin: 0 -20px -31px; background-position: 0 20px; padding-top: 20px; height: auto !important; height: 550px; min-height: 550px; }
*/
/* Private sales demo ==================================================================== */
.cms-private-sales-home { background-color: #fffdf9; }
.private-sales-demo { 
    background: #fffdf9 url(../images/bkg_ps-home.jpg) no-repeat 50% 88px; padding-top: 90px;
    h1 { display: none; }
    p { padding-top: 475px; text-align: center; color: #444444; font-size: 18px; }
    a { color: #c12900; }
}
.col1-layout .private-sales-demo { margin: 0 -20px -31px; background-position: 0 20px; padding-top: 20px; height: auto !important; height: 550px; min-height: 550px; }
/* ======================================================================================= */