/* Content Styles ================================================================= */
.product-name {
	font-weight: normal;

	a {
		font-family: 'Sweet Sans Medium';
		font-size: 18px;
		color: #4a4842;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 21px;

		&:hover {
			text-decoration: underline;
		}
	}
}