body.pushmenu-opened {
	overflow-x: hidden;
}
.pushmenu-opened > .wrapper {
	left: 240px;
	position: relative;
	overflow-x: hidden;
	transition: left 1s ease;
}
.pushmenu-closed > .wrapper {
	transition: left 1s ease;
	position: relative;
	left: 0;
	background-color: white;
}
.pushmenu-container {
	transition: left 1s ease;
	display: block;
	width: 240px;
	height: 100%;
	top: 0px;
	z-index: 0;
	background: #47A3DA none repeat scroll 0% 0%;
	position: fixed;
	left: 0;
	float: left;
}