/* Rating */
.rating-box { 
    width: 65px; height: 13px; font-size: 0; line-height: 0; background: url(../images/bkg_rating.gif) 0 100% repeat-x; overflow: hidden;
    .rating { float: left; height: 13px; background: url(../images/bkg_rating.gif) 0 0 repeat-x; }
}
.ratings { 
    margin: 5px 0;
    .rating-box { float: left; margin-right: 5px; }
    .amount { font-size: 12px; }
    .rating-links { 
        margin: 0; font-size: 11px;
        a { 
            text-decoration: underline;
            &:hover { text-decoration: none; }
        }
        .separator { margin: 0 3px; }
    }
}