/* Restricted ================================================================================ */
.restriction-index-stub { 
    .page { width: 652px; padding-bottom: 3px; }
    .main { margin-top: 100px; min-height: 0; height: auto !important; padding: 13px; text-align: center; margin-bottom: 0; }
    .col-main { color: #dedede; height: auto !important; min-height: 230px; height: 230px; font-size: 16px; background: #4a4a4a url(../images/logo-offline.gif) no-repeat 50% 95px; padding: 170px 60px 40px; }
    .page-title { margin: 0 0 15px !important; padding: 0 !important; border: 0 !important; background: none; }
    .col-main { 
        h1, h2 { font: italic 35px Georgia, "Times New Roman", Times, serif; color: #fff; }
    }
    .header-container, .footer-container { display: none; }
    .copyright { background: url(../images/bkg_shadow-offline.gif) 50% 0 no-repeat; padding: 15px 0 0; margin: 0; }
}