/* Reward Points */
.rewards { margin: -10px 0 20px; }
.reward-message { 
    display: block; margin: 5px -15px 5px -15px; background: #d55721 url(../images/bkg_rewards.gif) 5px 3px no-repeat; padding: 3px 5px 3px 32px; font: normal 12px/20px Arial, Helvetica, sans-serif; color: #fff;
    p { display: inline; margin: 0 !important; }
    .limit { display: block; font-size: 11px; line-height: 1.15; }
    a { 
        color: #ffe6dc; text-decoration: underline;
        &:hover { color: #ffe6dc; text-decoration: none; }
    }
    .price { font-size: 1em; font-weight: normal; }
}

/* Reward Points types rewrites */
.reward-review,
.reward-tag,
.reward-checkout { margin: 0; }
