/* Some sample data cms styles ================================================================================ */
.page-head,
.page-head-alt { 
    margin-bottom: 20px; padding: 23px 20px 11px; background: #f6f6f6 url(../images/bkg_page-title.gif) repeat-x 0 0; border-bottom: 1px solid #cfcfcf;
    h2,
    h3 { font: normal 22px/27px Arial, Helvetica, sans-serif; color: #d12c01; }
}
.col-main { 
    .page-head,
    .page-head-alt { margin: 0 -20px 20px; }
}
.page-head-alt .link-rss { float: right; margin-top: 8px; }