/* Block: Cart */
.sidebar { 
    .block-cart { 
        .block-title { 
            background: #363636; padding: 7px 17px;
            strong { font-weight: bold; color: #fff; }
        }
        .summary { 
            margin: 0 -17px; padding: 0 12px 5px; background: #363636; color: #fff; text-align: center; position: relative; z-index: 1;
            a { font-weight: bold; color: #fff; }
            .subtotal { 
                margin: 3px 0 0;
                .price { font-weight: bold; }
            }
        }
        .actions { 
            margin: 8px 0 13px; text-align: center;
            button.button { float: none; }
        }
        .block-content { 
            padding-top: 0;
            table { 
                margin: 5px 0 0 0;
                th { padding: 1px 5px 1px 0; color: #8f8f8f; text-align: right; }
                td { text-align: left; padding: 1px 0; }
            }
        }
        li { 
            a.btn-remove { float: none; background: none; margin: 0; padding: 0; width: auto; height: auto; overflow: visible; }
        }
    }
    .mini-products-list .product-details { margin-left: 57px; }
    .mini-products-images-list li.item { float: left; padding: 5px; text-align: center; }
}
.mini-products-list { 
    li { 
        &.item { 
            padding: 5px 0; border-bottom: 1px solid #cfcfcf; }
        &.last { border: none; }
    }
    .product-image { float: left; width: 50px; margin-right: -50px; }
    .product-details { 
        margin-left: 65px;
        .product-name { font-size: 11px; }
        .price-box { margin: 5px 0; }
        .btn-remove { font-size: 11px; }
    }
}
.block-products .mini-products-list .product-details { margin-left: 65px; }