/* Paypal */
.sidebar .paypal-logo { display:block; margin:10px 0; text-align:center; }
.paypal-express-review .info-set.col2-set { padding-bottom: 15px; }
.paypal-logo.bill-me-latter { margin: 10px 0; }