/* Class: std - styles for admin-controlled content */
.std {
    ul, ol, dl, p, address, blockquote, table {
        margin-bottom: 1em;
    }
    ul {
        list-style: disc outside;
        padding-left: 1.5em;

        ul {
            list-style-type: circle;
        }
    }
    ol {
        list-style: decimal outside;
        padding-left: 1.5em;
    }
    ul ul, ol ol, ul ol, ol ul {
        margin: .5em 0;
    }
    dt {
        font-weight: bold;
    }
    dd {
        padding: 0 0 0 1.5em;
    }
    blockquote {
        font-style: italic;
        padding: 0 0 0 1.5em;
    }
    address {
        font-style: normal;
    }
    b, strong {
        font-weight: bold;
    }
    i, em {
        font-style: italic;
    }
    hr {
        margin: 1.5em 0;
        color: #d9d9d9;
    }
    table {
        width: 100%;

        th {
            background: #f7f7f7;
            font-weight: bold;
        }
        thead {
            background: #e8e8e8;

            th {
                background: #e8e8e8;
                font-weight: bold;
            }
        }
        th, td {
            padding: 5px 10px;
            border: 1px solid #d9d9d9;
        }
    }
    table[border="0"] {
        border-width: 0;
    }
    table[border="0"] th, table[border="0"] td {
        border-width: 0;
    }
    ul.disc li {
        padding-left: 0;
        background: none;
    }
}
//std

ul.disc li {
    padding-left: 10px;
    background: url(../images/bkg_bulletsm.gif) no-repeat 0 0.5em;
}