/* Product Tags */
.tags-list {
    margin:5px 0;
    li { 
        display:inline; font-size:12px;
        a { 
            text-decoration:none; margin:0 2px 0 0;
            &:hover { text-decoration:underline; }
        }
    }
}
