/* Top Shopping Cart */
.top-cart {
    float: right;
    position: relative;
    //background:red;

    #cartHeader {
    }
    .cart-count {
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
    .block-title {
        &.expanded {
            strong {
            }
        }
    }
    .block-content {
        position: absolute;
        right: 0;
        top: 20px;
        width: 267px;
        background: #fdfdfd;

        .block-subtitle {
            font-size: 10px;
            color: #d12c01;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 12px;
            padding: 3px 10px 4px;

            .close-btn {
                float: right;
                width: 13px;
                height: 0;
                padding-top: 12px;
                text-align: left;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                z-index: 1;
            }
        }
        ol {
            padding-bottom: 7px;
        }
        .item {
            padding: 8px 5px 8px 11px;

            .product-name {
                font-size: 11px;
                line-height: 14px;

                a {
                    font-size: 11px;
                    text-decoration: none;
                    color: #444;
                }
            }
        }
        table {
            margin: 5px 0 0 0;

            th {
                padding: 1px 8px;
                color: #8f8f8f;
                text-align: right;
            }
            td {
                text-align: left;
                padding: 1px 0;
            }
        }
        .subtotal {
            padding: 2px 5px;
            text-align: center;
        }
    }
    .inner-wrapper {
        border: 1px solid #c1c1c1;
    }
    .cart-empty {
        padding: 10px 10px 10px 20px;

        .close-btn {
            float: right;
            width: 13px;
            height: 0;
            padding-top: 12px;
            text-align: left;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            z-index: 1;
        }
    }
    .actions {
        text-align: center;
        padding: 5px 11px;
        text-align: right;

        a {
            float: left;
            line-height: 23px;
        }
        button {
            float: none;

            &.button span, &.button span span {
                background-repeat: no-repeat;
            }
        }
    }
    .paypal-logo {
        a {
            float: right;
        }
        .paypal-or {
            clear: both;
            display: block;
            margin: 5px 33px 5px 0px;
        }
    }
    .truncated {
        .show {
            .item-options {
                top: -60px;
                left: -206px;
            }
        }
    }
}
.has-sticky-header {
    .top-cart {
        width: 26px;
        height: 24px;
        .block-title {
        }
        .cart-count::before, .cart-count::after {
            display: none;
        }
    }
    #cartHeader {
        &:after {
            @include articons('d', 22px, #494742);
            right: 4px;
            top: 6px;
            width: 20px;
            height: 23px;
        }
    }
    .cart-count-label {
        display: none;
    }
    .cart-count {
        font-size: 10px;
        position: absolute;
        right: 2px;
        top: -4px;
    }
}
// For Small Desktop 
@media only screen and (max-width:$large-max) {
}
// For Medium Devices 
@media only screen and (max-width:$medium-max) {
    
    .top-cart {
        width: 26px;
        height: 24px;
        margin-top: 6px;
        .block-title {
        }
        .cart-count::before, .cart-count::after {
            display: none;
        }
    }
    #cartHeader {
        &:after {
            @include articons('d', 20px, #494742);
            right: 3px;
            top: 1px;
            width: 21px;
            height: 17px;
        }
    }
    .cart-count-label {
        display: none;
    }
    .cart-count {
        font-size: 10px;
        position: absolute;
        right: 2px;
        top: -10px;
    }
}
// For Small Devices
@media only screen and (max-width:$small-max) {
}