<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $divClass ='class ="';
    $variationString = '';
    $tailored2fitData = '';
    $variationFlag = false;
    $tailored2fitDataFlag = false;
    $i= 0;
?>
    <?php if($_additionalgroup = $this->getAdditionalData()): ?>
    <div class="top">
        <h3>Product Description</h3>
        <?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?>
    </div>
    <div class="middle">
       
        <?php foreach ($_additionalgroup as $_additionalkey=>$_additional): $i++; //echo $_additionalkey;?>
        <?php if($_additionalkey!=27 && $_additionalkey!=28 ) : ?>
        <h3><?php if( $_additionalkey!=32 && $_additionalkey!=34 ) { echo $this->__( $_additional['title'] ); } ?></h3>
        <table class="data-table" id="product-attribute-specs-table-<?php echo $i?>">
            <col width="25%" />
            <col />
            <tbody>
                <?php  $cnt = 0; foreach ($_additional['items'] as $_data): $cnt++;
                        
                                if($_additionalkey==32) {
                                    
                                    $variationFlag = true;
                                    $variationString.='<li>
                                        <div>'.$this->htmlEscape($this->__($_data['label'])).'</div>
                                        <div class="variation-img"></div>
                                    </li>'; 
                                    
                                    if($_data['value']=='Yes') { $divClass .=' '.$_data['label'];}
                                    
                                } else if($_additionalkey==34) {
                                    
                                    $tailored2fitDataFlag = true;
                                    if($cnt==5) $tailored2fitData .= '</tr><tr>';
                                    $tailored2fitData .='<td class="label">'.$this->htmlEscape($this->__($_data['label'])).'</td>';
                                    ?>
                <tr>
                    <th class="label">
                        <?php echo $this->htmlEscape($this->__($_data['label'])) ?>
                    </th>
                    <td class="data">
                        <?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                    </td>
                </tr>
                <?php     } else  {
                        ?>
                <tr>
                    <th class="label">
                        <?php echo $this->htmlEscape($this->__($_data['label'])) ?>
                    </th>
                    <td class="data">
                        <?php echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?>
                    </td>
                </tr>
                <?php   } 
                        endforeach; ?>
            </tbody>
        </table>
        <script type="text/javascript">
        decorateTable('product-attribute-specs-table-<?php echo $i?>')
        </script>
        <?php 
        endif;
        endforeach; 
        if($variationFlag){ 
            $variationStringStart = '<div '.$divClass.'"><ul><h4>VARIATION</h4>';
            $variationString.='</ul><div><div id="V1"></div><div id="V2"></div><div id="V3"></div><div id="V4"></div></div>';
            $variationAttributeHtml = $variationStringStart.$variationString;
            echo $variationAttributeHtml;
        }
        if($tailored2fitDataFlag) {
            
            $tailored2fitDataStart = '<div><h4>TAILORED TO CUSTOMIZATION</h4><table border="1"><tr>';
            $tailored2fitHtml = $tailored2fitDataStart.$tailored2fitData.'</tr></table></div>';
            echo $tailored2fitHtml;
        } 
        ?>
    
       
    </div> </div>

  
    <?php endif;?>
  <div class="bottom">
    BOTTOM
        
    </div>