/* Category Page ========================================================================= */
.catalog-category-view, .results-view, .catalogsearch-result-index {
    .main {
        padding-top: 0;
    }
    .page-title {
        padding-top: 135px;
    }
    .search-title{        
        max-width: $xtra-large-min + 28;
        padding-left: 14px;
        padding-right: 14px;
        width: 100%;
        margin:0 auto;
        h1{
            padding-top:24px;
            font-family: 'Sweet Sans Medium';
            font-size: 22px;
            color: #4a4842;
        }        
    }
}
.category-view {
    .note-msg, .category-description {
        padding: 20px;
    }
}
.plp-banner {
    position: relative;
    max-height: 235px;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;

    .plp-banner-image {
        img {
            width: 100%;
        }
    }
    .plp-banner-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .plp-banner-description {
        width: 100%;
        max-width: 1160px;
        margin: 76px auto 0;
        padding: 0 50px;
        font-family: 'TiemposTextWeb-RegularItalic';
        color: #fff;
        font-size: 24px;
        text-transform: capitalize;
        text-align: left;
        text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
        letter-spacing: -0.01em;

        span {
            font-family: 'Sweet Sans Medium';
            color: #fff;
            font-size: 54px;
            text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
            letter-spacing: 0.02em;
            display: block;
            margin: -11px 0 0 -5px;
        }
    }
}
.category-products {
}
.results-view {
    margin: 0;

    .recommendations {
        padding: 20px 20px 0;
    }
}

/* Search Result page ===================================*/
.catalogsearch-result-index {
    .page-title {
        margin-bottom: 0;
        text-align: left;
    }
    .note-msg {
        margin: 0;
        text-align: left;
    }
}
// For Small Desktop 
@media only screen and (max-width:$large-max) {
}
// For Medium Devices 
@media only screen and (max-width:$medium-max) {
    .catalog-category-view, .results-view, .catalogsearch-result-index {
        .main {
            padding-top: 0;
        }
        .page-title {
            padding-top: 47px;
        }
        .search-title{   
        h1{
            padding:12px 0;
            font-size: 18px;
        }        
    }
    }
    .mb-breadcrumbs{
        display: none;
    }

    .plp-banner {
        border:none;
        .plp-banner-image {
            display: none;
        }
        .plp-banner-wrapper {
            position:relative;
            margin: 0px auto;
            height: auto;
        }
        .plp-banner-description{
            padding: 0px;
            margin: 0px;
            text-shadow: none;
            font-family: "Sweet Sans Medium";
            font-size: 14px;
            color: #494742;
            text-transform: uppercase;
            padding: 0 14px;
            margin-top: 17px;
            margin-bottom: 15px;
            span{
                margin: 0px;
                display: inline;
                color: #494742;
                text-shadow: none;
                font-family: "Sweet Sans Medium";
                font-size: 14px;
            }

        }
    }
}
// For Small Devices
@media only screen and (max-width:$small-max) {
}