/* View Type: List */
.products-list { 
    li { 
        &.item { margin: 0 0 20px 0; padding: 0 20px 20px 20px; background: url(../images/bkg_dots.gif) repeat-x 0 100%; }
        &.last { background-image: none; }
    }
    .product-image { float: left; margin-right: -186px; text-decoration: none !important; position: relative; }
    .product-shop { margin-left: 186px; }
    .product-name { margin-bottom: 5px; }
    .price-box { margin: 5px 0 10px; }
    .desc { 
        margin: 5px 0 10px; font-size: 12px;
        .link-learn { white-space: nowrap; }
    }
}