/* View Type: Grid */
.products-grid {
    padding: 0;
    margin: 0;

    li {
        &.item {
            float: left;
            width: 314px / 956px * 100%;
            margin-left: 7px / 956px * 100%;
            margin-bottom: 14px;
        }
        &:first-child, &:nth-child(3n+4) {
            clear: left;
            margin-left: 0;
        }

        /*
                &.content-block-item {
                    .plp-marketing-block {
                        position: relative;
                        &:hover {
                            .mb-btn {
                                background-color: #000;
                                color: #fff;
                            }
                        }
                    }
                    .mb-image {
                        img {
                        }
                    }
                    .mb-info {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        text-align: center;
                        height: 54%;
                        background-color: rgba(255, 0, 0, .5);
                    }
                    .mb-title {
                        font-family: "Sweet Sans Medium";
                        color: #fff;
                        clear: left;
                        float: left;
                        width: 100%;
                        font-size: 25px;
                        padding: 25% 20px;
                        letter-spacing: 0.12em;
                    }
                    .mb-btn {
                        font-family: "Sweet Sans Medium";
                        width: 83px;
                        height: 26px;
                        border: 2px solid #000;
                        display: block;
                        background-color: #fff;
                        padding: 4px 12px;
                        font-size: 10px;
                        @include prefix(transition, all .2s, webkit moz);
                        position: absolute;
                        left: 50%;
                        bottom: -13px;
                        margin-left: -42px;
                    }
                }*/
    }
    .product-image-wrapper {
        position: relative;

        .link-wishlist {
            position: absolute;
            right: 0;
            top: 0;
            width: 42px;
            height: 51px;
            @include corraRetinaBG('../images/art_sprite_A', png, no-repeat, 400px, 1600px, -5px, -116px);
            text-indent: -9999px;
        }
        .product-image {
            display: block;
            text-decoration: none !important;
            margin: 0 auto 0;
            position: relative;
            width: 100%;
            max-width: 314px;
        }
    }
    .product-info-wrapper {
        padding: 15px 18px 15px 18px;
        text-align: left;

        .product-name {
            margin-bottom: 7px;
            word-wrap: break-word;
        }
        .product-info {
            font-family: 'TiemposTextWeb-RegularItalic';
            font-size: 12px;
        }
        .price-box {
            margin: 19px 0 10px;
            clear: both;
            font-family: 'Sweet Sans Medium';
        }
    }
}
@media only screen and (max-width:$medium-max) {
    
}
@media only screen and (max-width:$small-max) {
    .products-grid {
        max-width: 628px;
        margin: 0 auto;
        li {
            &.item {
                float: left;
                width: 50%;
                padding: 0 6px;
                margin-left: 0;
                margin-right: 0;
            }
            &:first-child, &:nth-child(3n+4) {
                clear: none;
            }
            &:nth-child(2n+3) {
                clear: left;
            }
        }
    }
}
// For Small Devices
@media only screen and (max-width:$small-max-iphone5) {
    .products-grid {
        max-width: 314px;
        li {
            &.item {
                clear: left;
                width: 100%;
                padding:0;
            }
            &:nth-child(2n+3) {
                clear: none;
            }/**/
        }
        .product-info-wrapper{
            padding: 15px 18px 4px 18px;
        }
    }
}