<?php 
$_htmlId      = $this->getElement()->getHtmlId();
$_htmlClass   = $this->getElement()->getClass();
$_htmlName    = $this->getElement()->getName();
$_readonly    = $this->getElement()->getReadonly();
$collection = Mage::getModel('corra_gallery/hotspot')->getCollection()->addFieldToFilter('gallery_id',$this->getRequest()->getParam('id'));
?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <td colspan="10" class="grid tier">
    <table cellspacing="0" class="data border" id="group_prices_table">        
        <col width="120" />
        <col width="120"/>
        <col />
        <thead>
            <tr class="headings">                
                <th><?php echo $this->__('X') ?></th>
                <th><?php echo $this->__('Y') ?></th>
                <th><?php echo $this->__('SKU') ?></th>
                <th class="last"><?php echo Mage::helper('catalog')->__('Action'); ?></th>
            </tr>
        </thead>
        <tbody id="<?php echo $_htmlId; ?>_container"></tbody>
        <tfoot>
            <tr>                
                <td colspan="4" class="a-right"><button style="" onclick="return hotSpotControl.addItem()" class="scalable add" type="button" title="Add Hotspot" id="id_42affa866c096c3ca75f90bf0be49424"><span><span><span>Add Hotspot</span></span></span></button></td>
            </tr>
        </tfoot>
    </table>

<script type="text/javascript">
//<![CDATA[
var hotSpotRowTemplate = '<tr>'   
    + '<td><input class="<?php echo $_htmlClass; ?> required-entry" type="text" name="<?php echo $_htmlName; ?>[{{index}}][xvalue]" value="{{xvalue}}" id="hot_spot_row_{{index}}_price" /></td>'
    + '<td><input class="<?php echo $_htmlClass; ?> required-entry" type="text" name="<?php echo $_htmlName; ?>[{{index}}][yvalue]" value="{{yvalue}}" id="hot_spot_row_{{index}}_price" /></td>'
    + '<td><input class="<?php echo $_htmlClass; ?> required-entry" type="text" name="<?php echo $_htmlName; ?>[{{index}}][sku]" value="{{sku}}" id="hot_spot_row_{{index}}_price" /></td>'
    + '<td class="last"><input type="hidden" name="<?php echo $_htmlName; ?>[{{index}}][delete]" class="delete" value="" id="hot_spot_row_{{index}}_delete" />'
    + '<button title="<?php echo $this->jsQuoteEscape(Mage::helper('catalog')->__('Delete Group Price')); ?>" type="button" class="scalable delete icon-btn delete-product-option" id="hot_spot_row_{{index}}_delete_button" onclick="return hotSpotControl.deleteItem(event);">'
    + '<span><?php echo $this->jsQuoteEscape(Mage::helper('corra_gallery')->__('Delete')); ?></span></button></td>'
    + '</tr>';

var hotSpotControl = {
    template: new Template(hotSpotRowTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', '')),
    itemsCount: 0,
    addItem : function () {
        <?php if ($_readonly): ?>
        if (arguments.length < 3) {
            return;
        }
        <?php endif; ?>
        var data = {
            xvalue: '',
            yvalue: '',
            sku: '',
            readOnly: false,
            index: this.itemsCount++
        };

        if(arguments.length >= 3) {
            data.xvalue = arguments[0];
            data.yvalue = arguments[1];
            data.sku = arguments[2];
        }
        if (arguments.length == 4) {
            data.readOnly = arguments[3];
        }

        Element.insert($('<?php echo $_htmlId; ?>_container'), {
            bottom : this.template.evaluate(data)
        });        

        if (data.readOnly == '1') {
            ['xvalue', 'yvalue', 'sku', 'delete'].each(function(element_suffix) {
                $('hot_spot_row_' + data.index + '_' + element_suffix).disabled = true;
            });
            $('hot_spot_row_' + data.index + '_delete_button').hide();
        }

        <?php if ($_readonly): ?>
        $('<?php echo $_htmlId; ?>_container').select('input', 'select').each(this.disableElement);
        $('<?php echo $_htmlId; ?>_container').up('table').select('button').each(this.disableElement);
        <?php else: ?>
        $('<?php echo $_htmlId; ?>_container').select('input', 'select').each(function(element) {
            Event.observe(element, 'change', element.setHasChanges.bind(element));
        });
        <?php endif; ?>
    },
    disableElement: function(element) {
        element.disabled = true;
        element.addClassName('disabled');
    },
    deleteItem: function(event) {
        var tr = Event.findElement(event, 'tr');
        if (tr) {
            Element.select(tr, '.delete').each(function(element) {
                element.value='1';
            });
            Element.select(tr, ['input', 'select']).each(function(element) {
                element.hide();
            });
            Element.hide(tr);
            Element.addClassName(tr, 'no-display template');
        }
        return false;
    }
};
<?php foreach ($collection as $_item) :  ?>
hotSpotControl.addItem('<?php echo $_item->getData('xvalue'); ?>', '<?php echo $_item->getData('yvalue'); ?>', '<?php echo $_item->getData('sku'); ?>', 0);
<?php endforeach; ?>
<?php if ($_readonly) : ?>
$('<?php echo $_htmlId; ?>_container').up('table').select('button')
    .each(hotSpotControl.disableElement);
<?php endif; ?>
//]]>
</script>
</td></tr>
