.search-summary{padding:10px 10px 0;margin:10px 0 0;font-size:12px;background:url(../images/bkg_dots.gif) repeat-x 0 0}.search-summary li{margin:2px 0px}
/*# sourceMappingURL=advanced_search.css.map */
