#m-wait{position:fixed;text-align:center;z-index:20000;background:rgba(255,255,255,0.7);left:0;top:0;width:100%;height:100%}#m-wait .loader{position:fixed;top:45%;left:50%;width:64px;height:64px;margin:-32px 0 0 -32px;z-index:20100}#m-wait .loader img{width:100%}.m-popup{position:absolute;background:white;z-index:20100}.m-popup-overlay{position:absolute;background:black;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;z-index:10000}.m-overlay{position:absolute;background:white;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;z-index:10000}
/*# sourceMappingURL=mana_core.css.map */
