/*
 * Quickview - Quickview 
 * Simple and fancy quickview style
 */
/*--Quick View - #toPopup styles--*/
.quick-view.button { padding: 1px 0 0; width:112px; height:22px; font:700 14px 'Roboto', sans-serif; text-transform: uppercase; position: absolute; top:47%; left:0; right:0; margin:0 auto; display:none; text-align: center; background-color: #0872ba; color: #fff; }
.quick-view.button:hover { cursor:pointer; }
#toPopup .owl-buttons .disabled{opacity: 0.5}
#toPopup ul { padding-left: 0; }
#toPopup { padding:0px;
 border: none; font-size:12px; 
 min-height:450px; width:746px; 
 margin:-285px 0 0 -377px; 
 background:#f5f2ee;  display: none; 
 left: 50%; top:46%;position: fixed;
  z-index: 999999;
  -webkit-box-shadow: 0px 7px 8px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 8px -3px rgba(0,0,0,0.75);
box-shadow: 0px 7px 8px -3px rgba(0,0,0,0.75); }
#toPopup .product-view .product-shop .price-box p.old-price {
    text-align: left;
    margin-bottom: 7px;
    margin-top: 0;
}
#toPopup .product-view .product-shop .price-box .special-price .price {
    font:700 30px/20px "Roboto",sans-serif;
}
#toPopup .product-view .product-shop .price-box .special-price .price-label {
    font-size: 14px;
    display: none;
}

#toPopup  .product-view .product-shop .old-price{font-size:13px;margin-bottom:7px}
#toPopup  .product-view .product-shop p.availability{margin-bottom:5px !important; font:500 15px/27px "Roboto",sans-serif !important}
#toPopup  .product-view .product-shop p.availability.in-stock{color:#00a651}
#toPopup  .product-view .product-shop p.availability.out-of-stock{float:none; color:#9e0b0f}
#toPopup  .product-view .product-shop p.availability.out-of-stock span.stock-label{color:#999999; font:400 italic 15px/27px "Roboto",sans-serif; 
text-transform:none; display:inline-block; padding-left:4px}

#toPopup .product-view .product-shop .price-box .old-price span.price{color: #666;font:400 13px/19px "Roboto",sans-serif;text-decoration: line-through}
#toPopup > a#close { width: 18px; height: 18px; background: url(../images/bkg-close-quick.png) 0 0 no-repeat; position: absolute; right: 11px; top: 11px; text-indent: -9999px; cursor: pointer; }

.cms-home .home-new-products ul.products-grid li .quick-view.button {top:24%; }
 /*FAR-200 -start*/
#toPopup .product-view .product-img-box .image_label_text_qv{ text-align:center;}
 /*FAR-200 -end*/

.col2-left-layout #toPopup .product-view .product-collateral, .col2-right-layout #toPopup .product-view .product-collateral, .col1-layout #toPopup .product-view .product-collateral, .col3-layout #toPopup .product-view .product-collateral, #toPopup .product-view { width: 100%; }
.loadingwait { display: none; width: 69px; height: 89px; position: fixed; top: 50%; left: 50%; padding: 2px; border: none; z-index: 999997; }
.loadingwaitzindex { z-index: 9999999; }
#backgroundPopup { background: none repeat scroll 0 0 #000000; display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 999998; }
#lightwindow_contents { margin:0; padding: 19px 26px 28px 21px; }
#toPopup .product-view .product-shop .short-description { overflow: auto; clear: both;
    color: #333333;
    font: 400 14px/20px "Roboto",sans-serif;
    padding: 0 0 20px; }
#toPopup .product-view .product-img-box .more-views li { margin: 6px 6px 0 0; height: 62px}
#toPopup .options-container-small { clear:both;}
#toPopup .add-to-cart label { margin:0 5px 0 0; }

#toPopup .product-essential {
    float: left;
    width: 100%;
}
#toPopup .product-view .product-shop .availability {
  font: 500 15px/27px "Roboto",sans-serif;
  text-transform: uppercase;
  margin: 0;
}
#toPopup .availability.in-stock {
  color: #00cc00;
}
#toPopup .product-view .product-shop .price-box span {
  color: #333;
  font: 700 30px/20px "Roboto",sans-serif;
  margin-bottom: 6px;
  float: left;
  width: 100%;
}
#toPopup .product-view .product-shop .price-box {
  float: left;
  margin: 0 0 11px 0;
  text-align: left;
}
#toPopup .product-view .product-img-box .product-image img{width: 305px; height: 305px}
#toPopup .product-view .product-img-box .product-image{height: 305px; width: 305px; border:solid 1px #d6cdc3;display: block;position: relative;margin-bottom: 10px;z-index: 3;}
#toPopup .product-view .product-img-box{width: 307px;float: left; position: relative;}
#toPopup .product-view .product-shop{width: 374px; float: right; position: relative; padding-bottom: 27px}
#lightwindow_navigation{display: none}
#toPopup .product-view .product-name h1 a{
	color: black;font: 400 24px/30px "Roboto",sans-serif;text-transform: none;display: block;padding-top: 11px;text-decoration: none;padding-bottom: 6px
}
#toPopup .add-to-cart label {
    font:normal 12px/25px "Arial",sans-serif;
    vertical-align: middle;
    text-transform: uppercase;
    color: #656668;
    margin-right:10px;
}
#toPopup .add-to-cart .qty {
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 32px;
    border:1px solid #d6cdc3;
    color: #656668;
    font-family: Arial;
    font-size:12px;
}
#toPopup .product-view .product-shop .add-to-cart {
  border-bottom: 1px solid #d6cdc3;
  border-top: 1px solid #d6cdc3;
  float: left;
  padding: 20px 0 20px;
  width: 100%;
}
#toPopup .product-view .product-shop button.button{margin-left:15px;}
#toPopup .product-view .product-essential button.btn-cart span span, #toPopup .add-to-cart button.btn-cart span span {
  font-size: 18px;
  padding: 0 19px;
}
#toPopup .add-to-cart button.btn-cart span {
  padding: 0;
  background: #c3262e;
}
#toPopup .product-view .product-shop p{margin:0;}
.quick-links-pdp-bottom{float: left; width: 270px;padding:25px 0 0 0;}
#toPopup .product-view .additional-actions{float: left;width: 102px;margin-top: 30px}
.quick-links-pdp-bottom a{background:url(../images/corra-sprite-a.png) no-repeat 100% -1467px; padding-right:18px;display: inline-block;font:400 14px/20px 'Roboto', sans-serif;}
#toPopup .product-view .product-shop .add-to-links {
    float: left;
    margin: 0;
}
#toPopup .add-to-links li {
  margin: 2px 0;
}
#toPopup .product-view .product-shop .add-to-links a.link-wishlist {
  background: url(../images/corra-sprite-a.png) no-repeat -4px -572px ;
  display: block;
  font-size: 0;
  height: 19px;
  line-height: 0;
  text-indent: -999em;
  width: 22px;
}
#toPopup .product-view .product-shop .add-to-links a.link-wishlist:hover {
    background-position: -4px -612px;
}
#toPopup .product-view .product-shop .add-to-links a.link-compare {
  background: url(../images/corra-sprite-a.png) no-repeat  -4px -492px ;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  text-indent: -999em;
  width: 21px;
}
#toPopup .product-view .product-shop .add-to-links a.link-compare:hover {
    background-position: -4px -532px;
}
#toPopup .add-to-links .separator {
  display: none;
}
#toPopup .product-view .additional-actions .emailto-link {
  float: left;
  margin: 0 0 0 5px;
}
#toPopup .product-view .additional-actions a.link-emailto:hover {
    background-position: 0 -1085px;
}
#toPopup .product-view .product-shop .add-to-links li.links {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
}
#toPopup #messages_product_view {  }
#toPopup #messages_product_view .success-msg, #toPopup #messages_product_view .error-msg { background-color: #e9e6da; padding: 8px 10px; font:700 13px 'Roboto', sans-serif; margin: 10px 0; }
#toPopup #messages_product_view .success-msg a { color: #c3262e; }
#toPopup #messages_product_view .error-msg { color: #c3262e;  }
#toPopup #messages_product_view .success-msg { color: #333; }
/*--Quick View - #toPopup styles ends--*/

@media only screen and (max-width:959px) {
    .quick-view.button {display: none!important}
}