.pager{float:left}@media only screen and (max-width: 989px){.pager{float:none;text-align:right;margin-top:13px}}.page-sitemap .links{display:block;text-align:right;margin:0 20px -36px 0}.page-sitemap .links a{position:relative}.page-sitemap .sitemap{padding:0 20px;margin:15px 0;font-size:12px}.page-sitemap .sitemap li{margin:3px 0}
/*# sourceMappingURL=sitemap.css.map */
