/* Reward Points */
.my-rewards {
    .box { margin:0 0 30px; }
    .info-box {
        .box-title { margin:10px 10px; }
        .box-content { padding:0 10px 10px; }
    }
    p.error { display:inline; color:#d91a00; }
    dl { 
        font-size:12px;
        dt { 
            font-weight:bold; font-size:13px; margin-top:10px;
            span { color:#d12c01; }
        }
        dd.last { margin:7px 0 0; }
    }
    .form-list {
        label { width:auto; }
        .control .input-box { position:static; margin:0 5px 0 0; }
    }
    .data-table small { display:block; font-size:1em; color:#808080; }
}
