/* Wishlist */
.my-wishlist textarea { width:99%; height:3.9em; resize:vertical; line-height:1.3em; overflow:auto; }
#wishlist-table {
    .price-box { margin:3px 0; }

    td {
        padding:15px 10px;
        .description { 
            margin:10px 0; max-height:3.9em; line-height:1.3em; overflow:hidden; word-wrap:break-word; max-width:345px;
            .inner { overflow:hidden; }
        }
        p { margin:5px 0 15px; }
        &.last { padding:4px 2px; width:1px; }
        .price-box { 
            font-size:12px;
            p { margin:0 0 5px; }
        }
        .truncated { 
            float:left; width:auto; margin-right:10px; line-height:18px;
            .show .item-options { top:-40px; right:100%; left:auto; margin-right:15px; line-height:1.2; }
            .truncated_full_value .item-options dl { background-position:100% 0; }
        }
    }
    .item-manage { 
        margin:0 0 0 0; float:left;
        .split-button { 
            margin:10px 9px 0 0;
            .change { margin-left:2px; }
            &:last-child { margin-right:0; }
        }
    }

}
#wishlist-table th:first-child,
#wishlist-table td:first-child { padding-left:10px; padding-right:0; } 
.wishlist-empty { font-size:12px; padding:15px 10px; text-align:center; }
p.wishlist-empty {border:1px solid #d0d0d0;}

/* Multiple Wishlist */

.link-edit { padding-left:18px; line-height:18px; background:url(../images/bkg_link-edit.png) no-repeat 0 0; display:inline-block; }
.wishlist-management { 
    .link-edit { width:16px; padding:0; margin:0 5px; height:16px; text-indent:-999em; overflow:hidden; vertical-align:middle; }
    .btn-create { float:right; margin-bottom:10px; }
    .sub-title { 
        float:left;  max-width:100%;
        h2 { word-wrap:break-word; }
    }
    .note-msg { clear:both; margin:0 0 10px; padding:10px; border-style:solid !important; border-width:1px !important; font-size:12px !important; border-color:#fcd344; background-color:#fafaec; color:#3d6611; }
    .msg-private { background:url(../images/bkg_lock.png) no-repeat 10px 10px #fafaec; padding-left:30px; }
    .table-caption .label { font-size:12px; float:left; line-height:21px; }
}

#wishlists-move { float:right; margin-left:10px; }
#wishlists-copy { float:right; }

#wishlists-select { 
    background:none; padding-left:0; white-space:nowrap; float:left; max-width:220px;
    strong { 
        background:none; padding-right:0; padding-left:7px; font-weight:normal; font-size:12px; text-transform:none;
        span { font-weight:bold; }
    }
    .change { 
        text-indent:0; width:auto; background:none; margin-left:4px; border:0; right:auto; left:100%; text-decoration:none; line-height:19px; margin-top:1px;
        span { color:#1e75b4; text-transform:none; background:url(../images/bkg_header-panel.gif) no-repeat scroll 100% -74px transparent; padding-right:10px; }
    }
    &.active .change span { color:#d33911; background-position:100% -130px; }
    .list-container { 
        right:auto; left:0; margin-top:4px;
        ul { 
            background:#e7e7e7; border:0;
            li { 
                border-color:#d9d9d9;
                &:first-child { border-top:0; }
                &:hover, &:hover a, &:hover span { color:#d33911; }
                &:hover { background-position:-999em -999em;  background-color:#f8f8f8;  }
                &.new { 
                    color:#d33911; background-color:#d9d9d9; background-position:5px 7px; padding-left:12px;
                    &:hover { background-color:#999; background-position:5px -485px; color:#fff; }
                    &:hover a, &:hover span { color:#fff; }
                }
            }
        }
        a, span { color:#1e75b4; padding:5px 6px; /* background-position:-999em -999em; */ }
    }
}

/* Wishlist search view */
#wishlist-search-results {}
.col3-layout #wishlist-search-results .item-name { max-width:340px; word-wrap:break-word; display:block; }
.col2-right-layout #wishlist-search-results .item-name,
.col2-left-layout #wishlist-search-results .item-name { max-width:500px; }
.col1-layout #wishlist-search-results .item-name { max-width:600px; }


.wishlist-search-view {}
.list-info { 
    border:1px solid #dadada; padding:10px 0; margin:0 0 15px; background:url(../images/bkg_block.gif) repeat-x 100% 100% #fff; max-width:100%; word-wrap:break-word;
    .item { 
        padding:5px 0; font-size:12px; border-top:1px dotted #d9d9d9; margin:0 15px;
        &:first-child { border-top:0; }
        .label { 
            font-weight:normal; font-style:italic; font-size:0.9em; margin-right:5px;
            &:after { content:':'; }
        }
        .value { font-weight:bold; }
    }
}
.wishlist-search-view {
    #wishlist-table {
        td.last { padding:15px 10px; }
        .description { max-height:6.5em; max-width:280px; }
    }
    .list-info { display:inline-block; }
    .sub-title { clear:both; }
    p.qty { text-align:center; }
}
