
/* Popup Dialog Block */
.window-overlay { 
    background:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; position:absolute; top:0; left:0; min-height:100%; background:#000; opacity:0.5; width:100%; z-index:990; display:none;
    &.active { display:block; }
}

.popup-block { 
    border:1px solid #cfcfcf; left:50%; top:40%; position:absolute; margin:-85px 0 0 -250px; width:500px; text-align:left; -moz-box-shadow:0 0 6px #000; -webkit-box-shadow:0 0 6px #000; box-shadow:0 0 6px #000; z-index:1000; position:fixed; display:none;
    &.active { display:block; }
    .block-title { 
        background:url(../images/bkg_page-title.gif) repeat-x scroll 0 0 #F6F6F6; border-bottom:1px solid #CFCFCF; padding:17px 17px 10px;
        strong { color:#D12C01; font-size:16px; font-weight:normal; }
    }
    div.btn-close { background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:19px; right:17px; height:15px; width:15px; text-indent:-9999em; cursor:pointer; }
    .block-content { 
        padding:17px 17px 25px; background:url(../images/bkg_block.gif) repeat-x 0 100% #fff; font-size:12px;
        .form-list {
            label { width:180px; }
            .input-text { width:230px; }
            .control .input-box { margin-left:195px; }
        }
        .form-buttons { 
            width:auto; padding-left:188px; padding-top:10px;
            .button { float:left; }
        }
    }
    &.loading { 
        .block-content * { text-align:left; text-indent:-99999em; overflow:hidden; position:relative; margin-left:-9999em; }
        .block-content:before { content:''; display:block; background:url(../images/opc-ajax-loader.gif) no-repeat 0 50%; position:absolute; z-index:99; top:50%; left:50%; line-height:16px; padding:16px; text-indent:0!important; }
    }
}
