/* Captcha */
.captcha-note  { clear:left; padding-top:5px;}
.captcha-image { 
    float:left; margin:0 0 0 240px; position:relative; width:228px;
    .captcha-img { border:1px solid #c7c7c7; vertical-align:bottom; width:100%; }
}

.registered-users { 
    .captcha-image { margin:-12px 0 0 113px; }
    #advice-required-entry-captcha_user_login { margin-bottom: 5px; }
}
#checkout-step-login { 
    .captcha-image { margin:-24px 0 0 105px; width:214px; }
    #advice-required-entry-captcha_user_login { min-height: 30px; }
}
.captcha-reload { 
    cursor:pointer; position:absolute; top:2px; right:2px;
    &.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }
}

@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}
