/* Store credit */
.storecredit {
    .account-balance { 
        margin:0 0 20px; padding:0 0 10px; font-size:12px; background:url(../images/bkg_dots.gif) repeat-x 0 100%;
        .price { font-weight:bold; }
    }
} 
.giftcard-redeem { 
    padding-bottom:20px;
    .input-box { margin-right:5px; }
}