/* Gift card */
.giftcardaccount { 
    position:relative; z-index:1; padding-top:1px;
    .messages { margin-bottom:10px; }
    p { margin:15px 0; font-size:12px; }
    .fieldset { margin:0; }
    .btn-only { margin:0 0 15px; }
}
.giftcard-status .messages { margin-bottom:10px; } 

/* Gift Card Status Check */
.giftcard-status .gift-card-info,
.giftcard-status p.error-msg,
.giftcardaccount #giftcard_balance_lookup .gift-card-info,
.giftcardaccount #giftcard_balance_lookup p.error-msg { margin:10px 0 20px; }
.gift-card-info { 
    margin:10px 0; padding:10px 10px 5px; border:1px dashed #d9d9d9; background:#fcf7f5;
    p { font-size:12px; margin:0 0 5px; }
    .giftcard-number { font-weight:bold; }
    .form-list label {}
    .btn-only { padding-left:0; }
}

#gc-please-wait { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.8; opacity:0.8; }
