/* Price Rewrites */
.page-print {
    .gift-message-link { display:none; }
    .price-excl-tax, .price-incl-tax { display:block; white-space:nowrap; }
    .cart-price, .price-excl-tax .label, .price-incl-tax .label, .price-excl-tax .price, .price-incl-tax .price { display:inline; }
}