/* Order By SKU */
.wrapper {
    .block-addbysku {
        .input-box.validation-error, .input-box.validation-passed { padding-right:0; background:none; }
        .validation-advice { margin-right:-19px; }
    }
}

.main .block.block-addbysku .block-content { padding:10px 4px 10px; }
.block-addbysku {
    .data-table { 
        th, td { padding:6px 4px; }
    }
    .actions { text-align:right; margin:15px 0 10px; float:right; }
}
.block-addbysku { 
    .data-table th:first-child, .data-table td:first-child { padding-left:13px; }
}
.sidebar {
    .block-addbysku {
        .actions { padding:0 13px 7px; float:none; }
        .data-table td .qty { width:5em!important }
    }
    p.link-widget-sku { padding:5px 13px 0; text-align:right; border-top:1px dotted #dadada; float:none; }
}
p.link-widget-sku { 
    padding:15px 13px; text-align:left; float:left;
    a { color:#999; }
}

.block-addbysku {
    .file-upload { 
        float:left; text-align:left; border:1px solid #dadada; padding:10px 17px; background:#F5F5F5 url(../images/bkg_block.gif) repeat-x 0 100%; margin-top:10px;
        label { display:block; float:none; width:auto; min-width:60px; text-align:left; }
        p { padding:3px 0; }
        .btn-reset { 
            display:inline-block; margin-left:15px;
            span { margin-left:0; padding:3px 0; background:url(../images/bkg_icon-reset.png) no-repeat scroll 0 50%; padding-left:15px; display:inline-block; cursor:pointer; color:#999; }
        }
        .input-box { display:block; float:none; }
        .note { width:auto; clear:both; padding:2px 0; }
    }
} 

.block-addbysku {
    .data-table {
        td {
            .btn-remove { margin:4px 0 0; float:right; margin-right:-16px; }
            .input-box { float:left; }
            .qty { width:8em!important }
            &.last { padding-right:18px; }
        }
        tfoot td.last { text-align:right; }
        .add-row { cursor:pointer; background:url(../images/bkg_btn-split-item.png) no-repeat 0px 2px; padding-left:11px; font-weight:bold; color:#999; }
        .input-box { width:99%; }
    }
}


.wrapper {
    .block.block-addbysku {
        .data-table { 
            .validation-advice { }
            .col-sku { width:auto; }
            .col-qty, .col-remove { width:13px; }
            .input-text { width:99%; }
        }
    }
} 
