/* Print Pages */
.page-print { 
    .print-head {
        img { float:left; }
        address { float:left; margin-left:15px; }
    }
    h2.h2 { margin:15px 0 10px; }
    .col2-set { margin:10px 0 20px; }
}