/* Adress Book */
.addresses-list { 
    .box-content { 
        font-size:12px; }
    .col-2 li { 
        padding:0 0 10px;
        .actions { border:1px solid #e4e4e4; padding:3px 9px 4px; float:left; }
        address { padding:10px; clear:both; }
    }
} 