/* Billing Agreements */
.billing-agreements {
    .info-box { 
        margin:15px 0;
        p { margin:0 0 9px; }
    }
    .form-list {
        li button.button { float:left; margin-left:10px; }
    }
} 