/* Tagged products */
.my-tag-edit { 
    float:left;
    .btn-remove { float:right; margin:-3px 0 0 5px; position:relative; }
}

#my-tags-table {
    .price-box { margin:5px 0; }
    .last { 
        text-align:center;
        p { margin:10px 0; }
    }
}