/* Order View */
.order-page {
    .order-date { margin:0 0 20px; color:#6c6c6c; font-size:11px; }
    .col2-set { padding-bottom:20px; }
}

.order-details { 
    .link-print { background:none; padding:0; }
    .order-additional, .data-table { margin-bottom:20px; }
    .order-additional {
        dt { font-weight:bold; background:url(../images/bkg_dots.gif) repeat-x 0 100%; padding:0 0 5px; margin:0 0 5px; }
        dd { padding:10px; margin:0 0 10px; }
    }
    dl.gift-message { margin:0 20px; }
    .gift-message { 
        dt { margin:1px 0; padding:2px 10px; background:#e6e6e6; }
        dd { border:1px solid #c7c7c7; background:#fff; padding:10px; margin:0 0 10px; white-space:pre-wrap; word-wrap:break-word; }
    }
} 

.order-links { margin:0 0 10px; text-align:right; padding-bottom:5px; background:url(../images/bkg_dots.gif) repeat-x 0 100%; text-align:right; }
.order-info  { 
    margin-bottom:5px; border-bottom:1px solid #c4c4c4;
    dt { padding:6px 20px 0 10px; color:#6c6c6c; font-weight:bold; float:left; }
    dd { float:left; }
    ul { 
        float:left;
        li { 
            float:left; position:relative; z-index:2; margin-right:3px; background:#dedede url(../images/bkg_collateral-tabs.gif) no-repeat 0 -39px; color:#222; padding:0 0 0 17px; font-size:12px;
            strong, a { text-decoration:none; background:url(../images/bkg_collateral-tabs.gif) no-repeat 100% -39px; padding:0 17px 0 0; line-height:24px; float:left; }
            &.current { margin-bottom:-1px; color:#000; font-weight:bold; z-index:3; border-bottom:0; background:#fff url(../images/bkg_collateral-tabs.gif) 0 0 no-repeat;
            strong { background-position:100% 0; padding-bottom:1px; }
            }
        }
    }
}
