/* Gift Registry Functionality */
.btn-gift-registry { 
    background:url(../images/i_gift-registry3.gif) 0 0 no-repeat; padding:3px 0 0 33px; text-align:left;
    .input-box { margin:0 0 7px; }
    select { width:100%; }
}
.gift-registry-name { background:url(../images/i_gift-registry2.gif) 0 0 no-repeat; margin:3px 0 0; padding:0 0 0 20px; line-height:18px; }
/* Block: Gift Registry Search */
.sidebar {
    .block-gr-search {
        .form-alt {
            .input-box { width:148px; margin:3px 0 0; padding:0; }
            input.input-text { width:142px; }
            select { width:148px; }
        }
    }
} 
.block-gr-search p.note { margin:0 0 3px; text-align:right; color:#f15c22; }