/* Account Login/Create Pages ============================================================ */
.my-account {}

.account-login { 
    position:relative; font-size:12px; background:url(../images/bkg_cols.gif) repeat-y 266px 0; min-height:350px; margin-bottom:-20px;
    .new-users, .registered-users { width:381px; padding:30px 32px 30px; }
    .registered-users p { margin-bottom:1.5em; }
    .spacer { position:absolute; top:100%; left:447px; margin-top:-1px; width:16px; height:3px; font-size:0; line-height:0; background:#fff; overflow:hidden; }
    .fieldset { 
        margin:0;
        h2 { margin-bottom:.5em; }
    }
    .form-list {
        label, span.label { width:98px; }
        input.input-text { width:224px; }
        p { padding:0 0 0 110px; }
        li.note { float:left; padding-left:113px; margin:0 0 9px; width:auto; clear:left;
                  a { font-size:12px; }
        }
        li.control { 
            float:left; clear:left;
            .input-box { margin-left:113px; }
        }
        li.buttons-set { float:right; clear:none; padding-right:38px; padding-top:2px; }
    }
    p.required, .btn-only { padding-left:113px; width:230px; text-align:right; }
    .btn-only a { float:left; white-space:nowrap; }
}

.login-only { 
    background:none;
    .registered-users { float:none; margin:0 auto; }
}


li#remember-me-box {
    &.control { 
        white-space:nowrap;
        label { margin-right:20px; white-space:normal; }
        .link-tip { display:inline-block; font-size:11px; line-height:16px; padding-top:2px; white-space:normal; }
    }
} 
.account-create {}