/********** < Dashboard */
.dashboard {
    .welcome-msg, .col2-set, .recent-orders { padding:0 0 20px; }
}

/* Block: Tags */
.dashboard {
    .tags { 
        padding:0 0 20px;
        p { display:inline; }
        .product-name { margin:0 0 3px; font-size:11px; line-height:17px; }
        li { margin:0 0 8px; }
        .number { float:left; border:1px solid #ddd; text-align:center; line-height:17px; width:15px; margin-right:-20px; }
        .details { margin-left:25px; }
    }
}

/* Block: Reviews */
.dashboard { 
    .reviews { 
        padding:0 0 20px;
        .product-name { margin:0 0 3px; font-size:11px; line-height:17px; }
        p { float:left; margin-right:5px; }
        li { margin:0 0 5px; }
        .number { float:left; border:1px solid #ddd; text-align:center; line-height:17px; width:15px; margin-right:-20px; }
        .details { margin-left:25px; }
    }
} 

/********** Dashboard > */
