/* Block: Account */
.sidebar { 
	.block-account { background: #f5f5f5 url(../images/bkg_block.gif) repeat-x 0 0;
		.block-title { padding: 26px 17px 12px; border-bottom: 1px solid #d1d1d1;
			strong { font-size: 18px; line-height: 23px; color: #111; }
		}
		.block-content { padding: 0; }
		li { background: url(../images/bkg_dots.gif) repeat-x 0 100%; font-size: 12px; padding-bottom: 1px;
			a { color: #666; text-decoration: none; display: block; padding: 5px 13px 4px;
				&:hover { color: #d63200; background-color: #f7eedb; color: #000; text-decoration: none; }
			}
			&.current { font-weight: bold; background: #fff; border: 1px solid #d1d1d1; border-width: 1px 0; color: #000; padding: 5px 13px 4px 14px; margin: -1px -1px 0 0; }
			&.last { border-bottom: 0; background-image: none; }
		}
	}
}