/* Compare popup ========================================================================= */
.catalog-product-compare-index { 
    tr { 
        &.last, .first { 
            a {color: #999; }
            p { margin: 10px 0; }
        }
        &.first { 
            .product-name { 
                a { color: #333; }
            }
        }
    }
}