@charset "UTF-8";
@import 'theme/common_mixins';
@import 'theme/common_breakpoints_variables';
@import 'theme/owl_theme';

/* CLP page ======================================================================================= */
.cms-for-clp {
	.breadcrumbs{display:none;}
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
	.no-margin {
		margin: 0px;
	}
}
.cms-main-banner {
	.banner-text {
		span {
			font-family: 'TiemposTextWeb-RegularItalic';
			color: #fff;
			font-size: 24px;
			text-transform: capitalize;
			line-height: 7px;
			text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
			letter-spacing: -0.01em;
		}
		a.button {
			height: 45px;
			margin-top: 22px;
		}
	}
}
.breadcrumbs-browse {
	.right span {
		text-transform: none;
	}
}
.clp-section.bottom-mrgin {
	margin-bottom: 53px;
}
.clp-section {
	float: left;
	margin-bottom: 78px;
	width: 100%;

	.two-line {
		.name {
			height: 73px;
			margin-top: -32px;
		}
	}
	.image {
		a {
			position: relative;
			display: block;
		}
	}
	.name {
		position: absolute;
		width: 100%;
		left: 0px;
		top: 50%;
		font-family: 'Sweet Sans Medium';
		color: #fff;
		font-size: 31px;
		text-transform: uppercase;
		letter-spacing: -0.02em;
		text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
		line-height: 31px;
		height: 32px;
		margin-top: -17px;

		&:hover {
			text-decoration: underline;
		}
	}
	.section-product {
		padding-top: 45px;

		li:first-child {
			margin-left: 0px;
			clear: left;
		}
		li {
			float: left;
			max-width: 272px;
			width: 23.5%;
			margin-left: 2%;
			margin-bottom: 30px;

			&:nth-child(4n+5) {
				margin-left: 0%;
				clear: left;
			}
		}
	}
	.desc {
		p {
			margin: 17px 0 8px 0px;
			text-align: center;
			font-size: 11px;
			line-height: 16px;
			letter-spacing: 0.018em;
			padding: 0 15px;
		}
		a {
			font-family: 'Sweet Sans Medium';
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 0.01em;
			color: #494742;
			text-decoration: none;
			height: 15px;
			display: inline-block;

			span {
				padding-right:11px;				
				@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, -148px);

				
			}
			&:hover {
				border-bottom: 1px solid #494742;
			}
		}
	}
}
.project-help {
	width: 100%;
	height: 602px;
	background-color: #f7f7f7;

	.section-head {
		width: 100%;
		float: left;
		margin: 49px auto 60px auto;
	}
	.owl-carousel {
		display: block;

		.owl-controls {
			width: 100%;
			position: relative;
			bottom: 0%;
			margin-top: 4%;
			left: 0px;
		}
	}
	.owl-stage-outer {
		overflow: visible;
	}
	.pro-help-contr {
		max-width: 930px;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;

		.item {
			float: left;
			width: 100%;
			max-width: 270px;
		}
		hr {
			height: 17px;
			width: 31px;
			border-bottom: 2px solid #494742;
			margin: 0 auto;
			clear: left;
			border-left: 0px;
			border-top: 0px;
			border-right: 0px;
		}
	}
	.desc {
		margin-top: 27px;

		span {
			width: 100%;
			float: left;
			font-family: 'TiemposTextWeb-RegularItalic';
			color: #494742;
			font-size: 19px;
			text-transform: capitalize;
			letter-spacing: 0.02em;
		}
		a {
			width: 100%;
			float: left;
			font-family: 'Sweet Sans Medium';
			color: #494742;
			font-size: 19px;
			letter-spacing: 0.017em;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
@media only screen and (max-width:$large-max) {
	.clp-section {
		.name {
			font-size: 26px;
			line-height: 28px;
		}
	}
}
@media only screen and (max-width:$medium-max) {
	.clp-section {
		.section-product {
			li {
				width: 32.1%;
				margin-left: 1.8%;
				max-width: none;

				img {
					width: 100%;
				}
				&:nth-child(3n+4) {
					margin-left: 0px;
					clear: left;
				}
				&:nth-child(4n+5) {
					margin-left: 1.8%;
					clear: none;
				}
				&:nth-child(3n+1) {
					margin-left: 0px;
					clear: left;
				}
			}
		}
	}
	.project-help {
		padding: 0 14px 5% 14px;
		height: auto;

		.owl-carousel {
			.owl-controls {
				width: 100%;
				position: relative;
				bottom: 0%;
				margin-top: 5%;
				left: 0px;
			}
		}
		.desc {
			a {
				font-size: 17px;
			}
			span {
				font-size: 15px;
			}
		}
	}
}
@media only screen and (max-width:$small-max) {
	.cms-main-banner {
		.banner-text {
			span {
				font-size: 13px;
				letter-spacing: -0.04em;
				line-height: 2px;
			}
			a.button {
				height: 33px;
				margin-top: 4px;
				width: 248px;
			}
		}
	}
	.breadcrumbs-browse {
		.right {
			width: 100%;
		}
	}
	.section-head-full.other-way-head {
		.section-name {
			padding: 0 23px;
			letter-spacing: 0.02em;
		}
	}
	.clp-section {
		margin-bottom: 33px;

		.two-line .name {
			height: 41px;
			margin-top: -18px;
		}
		.desc {
			p {
				padding: 0 4px;
				font-size: 9px;
				line-height: 11px;
				margin: 9px 0 6px;
			}
			a {
				font-size: 9px;
				letter-spacing: 0.02em;
				height: auto;
				padding: 0 1.1%;

				&:hover {
					border-bottom: none;
				}
				span {
					
					background-position: right -163px;
				}
			}
		}
		.section-product {
			padding-top: 10px;

			li {
				width: 47.78%;
				margin-left: 4%;

				&:nth-child(4n+5) {
					margin-left: 4%;
					clear: none;
				}
				&:nth-child(3n+4) {
					margin-left: 4%;
					clear: none;
				}
				&:nth-child(2n+3) {
					margin-left: 0px;
					clear: left;
				}
			}
		}
		.name {
			font-size: 17px;
			line-height: 19px;
			letter-spacing: -0.06em;
			margin-top: -10px;
			text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
		}
	}
	.clp-section.bottom-mrgin {
		margin-bottom: 19px;
	}
	.project-help {
		height: auto;
		display: inline-block;
		padding: 0px 0px 11% 0px;

		#jq-project-help-section {
			width: 100%;
			float: left;
		}
		.owl-stage-outer {
			overflow: hidden;
		}
		.owl-carousel {
			.owl-controls {
				width: 100%;
				position: relative;
				bottom: 0%;
				margin-top: 14%;
				left: 0px;
			}
		}
		.section-head {
			margin: 33px auto 26px auto;
		}
		.pro-help-contr {
			.item {
				float: left;
				max-width: none;
			}
			hr {
				height: 11px;
				width: 22px;
			}
		}
		.desc {
			margin-top: 20px;

			span {
				font-size: 14px;
				letter-spacing: 0.01em;
			}
			a {
				font-size: 14px;
				letter-spacing: -0.02em;
			}
		}
	}
}