@charset "UTF-8";
@import 'theme/common_mixins';
@import 'theme/common_breakpoints_variables';

/* CLP page ======================================================================================= */
.design-tools {
	.breadcrumbs{display:none;}
	color: #494742;

	ul {
		padding: 0px;
		margin: 0px;
	}
	.banner-heading {
		letter-spacing: 0.016em;
	}
	.cms-main-banner {
		background-size: cover;
		-webkit-background-size: cover;

		.banner-text {
			margin-top: -33px;
		}
	}
	.item {
		width: 32.1%;
		max-width: 372px;
		margin-right: 1.6%;
		display: inline-block;

		img {
			width: 100%;
		}
	}
	hr {
		height: 19px;
		width: 37px;
		border-bottom: 2px solid #494742;
		margin: 0 auto;
		clear: left;
		border-left: 0px;
		border-top: 0px;
		border-right: 0px;
	}
	.desc {
		margin-top: 23px;

		span {
			font-family: 'TiemposTextWeb-RegularItalic';
			letter-spacing: 0.03em;
			font-size: 23px;
		}
		a {
			display: inline-block;	
			height:14px;		

			span {
				width: 100%;
				float: left;
				font-family: 'Sweet Sans Medium';
				font-size: 11px;
				letter-spacing: 0.04em;
				text-transform: uppercase;
				position: relative;
				padding-right: 11px;
				@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, -149px);
			}
			&:hover {
				border-bottom: 1px solid #494742;
			}
		}
		.tool-name {
			width: 100%;
			float: left;
			font-family: 'Sweet Sans Medium';
			font-size: 23px;
			letter-spacing: 0.017em;
			text-decoration: none;
			text-transform: uppercase;
		}
		p {
			margin: 24px 0px 9px 0px;
			line-height: 16px;
			letter-spacing: 0.02em;
			padding: 0 10%;
		}
	}
	.dt-contr {
		float: left;
		width: 100%;
		margin: 8px auto 122px;
	}
}
@media only screen and (max-width:$large-max) {
	.design-tools {
		.item {
			width: 32%;
		}
	}
}
@media only screen and (max-width:$medium-max) {
	.design-tools {
		.desc {
			span {
				font-size: 19px;
				line-height: 22px;
			}
			a span {
				font-size: 11px;
				line-height: normal;
			}
			.tool-name {
				font-size: 21px;
			}
			p {
				margin: 15px 0px 9px 0px;
				padding: 0 6.7%;
			}
		}
		hr {
			height: 13px;
		}
	}
}
@media only screen and (max-width:$small-max) {
	.design-tools {
		.breadcrumbs-browse {
			display: none;
		}
		.banner-heading {
			letter-spacing: -0.01em;
		}
		.item {
			width: 100%;
			margin: 0px 0px 50px;
			max-width: none;
		}
		.desc {
			margin-top: 15px;

			span {
				font-size: 23px;
				letter-spacing: 0.01em;
			}
			.tool-name {
				letter-spacing: 0.05em;
			}
			p {
				font-size: 9px;
				line-height: 12px;
				margin: 16px 0px 5px 0px;
				padding: 0 2.5%;
				letter-spacing: 0.038em;
			}
			a span {
				font-size: 9px;
				cursor: pointer;
				background-position: right -162px;
			}
		}
		hr {
			height: 17px;
			width: 28px;
		}
		.cms-main-banner {
			padding: 48px 0px 49px;

			.banner-text {
				margin-top: -20px;
			}
		}
		.dt-contr {
			margin: 39px auto 69px;
			padding: 0 2.57%;
		}
	}
}