@charset "UTF-8";
@import 'theme/common_mixins';
@import 'theme/common_breakpoints_variables';
@import 'theme/owl_theme';

.interiorgallery-view {
	.breadcrumbs {
		display: none;
	}
	.col-main {
	}
	.main {
		max-width: none;
	}
	.gallery-title {
		font-family: 'Sweet Sans Medium';
		color: #494742;
		font-size: 19px;
		text-transform: uppercase;
		letter-spacing: 0.057em;
		margin-bottom: 15px;
	}
	.breadcrumbs-browse {
		margin-bottom: 4px;
		height: auto;

		.breadcrumbs {
			margin: 0px;
			padding: 0px;
			display: block;
			.interiorgallery-view{text-transform: capitalize;}
		}

	}
	.gallery-slider-img {		
		max-width: 774px;
		display:inline-block;
		padding:0 8%;

		img {
			width: 100%;
		}
	}
	.section-heading {
		font-size: 19px;
		letter-spacing: 0.05em;
		margin: 12px 0px 16px 0px;
	}
	.products-grid .item {
		width: 98%;/*32.641%*/
		margin-left: 0.99%;
		float: left;
		max-width: 283px;

		&:first-child {
			margin-left: 0px;
		}
		&:nth-child(3n+4) {
			clear: left;
			margin-left: 0;
		}
	}
	.price-box {
		.regular-price {
			font-size: 14px;
		}
		.price {
			font-size: 12px;
		}
	}
	.product-info-wrapper .product-info {
		font-size: 13px;
		letter-spacing: -0.017em;
	}
	.product-info-wrapper {
		padding: 19px 18px 29px 21px;
	}
}
.gallery-images {
	float: left;
	width: 100%;

	.owl-controls {
		position: absolute;
		top: 50%;		
		margin-top: -23px;
		width: 100%;
		padding: 0 15%;
		.owl-nav{
			max-width: 1122px;
			margin:0 auto;
			position: relative;
		}
	}
}
.gallery-number {
	float: right;
	margin-top: 5px;
	text-transform: none;
}
.shop-this-look {
	max-width: 867px;
	margin: 0 auto 54px auto;
	width: 100%;
}
.gallery-dtl-contr {
	background-color: #f6f6f5;
	padding: 60px 0px 119px 0px;

	.section-heading {
		margin-bottom: 40px;
		letter-spacing: 0.06em;
	}
	.other-gallery-image {
		float: left;
		position: relative;
		width: 32.76%;
		margin-left: 0.86%;

		&:first-child {
			margin-left: 0px;
		}
		.tittle {
			position: absolute;
			width: 100%;
			top: 45%;
			left: 0px;
			font-family: 'Sweet Sans Medium';
			color: #fff;
			font-size: 31px;
			text-transform: uppercase;
			letter-spacing: -0.02em;
			text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
		}
	}
}
@media only screen and (max-width:$large-max) {

	.interiorgallery-view{
	 .gallery-slider-img{
	 	padding: 0 10%;
	 }
}
}
@media only screen and (max-width:$medium-max) {
	.interiorgallery-view {
		.gallery-slider-img{
	 	padding: 0 4.5%;
	 }
		.price-box .regular-price {
			font-size: 12px;
		}
		.products-grid {
			max-width: 690px;
			margin: 0 auto;

			.item {
				margin-left: 1%;
				padding: 0 2px;
				width: 32.5%;
				max-width:none;

				&:nth-child(2n+3) {
					clear: none;
				}
				.product-name a {
					font-size: 14px;
					line-height: 16px;
				}
				.product-info {
					font-size: 12px
				}
			}
		}
	}
	.interiorgallery-view .gallery-slider-img {
    width: 93%;
    max-width: 535px;
}
	.gallery-dtl-contr {
		padding: 46px 0px 85px;

		.other-gallery-image {
			.tittle {
				font-size: 23px;
			}
		}
	}
.gallery-images {
	.owl-controls {
		padding: 0 57px;
	}
}
}
@media only screen and (max-width:$small-max) {
	.interiorgallery-view {
		.gallery-title {
			text-align: left;
			padding-left: 14px;
			letter-spacing: 0.017em;
			margin-top: -13px;
			font-size: 14px;
		}
		.breadcrumbs-browse {
			margin: 21px 0px 0px 0px;

			.breadcrumbs {
				display: none;
			}
		}
		.section-heading {
			font-size: 14px;
			letter-spacing: 0.01em;
			margin: 19px 0px 21px 0px;
			font-size: 14px;
		}
		.gallery-slider-img {
			width: 100%;
			margin-left: 0px;
			padding:0px;
		}
		.products-grid {
			.item {
				margin-left: 2%;
				padding: 0 0px;
				clear: none;
				max-width:none;
				width: 98%;

				&:nth-child(3n+4) {
					clear: none;
					margin-left: 2%;
				}
				&:nth-child(odd) {
					margin-left: 0%;
					clear: left;
				}
			}
		}
		.product-info-wrapper {
			padding: 8px 18px 29px 9px;
		}
		.price-box {
			.regular-price {
				font-size: 11px;
			}
			.price {
				font-size: 10px;
			}
		}
	}
	.gallery-images {
		.owl-controls {
			padding: 0px;
		}
	}
	.gallery-dtl-contr {
		padding: 15px 0px 32px;

		.section-heading {
			line-height: 18px;
			margin-bottom: 34px;
			width: 216px;

			&:after {
				top: 25px;
				right: 52px;
			}
		}
		.other-gallery-image {
			width: 100%;
			margin: 0 0 10px 0%;

			.tittle {
				font-size: 24px;
			}
		}
	}
	.shop-this-look {
		margin: 0 auto 27px auto;

		.owl-theme .owl-controls {
			margin-top: 0px;
		}
	}
	.gallery-number {
		margin-top: 0px;
	}
}