@charset "UTF-8";
@import 'theme/common_mixins';
@import 'theme/common_breakpoints_variables';

.interiorgallery-list {
	.breadcrumbs{display:none;}
	.cms-main-banner {
		background-size: cover;
		-webkit-background-size: cover;

		.banner-text {
			margin-top: -35px;
		}
	}
	.materials-item {
		float: left;
		max-width: 272px;
		width: 23.5%;
		margin-left: 2%;
		margin-bottom: 24px;
		position: relative;

		&:first-child {
			margin-left: 0px;
			clear: left;
		}
		&:nth-child(4n+5) {
			margin-left: 0%;
			clear: left;
		}
		a span {
			position: absolute;
			width: 100%;
			left: 0px;
			top: 50%;
			font-family: 'Sweet Sans Medium';
			color: #fff;
			font-size: 31px;
			text-transform: uppercase;
			letter-spacing: -0.02em;
			text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
			line-height: 31px;
			height: 32px;
			margin-top: -17px;
			padding: 0px 23px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.gallery-contr.margin-less {
		margin-bottom: 71px;
	}
	.gallery-bottom-contr {
		background-color: #f7f7f7;
		padding: 95px 0px;

		span {
			font-family: 'TiemposTextWeb-RegularItalic';
			color: #fff;
			font-size: 23px;
			text-transform: capitalize;
			line-height: 7px;
			text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
			letter-spacing: -0.01em;
		}
		a.button {
			width: 201px;
			margin-top: 21px;
		}
		.cms-banner {
			padding: 0px;
		}
	}
}
.breadcrumbs-browse{
	.breadcrumbs{display:block;padding:0px; margin:-5px 0px 0px 0px ;
		width:80%;
		float:left;
		li {
			&:last-child{margin-left:0px;}
	}

	}
}
.gallery-contr {
	float: left;
	width: 100%;
	margin-bottom: 77px;

	.section-head-full {
		margin-bottom: 44px;
	}
	.room-item {
		float: left;
		margin: 0px 1.552% 1.552% 0px;
		position: relative;
		max-width: 571px;
		width: 49.2%;

		&:nth-child(even) {
			margin-right: 0px;
		}
		a {
			display: block;

			.tittle {
				position: absolute;
				top: 50%;
				width: 100%;
				height: 24px;
				line-height: 17px;
				margin-top: -9px;
				left: 0px;
				font-family: 'Sweet Sans Medium';
				color: #fff;
				font-size: 31px;
				text-transform: uppercase;
				letter-spacing: -0.02em;
				text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
			}
		}
	}
}
.gallery-bottom-contr {
	.cms-banner {
		.banner-text {
			margin-top: -52px;
		}
	}
}


@media only screen and (max-width:$large-max) {
}
@media only screen and (max-width:$medium-max) {
	.interiorgallery-list {
		.materials-item {
			a span {
				font-size: 26px;
				line-height: 28px;
				padding: 0px 33px;
			}
		}
		.materials-item {
			width: 32.1%;
			margin-left: 1.8%;
			max-width: none;

			&:nth-child(3n+1) {
				margin-left: 0px;
				clear: left;
			}
			&:nth-child(4n+5) {
				margin-left: 1.8%;
				clear: none;
			}
		}
		.gallery-bottom-contr {
			padding: 82px 0px;
		}
	}
	.gallery-contr {
		.room-item {
			a .tittle {
				font-size: 26px;
			}
		}
	}
}
@media only screen and (max-width:$small-max) {
	.interiorgallery-list {

		.cms-main-banner {
			padding: 48px 0px 49px;

			.banner-text {
				margin-top: -19px;
			}
		}
		.breadcrumbs-browse{ 
			.breadcrumbs{display:none;}
			.right {
			width: 100%;
		}
	}
		.materials-item {
			width: 47.78%;
			margin-left: 4%;

			&:nth-child(even){
				margin-left: 4%;
				clear: none;
				
			}
			&:nth-child(odd){
				margin-left: 0%;
				clear:left;
				
			}

			
			a span {
				font-size: 17px;
				line-height: 19px;
				letter-spacing: -0.06em;
				margin-top: -10px;
				text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
				padding: 0px 11px;
			}
		}
		.gallery-bottom-contr {
			padding: 37px 0px 54px 0px;

			a.button {
				margin-top: 5px;
			}
			span {
				font-size: 12px;
				line-height: 0px;
			}
			.cms-banner {
				padding: 0px;

				.banner-text {
					margin-top: -31px;
					height: 82px;
				}
			}
		}
		.gallery-contr.margin-less {
			margin-bottom: 9px;
		}
	}
	.gallery-contr {
		margin-bottom: 41px;

		.section-head-full {
			margin-bottom: 6px;
		}
		.room-item {
			width: 100%;
			margin: 0px 0px 10px 0px;

			a .tittle {
				font-size: 24px;
				letter-spacing: -0.027em;
				margin-top: 0px;
			}
		}
	}
	.gallery-contr.margin-less {
		.section-head-full {
			margin-bottom: 8px;
		}
	}
}