@charset "UTF-8";
@import 'theme/common_mixins';
@import 'theme/common_breakpoints_variables';
@import 'theme/featured_products';

/* Home page ======================================================================================= */
.main {
	min-height: 1750px;
	width: 100%;
	max-width: 100%;

	.hero-image {
		width: 100%;
	}
}
.sliderone-container {
	position: relative;
	margin-bottom: 4px;

	.navButton {
		position: absolute;
		bottom: 20%;
		left: 0%;
		text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
		width: 100%;

		h2 {
			font-family: 'Sweet Sans Medium';
			color: #fff;
			font-size: 61px;
			width: 100%;
			float: left;
			text-transform: uppercase;
			letter-spacing: 0.015em;
			display: table;

			span {
				font-family: 'TiemposTextWeb-RegularItalic';
				color: #fff;
				font-size: 27px;
				width: 100%;
				float: left;
				text-transform: capitalize;
				line-height: 1px;
				letter-spacing: 0.02em;
			}
		}
	}
	div#slider-head {
	}
	.jq-accordion-group {
		width: 588px;
		height: 53px;
		border: 1px solid white;
		background-color: #fff;
		margin: 0 auto;

		.image-title {
			a {
				float: left;
				padding: 16px 0px;
				color: #8e8a86;
				font-family: 'Sweet Sans Medium';
				text-transform: uppercase;
				text-decoration: none;
				font-size: 14px;
				width: 149px;
				text-align: center;
				letter-spacing: -0.02em;
				line-height: 19px;

				&.owl-tag.active {
					background-color: #494742;
					color: #fff;
					width: 139px;
				}
			}
		}
	}
	.owl-theme .owl-controls {
		margin-top: 0px;
	}
}
.slider-pagenation {
	bottom: 8.3%;
	left: 50%;
	margin-left: -294px;
	position: absolute;
	width: 588px;
	z-index: 2;
}

/* ======================art-diff ============================= */
.art-diff {
	float: left;
	position: relative;
	width: 100%;

	img {
		width: 100%;
	}
	.art-diff-cont {
		position: absolute;
		height: 245px;
		width: 100%;
		bottom: 26%;
		left: 0%;
		text-align: center;
		display: table;

		span {
			width: 100%;
			float: left;
			font-family: 'TiemposTextWeb-RegularItalic';
			color: #fff;
			font-size: 27px;
			text-transform: capitalize;
			line-height: 2px;
			text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
			letter-spacing: 0.02em;
		}
		h4 {
			font-family: 'Sweet Sans Medium';
			color: #fff;
			font-weight: normal;
			font-size: 61px;
			text-transform: uppercase;
			text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
			letter-spacing: 0.02em;
		}
		p {
			color: #fff;
			font-size: 14px;
			font-family: 'TiemposTextWeb-Regular';
			line-height: 22px;
			margin: 7px auto 21px auto;
			text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.36);
			width: 600px;
			letter-spacing: -0.014em;
		}
		a.button {
			color: #494742;
			display: inline-block;
			height: 47px;
			padding: 22px 33px;
			text-transform: uppercase;
			white-space: nowrap;
			font: normal 10px/3px 'Sweet Sans Medium';
			background-color: #fff;
			text-decoration: none;
			width: 155px;
			letter-spacing: 0.09em;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* ======================art-diff  end============================= */
.inspire-contr {
	float: left;
	height: auto;
	width: 100%;
	margin: 4px 0px 4px 0px;

	.inspire-right {
		float: right;
	}
	.inspire-left {
		float: left;
		margin-right: 0px;
	}
	.inspire-right, .inspire-left {
		width: 49.9%;
		position: relative;

		img {
			width: 100%;
		}
		.inspire-inn {
			position: absolute;
			top: 34%;
			width: 100%;

			span {
				width: 100%;
				float: left;
				font-family: 'TiemposTextWeb-RegularItalic';
				color: #fff;
				font-size: 27px;
				text-transform: capitalize;
				line-height: 1px;
				text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
				letter-spacing: 0.01em;
			}
			h4 {
				font-family: 'Sweet Sans Medium';
				color: #fff;
				font-weight: normal;
				font-size: 46px;
				text-transform: uppercase;
				text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
				line-height: 46px;
				margin: 16px auto;
				letter-spacing: 0.02em;
			}
			a.button {
				color: #494742;
				display: inline-block;
				height: 47px;
				padding: 22px 33px;
				text-transform: uppercase;
				white-space: nowrap;
				font: normal 10px/3px 'Sweet Sans Medium';
				background-color: #fff;
				text-decoration: none;
				width: 155px;
				letter-spacing: 0.09em;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

/* ======================inspired end ============================= */
.get-touch-top {
	position: absolute;
	left: 0;
	top: 31%;
	width: 100%;
}
.gettouch {
	float: left;
	width: 100%;
	position: relative;
	background-image: url("../images/get-n-tchp.jpg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: cover;
	-webkit-background-size: cover;
	height: 655px;

	img {
		width: 100%;
	}
	.get-touch-cntr {
		max-width: 1045px;
		padding: 0px;
		margin: 0 auto;
		width: 100%;

		.get-icon-contr.no-mrgn {
			margin: 0px;
			float: right;
		}
		.get-icon-contr {
			float: left;
			margin-right: 10%;
			width: 26.3%;

			img {
				width: auto;
			}
			span {
				width: 100%;
				float: left;
				margin-bottom: 24px;
			}
			h4 {
				font-family: 'Sweet Sans Medium';
				color: #494742;
				font-weight: normal;
				font-size: 30px;
				text-transform: uppercase;
				margin: 0 auto;
				line-height: 36px;
				display: inline-block;
				letter-spacing: 0.02em;
			}
			p {
				color: #494742;
				font-size: 13px;
				font-family: 'TiemposTextWeb-Regular';
				line-height: 22px;
				margin: 12px auto 13px auto;
				letter-spacing: 0.02em;
			}
			a.button {
				color: #fff;
				display: inline-block;
				height: 47px;
				padding: 22px 45px 13px 44px;
				text-transform: uppercase;
				white-space: nowrap;
				font: normal 10px/3px 'Sweet Sans Medium';
				background-color: #494742;
				text-decoration: none;
				letter-spacing: 0.09em;

				&:hover {
					text-decoration: underline;
				}
			}
			a.button.touch-chat {
				padding: 22px 41px 13px 41px;
			}
		}
	}
}

/* ======================gettouch end ============================= */
.cms-home {
	.slider-img {
		opacity: 1;
	}
	.hs-loaded {
		background: rgba(255, 255, 255, 0.5);
	}
}
.cms-home ul.vert-slider-list li span {
	display: none;
}

/* ==.cms-home ul.vert-slider-list li.active span { display:block; }= */
.cms-home ul.vert-slider-list li:hover {
	a {
		@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, 0px);
		position: absolute;
		right: 0px;
		top: 0px;
		cursor: pointer;
	}
	span {
		display: block;
		position: relative;
		right: -5px;
		top: -3px;
	}
}
.cms-home .loader-block {
	display: none;
}
.cms-home {
	.hs-loaded .loader-block {
		position: absolute;
		display: block;
		left: 0px;
		top: 0%;
		z-index: 9;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);

		img {
			display: initial;
			width: 65px;
			height: 65px;
			margin: 19% auto;
		}
	}
	.vert-slider {
		padding: 10px 0px;
		font-family: 'Sweet Sans Medium';
		width: 24px;
		text-align: left;
		position: fixed;
		top: 44.4%;
		right: 4.4%;
		z-index: 6;
		color: #000000;
	}
	ul.vert-slider-list {
		margin: 0px;
		padding: 0px;
		width: 25px;

		li {
			list-style: none;
			float: right;
			margin-bottom: 0px;
			position: relative;
			height: 20px;

			&.active {
				a {
					@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, 0px);
					position: relative;
					right: 0px;
					top: 0px;
					height: 23px;
					float: right;
				}
				span {
					display: none;
				}
			}
			a {
				width: 16px;
				height: 16px;
				float: right;
				display: block;
				text-indent: -999em;
				@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, -27px);
			}
			span {
				float: left;
				width: 223px;
				height: 23px;
				background-color: rgba(0, 0, 0, 0.5);
				color: #fff;
				-webkit-border-radius: 180px;
				-moz-border-radius: 180px;
				border-radius: 180px;
				text-transform: uppercase;
				padding-left: 13px;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
				position: relative;
				right: -3px;
				top: -1px;
				font-size: 12px;
				letter-spacing: 0.02em;
				line-height: 23px;
			}
		}
	}
}
.sliderone-container div#slider-head {
	display: none;
}

/* ======================vertical slider end ============================= */
@media only screen and (max-width:$large-max) {
	.gettouch {
		height: 485px;

		.get-touch-cntr {
			.get-icon-contr {
				width: 28%;
				margin-right: 8%;
			}
		}
	}
	.get-touch-top {
		padding: 0 2%;
		top: 23%;
	}
	.art-diff .art-diff-cont {
		bottom: 20%;
	}
	.sliderone-container .jq-accordion-group {
		left: 25.6%;
	}
	.inspire-contr {
		.inspire-right .inspire-inn, .inspire-left .inspire-inn {
			h4 {
				line-height: 35px;
				font-size: 34px;
			}
		}
	}
}
@media only screen and (max-width:$medium-max) {
	.main {
		min-height: 0px;
	}
	.cms-home {
		ul.vert-slider-list {
			li {
				span {
					width: 196px;
					font-size: 10px;
					padding: 6px 4px 4px 13px;
					line-height: normal;
				}
			}
		}
	}
	.mob-width .cms-home {
		ul.vert-slider-list li:hover span {
			display: none;
		}
		.vert-slider {
			width: 18px;
		}
	}
	.sliderone-container {
		.navButton {
			bottom: 24%;

			h2 {
				font-size: 43px;

				span {
					font-size: 17px;
				}
			}
		}
		.jq-accordion-group {
			width: 481px;

			.image-title {
				a {
					font-size: 12px;
					width: 120px;

					&.owl-tag.active {
						width: 119px;
					}
				}
			}
		}
	}
	.slider-pagenation {
		width: 484px;
		margin-left: -242px;
	}
	.art-diff .art-diff-cont {
		bottom: 0%;

		h4 {
			font-size: 43px;
		}
		span {
			line-height: 12px;
		}
	}
	.inspire-contr {
		.inspire-left, .inspire-right {
			.inspire-inn {
				top: 28%;

				h4 {
					font-size: 35px;
					line-height: 42px;
					margin: 10px auto 21px auto;
				}
				span {
					font-size: 19px;
				}
			}
		}
	}
	.gettouch {
		height: 364px;

		.get-touch-top {
			top: 21%;
		}
		.get-touch-cntr {
			.get-icon-contr {
				p {
					font-size: 11px;
					line-height: 17px;
					margin: 6px auto 13px auto;
				}
				h4 {
					line-height: 26px;
					font-size: 23px;
					letter-spacing: -0.01em;
				}
				a.button {
					height: 39px;
					padding: 18px 22px 13px 22px;
				}
				a.button.touch-chat {
					padding: 18px 34px 13px 34px;
				}
			}
		}
	}
}
@media only screen and (max-width:$small-max) {
	.gettouch {
		float: left;
		width: 100%;
		position: relative;
		background-image: url("../images/get-n-tchp-mob.jpg");
		background-repeat: no-repeat;
		background-position: left top;
		background-size: cover;
		-webkit-background-size: cover;
		height: auto;

		.get-touch-top {
			width: 100%;
			position: initial;
			margin: 22% auto;
			display: inline-block;
		}
		.get-touch-cntr {
			width: 100%;
			position: initial;

			.get-icon-contr {
				float: none;
				margin: 0 auto 48px auto;
				width: 100%;

				h4 {
					line-height: 26px;
					font-size: 23px;
					letter-spacing: -0.01em;
				}
				p {
					font-size: 11px;
					line-height: 16px;
					margin: 12px auto 18px auto;
				}
				a.button {
					width: 247px;
					height: 33px;
					padding: 15px 45px 13px 44px;
					letter-spacing: 0.02em;
					font: normal 9px/3px 'Sweet Sans Medium';
				}
				span {
					margin-bottom: 10px;
				}
				a.button.touch-chat {
					padding: 15px 41px 13px 41px;
				}
			}
		}
	}
	.cms-home .vert-slider {
		display: none;
	}
	.inspire-contr {
		margin-bottom: 0px;

		.inspire-left, .inspire-right {
			width: 100%;
			margin-bottom: 2px;

			.inspire-inn {
				top: 37.6%;

				h4 {
					line-height: 27px;
					font-size: 29px;
					text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
				}
				a.button {
					width: 248px;
					height: 32px;
					padding: 15px 33px;
					font: normal 9px/3px 'Sweet Sans Medium';
					letter-spacing: 0.02em;
				}
				span {
					text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
	.mob-width .sliderone-container div#slider-head .image-title .jq-accordion-body slider {
		display: block;
	}
	.mob-width .sliderone-container .jq-accordion-group .image-title a.owl-tag.active {
		display: none;
	}

	/* ======================mob slider============================= */
	.mob-width .slider-pagenation {
		position: relative;
		bottom: 0px;
		z-index: initial;
		left: 0%;
		margin-left: 0px;
		width: auto;
	}
	.mob-width .sliderone-container div#slider-head {
		display: block;
		text-align: left;
		padding: 10px 14px 10px 13px;
		font-family: 'Sweet Sans Medium';
		font-size: 15px;
		background-color: #494742;
		color: #fff;
		letter-spacing: -0.02em;
		box-sizing: border-box;
		cursor: pointer;
	}
	.mob-width .sliderone-container .jq-accordion-head {
		border-bottom: none;
		@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, 100%, -45px);
	}
	.mob-width .sliderone-container .jq-accordion-head.open {
		border-bottom: none;
		@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, 100%, -73px);
	}
	.sliderone-container {
		.jq-accordion-group {
			width: 100%;
			left: 0%;
			padding: 0 0px;
			height: auto;
			border: none;

			.image-title a {
				width: 100%;
				color: #494742;
				text-align: left;
				font-family: 'Sweet Sans Medium';
				font-size: 15px;
				border-bottom: 1px solid #dddddd;
				padding: 10px 14px;
				background-color: #fff;
				letter-spacing: -0.02em;
			}
		}
		.mobile-close {
			width: 53px;
			height: 47px;
			z-index: 11;
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			right: 0px;
			top: 0px;
			padding: 17px 10px 7px 22px;

			a {
				@include corraRetinaBG('../images/icon_sprite_b', png, no-repeat, 200px, auto, right, -114px);
				width: 13px;
				height: 13px;
				float: left;
				cursor: pointer;
			}
		}
	}
	.mob-width .navButton {
		width: 100%;
		margin: 14px auto;
		display: inline-block;

		h2 {
			font-family: 'Sweet Sans Medium';
			color: #494742;
			font-size: 30px;
			width: 100%;
			float: left;
			text-transform: uppercase;
			display: table;
			letter-spacing: -0.01em;

			span {
				font-family: 'TiemposTextWeb-RegularItalic';
				font-size: 15px;
				width: 100%;
				float: left;
				text-transform: capitalize;
				line-height: 9px;
				letter-spacing: -0.01em;
			}
		}
	}

	/* ======================mob slider end============================= */
	.art-diff .art-diff-cont {
		top: 33.1%;
		height: auto;

		h4 {
			font-size: 29px;
			letter-spacing: 0.02em;
		}
		span {
			font-family: 'Sweet Sans Medium';
			font-size: 29px;
			text-transform: uppercase;
			line-height: 20px;
		}
	}
	.sliderone-container .navButton h2 {
		display: none;
	}
	.art-text {
		float: left;
		width: 100%;

		p {
			font-size: 12px;
			font-family: 'TiemposTextWeb-Regular';
			line-height: 16px;
			width: 100%;
			margin: 1.9% auto 0 auto;
			padding: 0px 4%;
			letter-spacing: -0.02em;
		}
		a.button {
			color: #fff;
			display: inline-block;
			height: 33px;
			padding: 17px 0px 14px;
			text-transform: uppercase;
			white-space: nowrap;
			font: normal 9px/0px 'Sweet Sans Medium';
			background-color: #494742;
			text-decoration: none;
			width: 248px;
			margin: 17px auto 16px auto;
			letter-spacing: 0.02em;
		}
	}
}