/**
 * @category    Mana
 * @package     Mana_Core
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
#m-wait {
    position: fixed;
    text-align: center;
    z-index: 20000;
    background: rgba(255,255,255,.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .loader {
        position: fixed;
        top: 45%;
        left: 50%;
        width: 64px;
        height: 64px;
        margin: -32px 0 0 -32px;
        z-index: 20100;
        img{
            width: 100%;
        }
    }
}
.m-popup {
    position: absolute;
    background: white;
    z-index: 20100;
}
.m-popup-overlay {
    position: absolute;
    background: black;
    filter: alpha(opacity = 0); /* percent */
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 10000;
}
.m-overlay {
    position: absolute;
    background: white;
    filter: alpha(opacity=0); /* percent */
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 10000;
}
a.m-disabled {
}
label span.m-disabled {
}