@import 'theme/common_breakpoints_variables';
@import 'theme/common_mixins';

.m-filter-popup .m-selected-ln-item > a {
	font-weight: bold;
	text-decoration: none;
}
.block-layered-nav {
	padding-top: 32px;

	.block-title {
		font-size: 11px;
		color: #4a4842;
		font-family: "Sweet Sans Medium";
		text-decoration: none;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: .02em;
		margin-bottom: 24px;
	}
	h3 {
		font-size: 14px;
		color: #4a4842;
		font-family: "Sweet Sans Medium";
		text-decoration: underline;
		font-weight: normal;
	}
	.actions {
		.currently-shopping-by {
			float: left;
			font-family: "Sweet Sans Medium";
			font-size: 11px;
			margin-bottom: 10px;
			width: 112px;
		}
	}
	.btn-remove {
		text-decoration: none;
		clear: left;
		display: block;
		float: left;
		padding: 2px 0;
		@include prefix(transition, color $sticky-transition, webkit moz o);

		&:hover {
			text-decoration: none;
			color: #b3b2b1;

			&::before {
				color: #b3b2b1;
			}
		}
		&::before {
			@include articons('l', 9px, #000);
			position: relative;
			margin: 0 7px 0 0;
			@include prefix(transition, color $sticky-transition, webkit moz o);
		}
	}
	.currently {
		margin-bottom: 40px;
		overflow: hidden;

		li {
			position: relative;
		}
		.btn-remove {
		}
	}
	dl {
		dt {
			//background-color: blue;
			margin-bottom: 4px;
		}
		dd {
			//background-color: red;
			overflow: hidden;
			margin-bottom: 25px;
		}
	}
	ol {
		li {
			float: left;
			padding: 2px 0;
			width: 100%;

			a {
				text-decoration: none;
				@include prefix(transition, color $sticky-transition, webkit moz o);

				&:hover {
					color: #000;
				}
			}
			span.filter-disabled {
				color: #ccc;
			}
		}
	}
}
// For Medium Devices 
@media only screen and (max-width:$medium-max) {
	.block-layered-nav {
		padding: 0;

		.block-content {
			border: 1px solid #d7d7d7;
			cursor: pointer;
			overflow: hidden;
			margin: 0 auto  7px auto;
			text-align: left;
			border-bottom: none;
		}
		.block-title {
			margin: 0;
			position: relative;
			padding: 9px 30px 7px 12px;
			text-overflow: ellipsis;
			border-bottom: 1px solid #d7d7d7;

			&:after {
				@include articons('j', 10px, #807e7b);
				right: 13px;
				top: 10px;
			}
			&.open {
				&:after {
					@include articons('k', 10px, #807e7b);
					right: 13px;
					top: 10px;
				}
			}
		}
		.currently {
			margin-bottom: 15px;
			overflow: hidden;
		}
		.actions {
			.currently-shopping-by {
				width: 100%;
				text-align: left;

				br {
					display: inline;
				}
			}
		}
		.btn-remove {
			padding: 5px 0;
			width: auto;
			text-align: left;
		}
		dl {
			dt {
				position: relative;
				padding: 9px 30px 7px 18px;
				text-overflow: ellipsis;
				border-bottom: 1px solid #d7d7d7;
				margin: 0;
				background-color: #f5f5f5;

				&:last-child {
					border-bottom: none;
				}
				&:after {
					@include articons('j', 10px, #807e7b);
					right: 13px;
					top: 10px;
				}
				&.open {
					&:after {
						@include articons('k', 10px, #807e7b);
						right: 13px;
						top: 10px;
					}
				}
				h3 {
					text-decoration: none;
					font-family: "Sweet Sans Medium";
					font-size: 11px;
				}
			}
			dd {
				margin: 0;
				padding: 10px 0 12px 0;
				border-bottom: 1px solid #d7d7d7;
			}
		}
		ol {
			li {
				margin: 0;

				a, .m-selected-filter-item, .filter-disabled {
					padding: 5px 0px 6px 18px;
					display: block;
					width: 75%;
				}
			}
		}
	}
}