/*@import 'modules/common';*/
.paypal-express-review {
    .col-main { background: #fff; width: 100%; padding: 10px 20px; clear: both; border-radius: 7px; -webkit-border-radius: 7px; position: relative; overflow: hidden; float: left; }
    .legend { font-size: 20px; line-height: 23px; font-weight: normal; color: #000; text-transform: uppercase; padding: 30px 0 20px 0; margin: 0; background: none; }
    .box-title {
        margin: 10px 17px 10px 0px;
        h3 { font-size: 16px; line-height: 20px; font-weight: bold; letter-spacing: 1px; color: #000; text-transform: none; }
        a { float: none; margin-left: 8px; font-size: 13px; color: #000; line-height: 1; font-weight: normal; text-transform: none; text-decoration: underline;
            &:hover { text-decoration: underline; color: #37B2E1; }
        }
        .separator { display: none; }
    }
    .legend.box-title { border-bottom: 1px solid #f1f1f1; margin: 0 0 15px; }
    .box-content {
        padding-bottom: 10px;
        address { font-size: 14px; line-height: 24px; color: #000; }
        div.selector { width: 250px; font-size: 13px; }
    }
    #details-table {
        border: 0; font-size: 13px;
        .product-name { font-size: 16px; line-height: 18px; font-weight: normal; text-transform: uppercase; color: #000;  margin: 0 0 10px; }
        tfoot tr.last strong, #details-table tfoot tr:last-child strong {
            font-size: 18px;
            .price { font-size: 18px; }
        }
        .buttons-set {
            width: 100%; text-align: right;
            .button { margin: 0; }
        }
        .price { color: #000; font-size: 14px; }
        thead {
            th { border-bottom: 1px solid #f1f1f1; color: #000; padding: 16px 8px 16px 0; font-size: 16px; font-weight: normal; vertical-align: middle; text-transform: none; }
            th.prd-th { width: 55%; }
            th.price-th { width: 20%; }
            th.qty-th { width: 15%; text-transform: uppercase; }
            th.sub-th { width: 20%; }
        }
        tbody {
            td {
                border-bottom: 1px solid #f1f1f1; padding: 12px 8px 12px 0;
                dl.item-options dt { clear: left; float: left; font-size: 15px; line-height: 15px; text-transform: none; padding: 6px 5px 0px 0; color: #333; min-width: 50px; }
                dl.item-options dd { font-size: 15px; line-height: 15px; color: #333; padding: 6px 0px 3px 3px; text-transform: none; }
            }
            td.a-center { font-size: 14px; color: #333; }
            td.a-right.last { text-align: left !important; }
        }
        tfoot {
            background: none;
            td, th { padding: 8px 8px 8px 0px; font-size: 14px; text-transform: uppercase; color: #000; }
            td.last { padding-right: 0; }
            tr.first {
                td { padding-top: 13px; }
            }
            tr.last td { border-bottom: 1px solid #f1f1f1; padding-bottom: 13px; }
        }
    }
    // details-table

    .buttons-set button.button { float: right; }
}
// paypal-express-review

