/* CLP & PLP ======================================================================================= */
@import 'theme/common_breakpoints_variables';
@import 'theme/common_mixins';
@import 'clp-plp/block_events';
//@import 'clp-plp/sidebar_block_layered_nav';
@import 'clp-plp/category_view';
@import 'clp-plp/products_grid';
@import 'clp-plp/products_list';
@import 'common-modules/toolbar';
@import 'common-modules/pager';
@import 'common-modules/sorter';
@import 'theme/login_modal';

#load-more-loader {
	width: 150px;
	overflow: hidden;
	margin: 5px auto 80px;

	img {
		width: 32px;
		height: 32px;
		float: left;
	}
	span {
		font-family: "Sweet Sans Medium";
		font-size: 12px;
		display: inline;
		height: 32px;
		line-height: 32px;
		text-align: left;
		padding: 0px 0px 0px 10px;
		color: #999;
	}
}