/* Quickview */
/*==============================================================================
 Define Color Variables Here

===============================================================================*/
/*==============================================================================
 CSS BREAKPOINT CONFIGURATION

===============================================================================*/
/**/
/**/
/**/
/**/
/*==============================================================================*/
.quick-view.button { padding: 0px 0px; width: 100px; height: 37px; font: 400 13px/37px 'Raleway', Arial, Helvetica, sans-serif; font-style: normal; position: absolute; top: 40%; left: 0; right: 0; margin: 0 auto; display: none; text-align: center; background-color: #333; color: #fff; }
.quick-view.button:hover { cursor: pointer; }

#toPopup { padding: 10px; border: none; font-size: 12px; min-height: 550px; width: 880px; margin: -285px 0 0 -450px; background: #fff; display: none; left: 50%; top: 50%; position: fixed; z-index: 8090; }
#toPopup .product-view .product-name { width: 100%; color: #50A4CF; font-size: 24px; font-weight: 600; text-transform: uppercase; line-height: 24px; }
#toPopup .product-view .product-name h2 { color: #50A4CF; font-size: 24px; font-weight: 600; text-transform: uppercase; line-height: 24px; }
#toPopup .product-view .product-name h2 a { color: #50A4CF; font-weight: 500; text-decoration: none; }
#toPopup .product-view .product-name h2 a:hover { text-decoration: underline; }
#toPopup .product-view .product-shop { width: 50%; float: right; padding-right: 20px; }
#toPopup .product-view .product-shop .product-ids { display: none; }
#toPopup .product-view .product-shop .ratings, #toPopup .product-view .product-shop .no-rating { margin: 10px 0; }
#toPopup .product-view .product-img-box { width: 48%; float: left; position: relative; }
#toPopup .product-view .product-img-box .product-image { height: 370px; margin-bottom: 15px; overflow: hidden; position: relative; width: 370px; z-index: 3; }
#toPopup .product-view .product-img-box .product-image img { background: #fff; height: 370px; width: 370px; }
#toPopup .product-view .product-img-box .product-img-box { width: 100%; float: left; }
#toPopup .product-view .product-img-box .product-img-box > img { height: auto; }
#toPopup .product-view .product-img-box .more-views { margin: 10px 0 0; padding: 0; }
#toPopup .product-view .product-img-box .more-views li { margin: 6px 6px 0 0; border: 1px solid #ddd; float: left; }
#toPopup .product-view .product-img-box .more-views li a { text-decoration: none; }
#toPopup .product-view .availability { font-weight: 700; font-size: 16px; text-transform: uppercase; margin: 10px 0; }
#toPopup .product-view .availability.in-stock { color: #00cc00; }
#toPopup .product-view .add-to-cart { width: 100%; padding: 10px 0; float: left; }
#toPopup .product-view .add-to-cart label { margin: 0 5px 0 0; }
#toPopup .product-view .add-to-cart button.btn-cart span, #toPopup .product-view .add-to-cart button.btn-cart span span { width: 155px; padding: 0; }
#toPopup .product-view .price-box { position: static; margin-bottom: 10px; overflow: hidden; float: left; text-align: left; }
#toPopup .product-view .price-box .price-label { font-size: 11px; }
#toPopup .product-view .price-box .special-price .price-label { font-size: 14px; }
#toPopup .product-view .price-box p { margin: 4px 0 15px; }
#toPopup .product-view .price-box span { margin-bottom: 6px; }
#toPopup .product-view .price-box .price { color: #50a4cf; }
#toPopup .product-view .price-box .special-price .price { font-size: 16px; }
#toPopup .product-view .price-box p.old-price { text-align: left; }
#toPopup .product-view button.btn-cart { margin: 0 0 0 6px; }
#toPopup .product-view .short-description { height: 140px; overflow-y: auto; clear: both; color: #636363; font: 14px/22px Georgia, "Times New Roman", Times, serif; padding: 15px 0; }
#toPopup .product-view .short-description h2 { display: none; }
#toPopup .price-box .price-excluding-tax label, #toPopup .price-box .price-including-tax label { font-size: 11px; color: #636363; }
#toPopup #lightwindow_next { width: 42px; height: 140px; display: block; background: url(../images/controls.png) no-repeat -50px 0; position: absolute; right: -42px; top: 50%; margin-top: -70px; }
#toPopup #lightwindow_next > span { position: absolute; text-indent: -999em; }
#toPopup #lightwindow_previous { width: 42px; height: 140px; display: block; background: url(../images/controls.png) no-repeat 8px 0; position: absolute; left: -42px; top: 50%; margin-top: -70px; }
#toPopup #lightwindow_previous > span { position: absolute; text-indent: -999em; }
#toPopup #close { width: 30px; height: 30px; background: url(../images/madison-sprite-a.png) no-repeat 0 -633px; position: absolute; right: 10px; top: 10px; text-indent: -999em; border: solid 1px #ccc; cursor: pointer; z-index: 4; }
#toPopup #close:hover { background-color: #eee; }
#toPopup .success-msg { background-color: #EFF5EA; border: 1px solid #446423; color: #3D6611; padding: 10px 17px 12px; margin: 12px 0; font-size: 12px; }
#toPopup .add-to-box { margin: 10px 0; }
#toPopup .options-container-small { clear: both; }

.loadingwait { display: none; width: 36px; height: 36px; position: fixed; top: 50%; left: 50%; margin: -18px 0 0 -18px; border: none; z-index: 8080; }

.loadingwaitzindex { z-index: 8090; }

#backgroundPopup { background: black; display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 8070; }

#lightwindow_contents { margin: 0; padding: 20px 0; }

.cms-home .home-new-products ul.products-grid li .quick-view.button { top: 24%; }

.col3-layout #toPopup .product-view { width: inherit; }

.col2-left-layout #toPopup .product-view .product-collateral, .col2-right-layout #toPopup .product-view .product-collateral, .col1-layout #toPopup .product-view .product-collateral, .col3-layout #toPopup .product-view .product-collateral, #toPopup .product-view { width: 100%; }

.rating-text { display: none; }

.rating-box { width: 65px; height: 13px; font-size: 0; line-height: 0; background: url(../images/bkg_rating.gif) 0 100% repeat-x; overflow: hidden; }
.rating-box .rating { float: left; height: 13px; background: url(../images/bkg_rating.gif) 0 0 repeat-x; cursor: pointer; }

.ratings .rating-links { margin: 0; font-size: 11px; }
.ratings .rating-links a { text-decoration: underline; }
.ratings .rating-links a:hover { text-decoration: none; }
.ratings .rating-links .separator { margin: 0 3px; color: #E6E6E6; }
.ratings .rating-box { float: left; margin-right: 5px; }
.ratings .rating-box .amount { font-size: 12px; }

#quickview-size-value { border: medium none; font-size: 14px; position: relative; top: -1px; }

#quickview-color-value { border: medium none; font-size: 14px; position: relative; top: -1px; }

@media only screen and (max-width: 959px) { .quick-view.button { display: none !important; } }

/*# sourceMappingURL=quickview.css.map */
