@import 'theme/common_breakpoints_variables';
@import 'common-modules/pager';
/* Sitemap */
.page-sitemap {
    .links { 
        display:block; text-align:right; margin:0 20px -36px 0;
        a { position:relative; }
    }
    .sitemap { 
        padding:0 20px; margin:15px 0; font-size:12px;
        li { margin:3px 0; }
    }
} 