<?php
/**
 * Corra_Gallery extension
 * 
 * @category    Corra
 * @package     Corra_Gallery
 */
?>
<?php
$collection = $this->gallerycollection();
$imageBaseUrl = Mage::helper('corra_gallery/gallery_image')->getImageBaseUrl();
$title = '<div class="image-title">';
?>
<script type="text/javascript">
    var HotSpotProducts = <?php echo $this->hotspotProductCollection(); ?>
</script>
<div class="sliderone-section">
    <div class="sliderone-block">
        <div class="sliderone-wrapper" id="sliderone-wrapper">
            <div class="sliderone-container">
                <div id="main_slider" class="main-slider-wrapper">
                    <?php
                    $i = 0;
                    $firstTitle = "";
                    foreach ($collection as $data):
                        if ($i == 0) :
                            $firstTitle = $data->getTitle();
                        endif;
                        ?>
                        <div class="item" id="slider_<?php echo $i; ?>"> 
                            <?php if ($data->getDesktopImage() != ''): ?>
                                <?php $hotspots = $this->getHotspotDetails($data->getId()); ?>
                                <?php if (count($hotspots) > 0): ?>
                                    <?php foreach ($hotspots as $hotspot): ?>
                                        <?php if ($hotspot->getData('sku')) : ?>
                                            <a class="hotspot" style="left:<?php echo $hotspot->getData('xvalue') . '%'; ?>; top:<?php echo $hotspot->getData('yvalue') . '%'; ?>" href="javascript:;" data-product-sku="<?php echo $hotspot->getData('sku') ?>"><span>&nbsp;</span></a>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                <a href="<?php echo $data->getLink(); ?>" class="main-slider-image">
                                    <img class="slider-img" data-src="<?php echo $imageBaseUrl . $data->getDesktopImage(); ?>" data-desk="<?php echo $imageBaseUrl . $data->getDesktopImage(); ?>" data-tab="<?php echo $imageBaseUrl . $data->getTabletImage(); ?>" data-mob="<?php echo $imageBaseUrl . $data->getMobileImage(); ?>" alt="<?php echo $data->getTitle(); ?>" />
                                </a>
                            <?php endif; ?>
                            <div class="navButton"><?php echo $data->getPostContent(); ?></div>
                        </div>
                        <?php $title .= '<a class="owl-tag" href="javascript:;" data-id="' . $i . '">' . $data->getTitle() . '</a>'; ?>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                    <?php $title .= '</div>' ?> 

                </div>
                 <div class="loader-block"><img src="<?php echo $this->getSkinUrl('images/loader_fp.gif'); ?>"></div>    
                <div class="fp-wrapper" style="display:none;">
                   <!--<img class="fp-image-large" src="" alt=""/>-->
                    <div class="fp-info">
                        <a class="fp-close" href="javascript:;"><?php echo $this->__('Close'); ?></a>
                        <img class="fp-image-thumb" src="" alt=""/>
                        <h3></h3>
                        <h4></h4>
                        <div class="fp-desc"></div>
                        <a class="fp-pdp-link" href="javascript:;"><?php echo $this->__('View <span> This Item </span>'); ?></a>
                    </div>
                </div>
                <div class="mobile-close close" style="display:none;"><a>&nbsp;</a></div>
                <div class="slider-pagenation">
                    <div class="jq-accordion-group group-slider">
                        <div class="jq-accordion-head head-slider" id="slider-head"><?php echo $firstTitle; ?></div>
                        <?php echo $title; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>