/* Bundle Product 3 column design */
.col3-layout { 
    #bundle-product-wrapper,
    #options-container { width: 572px; }
    #bundleProduct { background-position: 390px 0; width: 1144px; }
    #options-container { background-position: 94px 0; }
    #productView { margin-right: -10px; }
    #options-container { 
        .product-options { width: 276px; }
        .product-options-bottom { width: 246px; }
        .product-options-bottom .price-box { float: none; }
    }
    .bundle-summary { left: 277px; }
}
#options-container { 
    .product-options { 
        font-size: 12px; margin-top: 0; font-size: 11px; z-index: 1; margin: 0; width: 600px; padding: 20px 20px 0; clear: both; position: relative; z-index: 1; }
    .product-options-bottom { 
        padding: 0 20px 20px; width: 600px; margin: 0 0 5px;
        .add-to-cart { float: right; margin: 0 0 0 20px; }
        .price-box { margin: 0 0 15px; float: right; }
        p.required { padding: 5px 0 0; width: auto; clear: both; text-align: right; }
    }
}
.bundle-summary { 
    background: #fff; position: absolute; z-index: 2; left: 643px; margin-top: 0; padding: 20px; width: 256px;
    .product { 
        background: #fff; border-bottom: 1px solid #ddd; margin-bottom: 10px; padding: 10px 8px; -webkit-box-shadow: 0px 0px 5px #999; -moz-box-shadow: 0px 0px 5px #999; box-shadow: 0px 0px 5px #999;
        .block-title { 
            background: none; border: solid #e6e6e6; border-width: 0 0 1px; margin: 0 0 10px; padding: 5px 0; position: relative;
            h2 { color: #5a5a5a; font-weight: normal; padding-left: 5px; }
        }
    }
    .product-image { border: 1px solid #d6d6d6; float: left; margin: 0 -60px 0 0; }
    .product-details { p.availability { font-weight: bold; font-size: 11px; margin: 28px 0 0; position: relative; }
    }
    .price-box { 
        margin-bottom: 35px;
        .price-as-configured { 
            .price { font-weight: normal; }
            .price-label { color: #010101; font-size: 14px; font-weight: normal; margin-right: 10px; }
        }
    }
    .product-name { font-size: 16px; color: #111; }
    .product { 
        .add-to-links { 
            border-top: 1px solid #e6e6e6; margin-top: 10px; padding: 7px 0 2px 5px;
            .clickable > strong,
            a { color: #ef5d24; font-weight: bold; }
            li { 
                display: inline-block;
                &:first-child { margin-right: 15px; }
            }
        }
    }
    .summary { 
        padding: 10px 8px !important; -webkit-box-shadow: 0px 0px 5px #999; -moz-box-shadow: 0px 0px 5px #999; box-shadow: 0px 0px 5px #999;
        h4 { border-bottom: 1px solid #e6e6e6; color: #5a5a5a; font-size: 14px; font-weight: normal; padding: 0 0 5px 5px; }
        ul { margin: 6px 0 10px; }
        li { background: url(../images/bkg_dots.gif) repeat-x bottom; margin: 0; padding: 11px 0 7px; }
        .last { background: none; padding-bottom: 0; }
    }
    button.btn-cart { 
        span,
        span span { background-image: url(../images/bg_bundle_btn.gif); font-weight: normal !important; height: 23px !important; line-height: 23px !important; padding: 0 0 0 18px !important; }
        span span { padding: 0 18px 0 0 !important; }
    }
    .add-to-cart { 
        .qty { margin-right: 80px; }
        button { margin: 10px 0 0; }
        .paypal-logo { text-align: left; }
        .paypal-or { margin: 5px 0 5px 42px; }
    }
}
#bundleProduct { 
    .page-title { 
        a { color: #ef5d24; position: relative; text-decoration: none; top: 4px;
            &:hover { text-decoration: underline; }
            small { font-size: 14px; font-weight: bold; }
        }
    }
    .product-options { 
        padding: 0; width: 642px;
        dt,
        dd { background: url(../images/bg_bundle_options.png) repeat-x; }
        dd { background-position: 0 -33px; border-bottom: 1px solid #bfbfbf; margin: 0; padding: 20px 10px 20px 30px; }
        dt { border-bottom: 1px solid #e6e6e6; color: #010101; line-height: 32px; padding: 0 10px 0 30px; }
        dl.last .last { border-bottom: none; }
        p.required { padding: 0; position: absolute; right: 10px; top: 10px; }
    }
    .product-options-bottom { 
        background: url(../images/bg_bundle_options_bottom.png) repeat-x 0 0; padding: 11px 15px 0; width: 612px;
        a { 
            color: #ef5d24; font-size: 11px; font-weight: bold; text-decoration: none;
            &:hover { text-decoration: underline; }
            small { font-size: 14px; }
        }
        .price-as-configured { 
            font-size: 11px;
            .price { font-size: 12px; vertical-align: baseline; }
            .price-label { color: #010101; font-weight: bold; margin-right: 15px; }
        }
    }
}