/* Bundle Product 2 column design */
.col2-left-layout,
.col2-right-layout { 
    #bundle-product-wrapper { width: 755px; }
    #bundleProduct { background-position: 574px 0; width: 1511px; }
    #options-container { 
        background-position: 277px 0; left: -1px; width: 755px;
        .product-options { width: 459px; }
        .product-options-bottom { width: 429px; }
    }
    .bundle-summary { left: 460px; }
}