/* Bundle product - alternative view */
#customizeTitle { margin:0; }
.product-options .bundle-summary { font-size:11px; }
.bundleProduct {
    .product-options { font-size:12px; margin-top:0; }
    .product-options-bottom {
        padding:0; font-size:12px; margin:0 0 5px; line-height:27px;
        .add-to-cart { float:right; margin:0 0 0 20px; }
        .price-box { margin:0; float:right; }
        p.required { padding:5px 0 0; width:auto; clear:both; text-align:right; }
    }
}
.with-bundle { position:relative; z-index:1; background:#fff url(../images/bkg_cols.gif) 460px 0 repeat-y; }
/**/
#bundle-product-wrapper { margin:-1px -20px -21px; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; float:left; width:938px; overflow:hidden; position:relative; z-index:1; }
#bundleProduct { 
    width:1877px; background:#fff url(../images/bkg_cols.gif) repeat-y 279px 0; z-index:1; position:relative;
    .add-to-links { float:none; }
}
#productView { margin:0; position:static; border:0; }
#options-container { 
    min-height:510px; width:938px; position:relative; z-index:2; float:right; border-left:1px solid #cfcfcf; background:#fff url(../images/bkg_cols.gif) repeat-y 460px 0; left:-1px;
    h1 { text-align:left; }
} 