/* Gift Card product */
.giftcard-amount-form { 
    margin: 0 0 10px;
    label { width: 120px; text-align: left; padding-right: 5px; }
    .form-list { 
        .input-text { width: 70px; }
        select { width: 150px; }
        .input-box { 
            padding-right: 20px; margin-right: 9px;
            .v-fix { white-space: nowrap; }
            p.notice { 
                float: left; padding: 0; clear: left; width: 55px; margin: 5px -100px 0 0; white-space: nowrap; font-size: 11px; position: relative; z-index: 1;
                span { margin-right: 5px; display: block; }
            }
        }
    }
}
.giftcard-send-form { 
    background: #fff; z-index: 2; position: relative; border-top: 1px solid #ddd; padding: 30px 30px 10px; margin: 0 -30px -30px;
    label { width: 120px; text-align: left; padding-right: 5px; padding-bottom: 5px; }
    .field { 
        label { padding-bottom: 0; }
        .input-text { width: 249px !important; }
    }
}