/* Grouped Product */
.groped-product-type { position:relative; z-index:2; margin:20px -30px -20px; background:#fff; border-top:1px solid #cfcfcf; padding:20px 30px 0; }
.grouped-items td { vertical-align:middle; padding:5px 10px; }