/* jQzoom */
div.jqZoomTitle { z-index: 5000; text-align: center; position: absolute; top: 0; left: 0; width: 100%; color: #fff; background: #999; }
.jqZoomPup { 
    overflow: hidden; background-color: #fff; z-index: 10; border-color: #fff; border-style: solid; cursor: crosshair !important;
    img { border: 0; }
}
a.product-image { cursor: pointer !important; }
p.product-image { cursor: default !important; }

/* .zoom-activated {} */
.preload { text-decoration: none; border: 1px solid #ccc; padding: 8px; text-align: center; background: #fff url(../images/zoomloader.gif) no-repeat 43px 30px; width: 90px; height: 43px; z-index: 10; position: absolute; top: 3px; left: 3px; -moz-opacity: 0.8; opacity: 0.8; filter: alpha(opacity=80); }
.jqZoomWindow { border: 1px solid #ccc; background-color: #fff; }