/* Options in product info column */
.options-container-small { 
    margin: 20px 0 0;
    .product-options-bottom { 
        float: left;
        p.required { padding: 0 0 0 90px; width: auto; float: left; clear: left; text-align: left; }
    }
    .product-pricing { display: none; }
    .price-box { display: none; }
    .add-to-cart { padding: 13px 15px 0 0 !important; }
    dt { clear: left; float: left; line-height: 1.2; width: 10em; padding: 3px 5px 3px 0; margin: 0 0 8px; }
    dd { float: left; width: 275px; border-bottom: 0; padding: 0; margin: 0 0 8px; }
    .product-options { margin: 0; }
}