/* Product View ========================================================================== */
.pdp-header {
    position: fixed;
    width: 100%;
    top: 135px;
    left: 0;
    z-index: 10;
}
.has-sticky-header .pdp-header {
    top: 75px;
}
.product-main-info-wrapper {
    background-color: #f6f6f5;
}
.product-main-info {
    max-width: $xtra-large-min + 28;
    padding: 0 14px;
    margin: 0 auto;
    width: 100%;
    height: 54px;
    text-align: left;
    position: relative;
    font-family: 'Sweet Sans Medium';

    .product-name {
        float: left;
        padding: 0 208px 0 0;
        width: 100%;

        h1 {
            height: 54px;
            line-height: 54px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            width: 100%;
            display: block;
            white-space: nowrap;
            font-size: 20px;
            text-transform: uppercase;

            .short-description {
                font-family: 'TiemposTextWeb-RegularItalic';
                font-size: 12px;
                text-transform: none;
                padding: 0 0 0 14px;
            }
        }
    }
    .order-tab {
        h4 {
            background-color: #494742;
            font-size: 11px;
            position: absolute;
            right: 14px;
            top: 0;
            font-family: 'Sweet Sans Medium';
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 19px 100px 19px 42px;
            letter-spacing: .025em;
            cursor: pointer;
            font-weight: normal;

            &::after {
                @include articons('o', 13px, #fff);
                border-left: 1px solid #d4d4d4;
                right: 20px;
                top: 0;
                height: 30px;
                padding: 24px 0 0 25px;
            }
        }
        &:hover {
            .order-tab-details {
                display: block;
            }
            h4 {
                &::after {
                    @include articons('p', 13px, #fff);
                }
            }
        }
        .order-tab-details {
            display: none;
            position: absolute;
            right: 14px;
            top: 53px;
            width: 425px;
            height: 270px;
            background-color: #ebebeb;
            z-index: 500;
            padding: 3px;
        }
        .jq-tab-body {
            background-color: #fff;
            padding: 20px;
        }
        .jq-tab-group {
            ul {
                width: 100%;
                overflow: hidden;
            }
            li {
                &.jq-tab-head {
                    cursor: pointer;
                    display: inline;
                    float: left;
                    padding: 20px;

                    &.open {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}
.submenu-bar-wrapper {
    width: 100%;
    background-color: #fff;/* 
                        height: 62px;
                        line-height: 62px; */
}
.submenu-bar {
    max-width: $xtra-large-min + 28;
    padding: 0 14px;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    color: #494742;
    overflow: hidden;

    ul.sub-links {
        float: left;

        li {
            display: inline;
            float: left;
            margin: 0 0 0 34px;

            a {
                font-family: 'Sweet Sans Medium';
                text-decoration: none;
                font-size: 12px;
                padding: 24px 0 26px 0;
                float: left;
                line-height: 12px;
                letter-spacing: .02em;

                &:hover {
                    text-decoration: underline;
                }
            }
            &:first-child {
                margin: 0;
            }
        }
    }
    div.social-links-wrapper {
        float: right;
        overflow: hidden;
        @include prefix(transition, right $sticky-transition, webkit moz o);
        right: -246px;
        position: relative;

        a {
            text-decoration: none;

            &.jq-share-btn {
                float: left;
                font-family: 'Sweet Sans Medium';
                font-size: 12px;
                margin: 24px 0 0 0;

                &:before {
                    content: "+ ";
                }
            }
        }
        &.open {
            right: 0;

            a.jq-share-btn {
                &:before {
                    content: "- ";
                }
            }
            ul.social-links {
                opacity: 1;
            }
        }
    }
    ul.social-links {
        float: left;
        overflow: hidden;
        opacity: 0;
        @include prefix(transition, opacity $sticky-transition, webkit moz o);
        margin-left: 22px;

        li.socialic {
            display: inline;
            float: left;

            a {
                width: 20px;
                height: 22px;
                text-indent: -9999px;
                display: inline-block;
                margin: 22px 0 18px 25px;
                @include prefix(transition, opacity $sticky-transition, webkit moz o);
                @include corraRetinaBG('../images/icon_sprite_a', png, no-repeat, 180px, 1080px, -21px, -125px);
                opacity: .5;

                &:hover {
                    opacity: 1;
                }
            }
            &:first-child {
                a {
                    margin-left: 0;
                }
            }
            &.fb {
                a {
                    background-position: -107px -111px;
                }
            }
            &.tw {
                a {
                    background-position: -18px -111px;
                }
            }
            &.ig {
                a {
                    background-position: -48px -111px;
                }
            }
            &.hou {
                a {
                    background-position: -78px -112px;
                }
            }
            &.pi {
                a {
                    background-position: -139px -112px;
                }
            }
        }
    }
}
.product-img-box {
    max-width: $xtra-large-min + 28;
    padding: 0 14px;
    margin: 0 auto;
    width: 100%;
}
h2.pdp-section-title {
    font-family: 'Sweet Sans Medium';
    font-size: 20px;
    color: #494742;
    max-width: $xtra-large-min + 28;
    padding: 0 14px;
    margin: 0 auto;
    width: 100%;
}
.pdp-section-content {
    max-width: $xtra-large-min + 28;
    padding: 0 14px;
    margin: 0 auto;
    width: 100%;


}.measurement-guidelines {
        background-color: #f6f6f6;
        max-width: none;
    }
.also-available-in {
    padding: 0px;
    background-color: #f6f6f6;
}
.details-n-use {

    /* 
        max-width: $xtra-large-min + 28;
        padding: 0 14px;
        margin: 0 auto;
        width: 100%; */
}