/* Product Options */
.product-options { 
    margin: 10px 0 0;
    dt { 
        label { font-weight: bold; font-size: 12px; }
        .required em { margin-left: 5px; }
    }
    dd { 
        margin: 5px 0 15px; padding: 0 0 12px; border-bottom: 1px solid #e7e7e7;
        .qty-holder { display: block; padding: 10px 0; }
        .qty-holder label { vertical-align: middle; }
        .qty-disabled { background: none; border: 0; padding: 3px; color: #000; }
        .input-box { display: block; padding-right: 20px; }
        input.input-text { width: 98%; }
        input.datetime-picker { width: 150px; }
        .time-picker { 
            display: -moz-inline-box; display: inline-block; padding: 2px 0; vertical-align: middle;
            select { vertical-align: middle; }
        }
        textarea { width: 98%; height: 8em; }
        select { width: 100%; }
    }
    .options-list { 
        li { vertical-align: middle; margin: 0; padding: 2px 0; line-height: 1.315; }
        input.radio { float: left; margin: 2px -18px 0 0; }
        input.checkbox { float: left; margin: 2px -20px 0 0; }
        .label { display: block; margin-left: 20px; }
    }
    .validation-error .options-list,
    ul.validation-failed { padding: 2px 1px !important; position: relative; z-index: 2; top: -3px; left: -2px; margin-right: -2px; }
    li { margin: 3px 0; }
}

.options-container-small { 
    .product-options { 
        .validation-error .options-list,
        ul.validation-failed { padding: 0 1px !important; position: relative; z-index: 2; top: -1px; left: -2px; margin-right: -2px; }
    }
}
.product-options-bottom .product-pricing { clear: both; }
.product-view .product-options-bottom { 
    padding: 0; margin: 0 0 5px;
    .add-to-cart { float: left; padding-right: 15px; padding-bottom: 20px; }
    .price-box { margin: 0 !important; float: right; }
    p.required { padding: 5px 0 0; clear: both; text-align: right; width: auto; }
}