/* Block: Related */
.product-view { 
    .box-related { 
        font-size: 11px;
        p { margin: 0; }
        .product-name { font-size: 12px; }
        .price-box { margin: 8px 0; }
        .note {
            padding: 5px 20px; margin: 0; font-size: 12px; color: #d02600; background: #f7edda;
            a { color: #d02600; }
        }
        input.checkbox { position: absolute; margin: 3px 0 0 105px; }
        ol { padding: 20px 0 20px 20px !important; }
        li { 
            &.item { 
                width: 31.5%; float: left; margin-right: 1%;
                .item-info { margin-right: 20px; }
                p a { color: #999; }
                .product-image { float: left; margin-right: -100px; width: 100px; }
                .product-details { margin-left: 125px; }
            }
        }
    }
}

/* 3 Column Block: Related */
.col3-layout { 
    .product-view { 
        .box-related { 
            input.checkbox { margin-left: 135px; }
            li { 
                &.item { 
                    .product-image { display: block; float: none; margin: 0 auto; }
                    .product-details { margin-left: 0; }
                }
            }
        }
    }
}