/* Block: Tags */
.product-view .box-tags { 
    h3 { font-size: 12px; font-weight: normal; }
    .form-add-tags { 
        padding: 5px 0 0 0;
        label { margin: 0; font-weight: bold; font-size: 12px; padding: 2px 15px 0 0; height: 4em; float: left; }
        .input-box { margin: 0; display: inline-block; }
        div.validation-passed,
        div.validation-error { padding-right: 17px; }
        input.input-text { width: 300px; }
        button.button { margin-left: 5px; vertical-align: top; }
        p { padding: 5px 0; font-size: 11px; }
        .input-box,
        x:-moz-any-link { float: left; } /* FireFox 2 fix */
        .button,
        x:-moz-any-link { margin-bottom: 15px; } /* FireFox 2 fix */
        .input-box,
        x:-moz-any-link,
            x:default { float: none; }	/* FireFox 3 restore */
        .button,
        x:-moz-any-link,
            x:default { margin-bottom: 0; } 	/* FireFox 3 restore */ 
    }
    .tags-list { 
        margin: 15px 0; line-height: 1.5em;
        li { 
            display: inline; font-size: 10px; margin: 0 5px 0 0;
            a { 
                text-decoration: none; font-size: 12px; margin: 0; padding: 3px; background: #fffcf0;
                &:hover { text-decoration: underline; }
            }
        }
    }
}