/* Block: Upsell */
.product-view { 
    .box-up-sell { 
        .products-grid { 
            padding: 30px 0 10px 61px; margin: 0;
            li { width: 176px; margin-right: 40px; display: inline; }
        }
    }
}

/* 2 Column Block: Upsell */
.col2-left-layout,
.col2-right-layout { 
    .product-view .box-up-sell .products-grid { 
        padding: 30px 0 10px 30px; margin-right: 0;
        li { display: inline; width: 140px; }
    }
}

/* 3 Column Block: Upsell */
.col3-layout .product-view { 
    .box-up-sell .products-grid { 
        padding: 30px 0 10px 15px; margin: 0;
        li { width: 135px; margin-right: 2px; display: inline; }
    }
}