/* Item options in the cart */
.data-table {
	.item-options {
		dt {
			padding: 3px 0 0 10px;
			background: url(../images/bkg_bulletsm.gif) 0 .8em no-repeat;
		}
		dd {
			padding: 0 0 3px 10px;

			.price {
				font-weight: bold;
				margin-left: 5px;
			}
		}
	}
}