/* Generic box */
.info-box {
	border: 1px solid #cfcfcf;
	margin-top: -1px;
	background: #f5f5f5 url(../images/bkg_block.gif) repeat-x 0 0;
	position: relative;
	z-index: 1;

	.box-title {
		margin: 17px 17px 0 17px;
		font: 14px/1.25 Arial, Helvetica, sans-serif;
		padding: 0;
		color: #222;

		a {
			font-size: 11px;
			text-transform: lowercase;
		}
	}
	.box-content {
		padding: 10px 17px 17px;
		color: #555;
	}
}
.info-table {
	th {
		font-weight: bold;
		padding: 2px 15px 2px 0;
	}
	td {
		padding: 2px 0;
	}
}