/* Pager */
.pager {
	float: left;
}
@media only screen and (max-width:$large-max) {
}
@media only screen and (max-width:$medium-max) {
	.pager {
		float: none;
		text-align: right;
		margin-top: 13px;
	}
}
@media only screen and (max-width:$small-max) {	

}