/* Sorter */
.sorter {
	float: right;
	position: relative;
	text-align: left;
	margin: 0;
	font-family: 'Sweet Sans Medium';
	font-size: 10px;
	text-transform:uppercase;
	margin-top: -12px;

	.jq-accordion-head {
		border: 1px solid #d7d7d7;
		min-width: 214px;
		cursor: pointer;
		letter-spacing: .02em;
		padding: 10px 30px 7px 10px;
		text-overflow: ellipsis;
		overflow: hidden;
		&:before{
			content: "SORT BY: ";
		}

		&:after {
			@include articons('j', 10px, #807e7b);
			right: 13px;
			top: 10px;
		}
		&.open {
			&:after {
				@include articons('k', 10px, #807e7b);
				right: 13px;
				top: 10px;
			}
		}
	}
	.jq-accordion-body {
		position: absolute;
		z-index: 10;
		right: 0;
		top: 32px;
		width: 100%;
		border: 1px solid #d7d7d7;
		background-color: #fff;

		.filter-sort-items {
			word-break: break-all;
			line-height: 1;
			letter-spacing: .02em;
			cursor: pointer;
			@include prefix(transition, background-color $sticky-transition, webkit moz o);
			border-bottom: 1px solid #f5f5f5;

			&:hover {
				background-color: #f5f5f5;
			}
			&:last-child {
				border-bottom: none;
			}
			&.disabled {
				cursor: text;

				a {
					color: #9c9c9c;
					cursor: normal;
				}
			}
			a {
				display: block;
				padding: 7px 14px;
				text-decoration: none;
			}
		}
	}
	.sortby-link {
		white-space: nowrap;
	}
}
@media only screen and (max-width:$large-max) {
}
@media only screen and (max-width:$medium-max) {
	.sorter {
		float: none;
		margin:0 auto;
		.jq-accordion-body{
			position:relative;
			top:-1px;
			right: auto;
		}
	}
}
@media only screen and (max-width:$small-max) {
}