<?php
/**
 * Login Register wrapper
 */
?>
<div class="account-wrapper" id="login-register-forms">
    <div class="login-wrapper jq-form" style="display: none;z-index:999;position:absolute;top:0;" id="jq-login-form">
        <div class="login-close">X</div>
        <?php echo $this->getChildHtml('login.form'); ?>
        <div id="login-msg"></div>
    </div>
    <?php if ($this->helper('customer')->isRegistrationAllowed()): ?>
        <div class="register-wrapper  jq-form" style="display:none;z-index:999;position:absolute;top:0;" id="jq-register-form">
            <div class="register-close">X</div>
            <?php echo $this->getChildHtml('register.form'); ?>
            <div id="register-msg"></div>
        </div>
    <?php endif; ?>
    <div class="forgot-pass-wrapper  jq-form" style="display: none" id="jq-forgot-pass-form">
        <div class="forgot-close">X</div>
        <?php echo $this->getChildHtml('forgot_password.form'); ?>
    </div>
</div>