<?php
/**
 * Logged in user
 */
?>
<div class="account-wrapper welcome-content">
    <div class="user-name-block">
         <h2 class="legend"><span class="user-welcome"><?php echo $this->__('Hello,'); ?></span>
         <?php echo $this->__('<span class="user-firstname">%s</span>',$this->getCustomerName()); ?></h2>
    </div>
    <div class="top-account-links">
    	<ul class="account-links">
    		<li><a href="<?php echo $this->getUrl('customer/account/index') ?>"><?php echo $this->__('Your Account')?></a></li>
    		<li><a href="<?php echo $this->getUrl('productregistration/productregistration/history/') ?>"><?php echo $this->__('Your Coolers')?></a></li>
    		<li><a href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('Your Orders')?></a></li>
    	</ul>
    </div>
    <div class="signout-link signin-wrapper">
    	<a href="<?php echo Mage::getBaseUrl(); ?>customer/account/logout/" title="<?php echo $this->__('Sign Out')?>"><?php echo $this->__('Sign Out')?></a>
    </div>
</div>
<?php /** Following field will be used to show in the get notified text box when a customer is logged in. this is a fix for varnish */ ?>
<input type="hidden" id="loggedCustomerEmail" name="loggedCustomerEmail" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail();?>"  />