<form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="forgot-pass-form-modal" novalidate>
    <div id="status-msg-forgot"></div>
    <div class="forgot-wrapper">
    <div class="user-forgot">
        <h2 class="legend"><?php echo $this->__('Forgot Your<br>Password?') ?></h2>        
        </div>
       <div class="account-form-block">
          <ul class="form-list blue-form">
            <li class="fields-account">
          <div class="name-blocks">
                <label for="email_address" class="required"><?php echo $this->__('Email Address') ?></label>
                <div class="input-box">
                    <input type="email" autocomplete="off" name="email" alt="email" id="email_address" class="input-text required-entry validate-email" value="<?php echo $this->escapeHtml($this->getEmailValue()) ?>" />
                </div>
                </div>                
            </li>           
        </ul>
    </div>
    <div class="account-button-block">
            <ul class="blue-form">
    <li class="button-center">
        <button type="submit" title="<?php echo $this->__('Send') ?>" class="button"><span><span><?php echo $this->__('Send') ?></span></span></button>
    </li>
    </ul>
    </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('forgot-pass-form-modal');
//]]>
</script>