<form id="login-form-modal" novalidate>
    <div id="status-msg-login"></div>
   
<?php echo $this->getBlockHtml('formkey'); ?>
<div class="registered-users">
<div class="user-login">
<h2 class="legend"><?php echo $this->__('SIGN IN:')?></h2>
<p class="signin-wrapper note"><span><a id="sign-up" class="jq-form-link" data-form="jq-register-form" href="javascript:;"><?php echo $this->__('SIGN UP FOR AN ACCOUNT');?></a></span></p>
</div>
<div class="account-form-block">
     <ul class="form-list blue-form">
        <li class="fields-account">
          <div class="name-blocks">
            <label for="email" class="required">
                <?php echo $this->__('Email Address') ?></label>
            <div class="input-box">
                <input name="login[username]" autocomplete="off" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" id="email" type="email" class="input-text required-entry validate-email" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Email')) ?>" />
            </div>
            </div>
            <div class="name-blocks">
                 <label for="pass" class="required">
                <?php echo $this->__('Password') ?></label>
            <div class="input-box">
                <input name="login[password]" type="password" value="" class="input-text required-entry validate-password" id="pass" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" />
                <p class="forgot-link">
                    <a class="jq-form-link" id="forgot-pass" data-form="jq-forgot-pass-form" href="javascript:;"><?php echo $this->__('Forgot your password?') ?></a>
                </p>
            </div>
            </div>
        </li>
        </ul>
</div>
        <div class="account-button-block">
         <ul class="blue-form">
        <?php echo $this->getChildHtml('form.additional.info'); ?>

        <li class="button-center">
            <button type="submit" class="button" name="send" id="send1"><span><span><?php echo $this->__('SIGN IN') ?></span></span>
            </button>
           
        </li>
         <?php echo $this->getChildHtml('persistent.remember.me'); ?>
    </ul>
    <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
    </div>

    </div>
</form>

<script type="text/javascript">
    //<![CDATA[
    var loginUrl = "<?php echo $this->getPostActionUrl() ?>";
    //]]>
</script>

