<form id="registration-form" novalidate>
<div id="status-msg-register"></div>
<div class="new-users">
<div class="note">
</div>
</div>
<div class="account-form-block">
    <ul class="form-list blue-form">
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <li class="fields-account">
                <div class="name-blocks">
                    <label class="required" for="firstname"><?php echo $this->__('First Name')?></label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry" maxlength="255" title="<?php echo $this->__('First Name')?>" value="" name="firstname" id="firstname" autocomplete="off" >
                    </div>
                </div>
                <div class="name-blocks">
                    <label class="required" for="lastname"><?php echo $this->__('Last Name')?></label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry" maxlength="255" title="<?php echo $this->__('Last Name')?>" value="" name="lastname" id="lastname" autocomplete="off" >
                    </div>
                </div>
        </li>
        <li class="fields-account">
        <div class="mail-block">
            <label class="required" for="email_address"><?php echo $this->__('Email Address')?></label>
            <div class="input-box">
                <input type="email" class="input-text validate-email required-entry" title="<?php echo $this->__('Email')?>" id="email_address" name="register_email" autocomplete="off" >
            </div>
        </div>
         <div class="mail-block">             
            <div class="field">
                <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                <div class="input-box">
                    <input type="password" name="password" id="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Password')) ?>" class="input-text required-entry validate-password" />
                </div>
            </div>
            <div class="field">
                <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                <div class="input-box">
                    <input type="password" name="confirmation" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Confirm Password')) ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                </div>
            </div>
         </div>
        </li>

       
    </ul>
    
</div>
<div class="account-button-block">
 <ul class="blue-form">
         <li class="button-center">
            <button type="submit" id="register" data-action="register-new-user" class="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign Up')) ?>"><span><span><?php echo $this->__('Sign Up') ?></span></span>
            </button>
        </li>
        <?php if ($this->isNewsletterEnabled()): ?>
        <li class="input-controls">
            <div class="input-box">
                <input type="checkbox" name="is_subscribed" title="<?php echo Mage::helper('core')->quoteEscape($this->__("Sign Me Up for the Newsletter")) ?>" value="1" id="is_subscribed" class="checkbox" />
            </div>
            <label for="is_subscribed" class="signup-label"><?php echo Mage::helper('core')->quoteEscape($this->__("Sign Me Up for the Newsletter")) ?></label>
        </li>
        <?php endif ?>
        <?php echo $this->getChildHtml('persistent.remember.me')?>
        <p class="signin-wrapper"><?php echo $this->__('Already A Member?');?> <span><a class="jq-form-link" id="member-form" href="javascript:;"><?php echo $this->__('Sign In');?></a></span></p>
       </ul>  
       </div>

</form>

<script type="text/javascript">
    //<![CDATA[
    var dataFormRegister = new VarienForm('registration-form');
    var registerUrl = "<?php echo $this->getPostActionUrl() ?>";
    //]]>
</script>