/********** < Common Checkout Styles */
/* Shipping and Payment methods */
.sp-methods {
    dt { font-weight:bold; margin-bottom:5px; }
    dd { 
        margin:0 0 7px;
        li { margin:5px 0; }
    }
    .price { font-weight:bold; }
    .form-list { 
        padding-left:20px; margin:15px 0;
        .input-text { width:250px; }
        select { width:256px; }
        label { width:155px; }
    }

    select {
        &.month { width:150px; margin-right:10px; }
        &.year { width:96px; }
    }
    input.cvv { width:3em !important; }
    .input-box { line-height:21px; }
    .radio, .checkbox {}
    .v-fix {
        .validation-advice { margin-right:-250px; position:relative; z-index:1; width:250px; }
    }
    .adv-container { padding-left:170px; }
    .centinel-logos {
        a { margin-right:3px; }
        img { vertical-align:middle; }
    }

    .release-amounts { 
        margin:1.5em 0 2em;
        button { float:left; margin:5px 10px 0 0; }
    }
} 

.checkmo-list {
    li { margin:0 0 4px; }
    label { padding-top:0; }
    address { float:left; }
}

.please-wait { position:absolute; z-index:99; top:50%; left:50%; margin:-34px 0 0 -90px; border:5px solid #f3b66f; font-size:12px; color:#f18200; font-weight:bold; background:#fff; padding:20px; white-space:nowrap; }
.cvv-what-is-this { cursor:help; margin-left:5px; }