/* Steps */
.opc { 
    .form-alt {
        .input-box {
            width:695px;
            select { width:695px; }
        }
    }
} 

#checkout-step-login { 
    height:auto !important; min-height:0 !important; padding:0;
    .col2-set { padding:20px 20px 30px; background:#fcfcfc url(../images/bkg_cols.gif) repeat-y 195px 0; height:auto !important; min-height:0 !important; }
    .login-only { background-image:none; }
    h4 { font-size:16px; color:#000; font-weight:normal; margin:0 0 15px; }
    .col2-set {
        .col-1 {}
        .col-2 {
            width:338px;
            .radio { margin-right:5px; }
            li { padding-left:10px; background:url(../images/bkg_bulletsm.gif) no-repeat 0 0.5em; }
            .form-list {
                li { background:none; padding-left:0; }
            }
        }
    }
    .form-list {
        label, .label { width:90px; }
        p { padding-left:105px; margin:0; }
        .input-text { width:210px; }
        li {
            &.note { float:left; padding-left:105px; margin:0 0 9px; width:auto; clear:left; }
            &.control { 
                float:left; clear:left;
                .input-box { margin-left:105px; }
            }
            &.buttons-set { float:right; clear:none; padding-right:30px; padding-top:2px; }
        }
    }
    .btn-only {
        padding:0 0 0 105px; text-align:left; width:214px;
        .button { float:right; }
    }
    p { margin:0 0 15px; }
}

.opc .buttons-set
.opc .form-buttons { width:auto; text-align:right; }
.opc {
    .buttons-set {
        p.back-link { text-align:left; }
    }
    .form-buttons { width:auto; text-align:right; }
    .buttons-set .button, .form-buttons .button { float:right; margin:0; }
    p.required { text-align:right; width:auto; padding-left:0; }
}  

.checkout-onepage-payment-additional-customerbalance { margin-bottom:5px; }
.checkout-onepage-payment-additional-customerbalance .checkbox { margin-left:0; }

/*
#checkout-step-shipping_method .buttons-set,
#opc-payment .buttons-set { width:521px; margin-top:10px; margin-bottom:0; }
#checkout-step-shipping_method .buttons-set .back-link,
#opc-payment .buttons-set .back-link { width:245px; padding-right:15px; float:left; text-align:right; }
#checkout-step-shipping_method .buttons-set .back-link a,
#opc-payment .buttons-set .back-link a { display:inline; float:none; }
#checkout-step-shipping_method p.required,
#opc-payment p.required { padding:0 0 0 260px; }
#opc-payment p.note { padding:10px 0; font-size:11px; }
*/

#checkout-step-review { 
    padding:0;
    .data-table { 
        border:0; font-size:12px;
        .item-options { font-size:11px; }
        thead th { vertical-align:bottom; font-size:11px; }
        .product-name { font-size:12px; }
        tfoot tr.last strong { font-size:14px; }
    }
    .buttons-set { padding:15px 20px; margin:0; }
} 

.opc {
    .checkout-agreements { margin:20px; }
}