/* Tooltip */
.tool-tip { 
    border:1px solid #ddd; background-color:#f6f6f6; padding:5px; position:absolute; z-index:9999;
    .btn-close { text-align:right; }
    .tool-tip-content { padding:5px; }
} 
