/* Block: Checkout Progress */
.opc-progress-container { 
    float:left; width:182px;
    .opc-block-progress { 
        background:#fff;
        .block-title { 
            padding:17px 11px 10px 17px; background:none; border:0; border-bottom:1px solid #cfcfcf;
            strong { font:18px/1.1 Arial, Helvetica, sans-serif; padding:0; color:#111; }
        }
        .block-content { padding:17px 11px 17px 17px; }
        dt { 
            font-weight:bold; margin:2px 0 8px;
            &.complete { 
                font-weight:bold; margin:2px 0 4px;
                a { font-weight:normal; text-transform:lowercase; }
            }
        }
        dd {
            &.complete { margin:5px 0 8px; padding:5px; }
        }
    }
    .block-progress {
        .cards-list {
            dd { padding:0; }
            .info-table th { font-weight:normal; }
        }
    }
} 


.opc { 
    float:right; width:755px;
    li.section { position:relative; }
    .step-title { 
        margin:0 0 1px;
        .number { display:none; }
        h2 { background-color:#e6e6e6; color:#686868; font-size:11px; line-height:22px; padding:0 14px; font-weight:bold; text-transform:uppercase; }
    }
    .allow {
        .step-title {
            h2 { background-color:#656565; color:#fff; cursor:pointer; }
        }
    }
    .active {
        .step-title {
            margin:0 0 0; padding:0 0 0 0;
            h2 { background:#d12c01 url(../images/bkg_active-step.gif) repeat-x 0 0; color:#fff; text-transform:capitalize; font-weight:normal; border-bottom:1px solid #cfcfcf; cursor:default; font-size:16px; padding:5px 20px 2px; line-height:24px; height:24px; }
        }
    }
    .step { 
        padding:20px; min-height:300px; font-size:12px; background:#fcfcfc; border-top:0;
        .tool-tip { right:10px; }
    }
    .order-review {
        .authentication { margin:0 auto; width:570px; }
        .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }
    }
} 
