/* Centinel */
.centinel { 
    margin:10px 0;
    p { margin:0 0 10px; }
    .authentication { 
        border:1px solid #ddd; background:#fff;
        iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }
    }
} 

.opc .centinel { margin:0; padding:20px; }