/* One Page */
.checkout-onepage-index {
    .col-main { padding:20px 0 0; }
}
.opc-wrapper { 
    background:url(../images/bkg_cols.gif) repeat-y -573px 0;
    .page-title { 
        margin:0; position:relative; z-index:1;
        .callout { position:absolute; top:7px; right:20px; z-index:1; }
    }
}