/* Review Details */
#checkout-step-review .data-table, .checkout-multishipping-overview .data-table, #details-table { 
    .btn-remove { display:-moz-inline-stack; display:inline-block; vertical-align:middle; }
}
