/* Multiple Addresses Checkout */
.checkout-progress {
    background-image:url(../images/bkg_crumbs.gif); background-repeat:no-repeat; padding:0 0 0 0; border-bottom:1px solid #cfcfcf; background-color:#ededed; text-align:center; margin:-21px -21px 5px; font-size:11px; font-weight:bold; text-transform:uppercase; width:940px; position:relative; z-index:2;
    li { 
        float:left; width:20%; text-align:center; color:#888; line-height:20px;
        span { display:block; text-align:center; border-right:1px solid #cfcfcf; }
        &.first span, &.last span { background-image:url(../images/bkg_crumbs.gif); background-repeat:no-repeat; }
        &.first span { background-position:0 0; }
        &.last span { background-position:100% 0; border:0; }
        &.active span { color:#fff; background-color:#d12c01; }
    }
}

.multiple-checkout { 
    position:relative; z-index:1;
    .data-table thead th { vertical-align:bottom; }
    .col3-set, .col2-set { margin:0 0 15px; }
    .col3-set {
        .actions { border:1px solid #e4e4e4; padding:3px 9px 4px; float:left; }
        address { padding:10px; clear:both; }
    }
    .buttons-set { 
        padding:15px 0; clear:both; width:auto;
        .button { float:right; }
    }
    .tool-tip { top:50%; margin-top:-120px; right:10px; }
    .grand-total { 
        font-weight:normal; font-size:18px; color:#cd3800; text-align:right; display:block; margin:10px 0 15px;
        .price-label { font-weight:normal; }
        .price { font-weight:bold; }
    }
    .sp-methods { font-size:12px; }
    .checkout-multishipping-payment-customerbalance { font-size:12px; margin-bottom:7px; }
    .fieldset label { font-size:11px; }
    .gift-item {
        .fieldset { font-size:11px; width:380px; }
    }
} 