/* Gift Messages */
.add-gift-message { 
    padding:20px 0;
    h3 { font-size:16px; font-weight:normal; color:#000; line-height:19px; margin:0 0 10px; }
    p { margin:10px 0; }
} 

.gift-message-form { 
    border:1px solid #d1d1d1; background:#f5f5f5 url(../images/bkg_block.gif) repeat-x 0 0;
    .fieldset { 
        padding:10px 0 10px;
        .input-text { width:200px; }
        textarea { width:200px; height:8em; }
    }
    .inner-box { 
        padding:0; height:300px; overflow:auto;
        h4, h5 { font:14px/1.25 Arial, Helvetica, sans-serif; padding:0 20px; color:#222; margin:17px 0; }
        p { margin:10px 0; padding:0 20px; }
    }
    .gift-item { 
        padding:5px 0 0; background:url(../images/bkg_dots.gif) repeat-x 0 100%;
        .number { padding:5px 20px 5px; margin-bottom:0; background:url(../images/bkg_dots.gif) repeat-x 0 100%; color:#adadad; font-weight:bold; }
        .product-img-box { background:url(../images/bkg_dots.gif) repeat-y 100% 0; float:left; width:150px; padding-right:15px; }
        .product-image { text-align:center; margin:20px; }
        .product-name { font-size:12px; margin:20px 0 5px; text-align:center; }
        .fieldset { 
            float:left; background:url(../images/bkg_dots.gif) repeat-y 0 0; padding:20px 0 10px 10px; margin:0 0 0 -2px;
            label { width:80px; }
        }
        .gift-wrapping-form { padding:0 20px; }
    }
} 

.gift-options-for-order { 
    padding:0 40px;
    .fieldset { 
        padding:0;
        p { padding:0; }
        label { width:80px; }
        .input-text, textarea { width:340px; }
    }
} 

.gift-wrapping-form { 
    padding:0 0 10px;
    img { border:1px solid #ccc; float:left; margin-right:10px; }
    label { margin-right:10px; vertical-align:middle; }
    .gift-wrapping-design { overflow:hidden; padding:10px 0 0; width:100%; }
} 

.gift-message-link { 
    display:block; background:url(../images/bkg_collapse.gif) 0 4px no-repeat; padding-left:20px;
    &.expanded { background-position:0 -53px; }
}
.gift-message-row {
    .btn-close { float:right; width:13px; height:12px; background:url(../images/gift-message-close.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
}
.gift-message dt strong { font-weight:bold; }