/* Checkout Agreements */
.checkout-agreements {
    li { margin:10px 0; }
    .agreement-content { border:1px solid #d8cea8; font-size:11px; background-color:#fffdef; padding:15px; height:10em; overflow:auto; }
    .agree { 
        padding:10px 0; font-size:12px; font-weight:bold;
        .checkbox { margin-right:5px; }
    }
} 