<?php
/**
 * Front End - Gallery List Template File
 *
 * @author 	 Corra
 * @package  Corra_InteriorGallery
 */
?>
<?php
$_galleryList = $this->getInteriorGalleryList();
$_roomList = $_galleryList['room'];
$_materialsList = $_galleryList['materials'];
?>

		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('interior-gallery-banner')->toHtml() ?>
		






<div class="page-container">
<div class="breadcrumbs-browse">
<?php echo $this->getLayout()->getBlock('breadcrumbs')->toHtml(); ?>
<div class="right">Browse: <a title="" href="javascript:;" data-id="room-section">room </a><span> or</span> <a title="" href="javascript:;" data-id="materials-section">materials</a></div>
</div>
<!-- breadcrumb and browse end-->
<div class="gallery-contr" id="room-section">
		<div class="section-head-full">
<div class="section-head-contr">
<h4 class="section-name">ROOM</h4>
</div>
</div>
		<?php if($_roomList->getSize() > 0): ?>
		<ul class="room-list">
			<?php foreach ($_roomList as $_room): ?>
				<li class="room-item">
				<?php if($_room->getGalleryThumbimage()): ?>
					<?php // Gallery Image ?>
						<a href=<?php echo Mage::getBaseUrl(); ?>gallery/<?php echo $_room->getGalleryUrlKey(); ?> title="<?php echo $_room->getGalleryTitle(); ?>" class=""><img src="<?php echo $this->helper('interiorgallery/image')->init($_room, 'gallery_thumbimage')->resize(); ?>" width="" height="" alt="<?php echo $_room->getGalleryTitle(); ?>" /><span class="tittle"><?php echo $_room->getGalleryTitle(); ?></span></a>
					<?php else: ?>
						<a href=<?php echo Mage::getBaseUrl(); ?><?php echo $_room->getGalleryUrlKey(); ?> title="<?php echo $_room->getGalleryTitle(); ?>" class=""><?php echo $_room->getGalleryTitle(); ?></a>
					<?php endif; ?>
					
				</li>
			<?php endforeach; ?>
		</ul>
		<?php else: ?>
			<div>No Data Found</div>
		<?php endif; ?>
		</div><!-- gallery-contr end-->

	<div class="gallery-contr margin-less" id="materials-section">
	
		<div class="section-head-full">
<div class="section-head-contr">
<h4 class="section-name">Materials</h4>
</div>
</div>
		<?php if($_materialsList->getSize() > 0): ?>
			<ul class="materials-list">
			<?php foreach ($_materialsList as $_material): ?>
				<li class="materials-item">
					<?php if($_material->getGalleryThumbimage()): ?>
						<?php // Gallery Image ?>
						<a href=<?php echo Mage::getBaseUrl(); ?>gallery/<?php echo $_material->getGalleryUrlKey(); ?> title="<?php echo $_material->getGalleryTitle(); ?>" class=""><img src="<?php echo $this->helper('interiorgallery/image')->init($_material, 'gallery_thumbimage')->resize(); ?>" width="" height="" alt="<?php echo $_material->getGalleryTitle(); ?>" /><span><?php echo $_material->getGalleryTitle(); ?></span></a>
					<?php else: ?>
						<a href=<?php echo Mage::getBaseUrl(); ?><?php echo $_material->getGalleryUrlKey(); ?> title="<?php echo $_material->getGalleryTitle(); ?>" class=""><?php echo $_material->getGalleryTitle(); ?></a>
					<?php endif; ?>
					
				</li>
			<?php endforeach; ?>
			</ul>
		<?php else: ?>
			<div>No Data Found</div>
		<?php endif; ?>
		</div><!-- gallery-contr end-->
                <a class="jqTop" href="javascript:;" style="display:none;">BACK TO TOP</a>
		</div><!-- page-container end-->
		<div class="gallery-bottom-contr">
<div class="page-container">
	
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('interior-gallery-visualizer')->toHtml() ?>
</div><!-- page-container end-->
</div><!-- gallery-bottom-contr end-->



