<?php
/**
 * Front End - Gallery Detail Page Template File
 *
 * @author 	 Corra
 * @package  Corra_InteriorGallery
 */
?>
<?php 
$gallery = $this->getInteriorGalleryDetail();
$images = $gallery['images'];
$otherGalleries = $gallery['other_galleries'];
$total = $images['total'];
$products = $images['data'][0]['products'];
$mediaPath = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'interiorgallery';
$_helper = $this->helper('catalog/output');
?>

<div class="page-container breadcrumbs-browse">

<div class="breadcrumbs"><?php echo $this->getLayout()->getBlock('breadcrumbs')->toHtml(); ?></div>
<div class="gallery-number" id="gallery_number">Displaying Image <?php echo $images['data'][0]['count']; ?> of <?php echo $total; ?></div>
</div><!-- page-container-part1 end-->
<div class="gallery-title" id="gallery_title"><?php echo $gallery['title']; ?></div>
<div class="gallery-images" id="gallery_images">
	<div class="gallery-slider-img" id="gallery_left_image">
		<img src="<?php echo $mediaPath .  $images[data][$total-1]['name']; ?>" width="" height="" alt="" />
	</div>
	<div class="gallery-slider-img" id="gallery_main_image">
		<img src="<?php echo $mediaPath .  $images[data][0]['name']; ?>" width="" height="" alt="" />
	</div>
	<div class="gallery-slider-img" id="gallery_right_image">
		<img src="<?php echo $mediaPath .  $images[data][1]['name']; ?>" width="" height="" alt="" />
	</div>
</div>
<div class="page-container">
<h4 class="section-heading">SHOP THIS LOOK</h4>
<?php if($products): ?>
<div class="shop-this-look" id="shop_this_look">
	<div class="gallery-items products-grid">
	<?php foreach ($products as $_product): ?>
		<div class="item">
			<div class="product-image-wrapper">
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(314, 314); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
				<a href="javascript:;" data-url="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" data-id="<?php echo $_product->getId() ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
			</div>
			<div class="product-info-wrapper">
				<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
				<div class="product-info">
				<?php echo $_product->getColor() ?>
				</div>
		<?php echo $this->getPriceHtml($_product, true) ?>
			</div>
		</div>
		<?php endforeach; ?>
	</div>
</div>
<?php else: ?>
	<div class="no-data">No Data Found</div>
<?php endif; ?>
</div><!-- page-container-part2 end-->
		<div class="gallery-dtl-contr">
<div class="page-container">
<h4 class="section-heading">EXPLORE OTHER ROOM GALLERIES</h4>
<?php if($otherGalleries && $otherGalleries->getSize() > 0): ?>
<div class="other-galleries" id="other_galleries">
	<ul class="other-galleries-images">
	<?php foreach ($otherGalleries as $galleryData): ?>
		<li class="other-gallery-image" id="other_gallery_image">
		<?php if($galleryData->getGalleryThumbimage()): ?>
			<?php // Gallery Image ?>
				<a href=<?php echo Mage::getBaseUrl(); ?>gallery/<?php echo $galleryData->getGalleryUrlKey(); ?> title="<?php echo $galleryData->getGalleryTitle(); ?>" class=""><img src="<?php echo $this->helper('interiorgallery/image')->init($galleryData, 'gallery_thumbimage')->resize(); ?>" width="" height="" alt="<?php echo $galleryData->getGalleryTitle(); ?>" />
					<span class="tittle"><?php echo $galleryData->getGalleryTitle(); ?></span>
				</a>
			<?php else: ?>
				<a href=<?php echo Mage::getBaseUrl(); ?><?php echo $galleryData->getGalleryUrlKey(); ?> title="<?php echo $galleryData->getGalleryTitle(); ?>" class=""><?php echo $galleryData->getGalleryTitle(); ?></a>
			<?php endif; ?>
		</li>
	<?php endforeach; ?>
	</ul>
</div>
<?php else: ?>
	<div class="no-data">No Data Found</div>
<?php endif; ?>
</div><!-- page-container end-->
</div><!-- gallery-dtl-contr end-->
 