<?php
/**
 * @category    Mana
 * @package     Mana_Core
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
/* @var $this Mage_Core_Block_Template */
?>
<div id="m-wait" class="art-loader" style="display:none;">
    <p class="loader" id="loading_mask_loader">
    	<img src="<?php echo $this->getSkinUrl('images/art_loader_A_128.gif') ?>" alt="<?php echo $this->__('Loading...') ?>"/>
    </p>
</div>

