<?php
/**
 * @category    Corra
 * @package     Corra_Brandpages 
 */
?>
<div class="breadcrumbs"><?php echo $this->getLayout()->getBlock('breadcrumbs')->toHtml(); ?></div>
<?php $splashPage = $this->getBrandPage(); ?>
<?php if ($splashPage): ?>
    <div class="page-title category-title">		
	</div>
<?php endif; ?>