<?php
/**
 * @category    Corra
 * @package     Corra_Brandpages 
 */
 ?>

<!--<div class="filter-container" id="jqTabMobWrapper"><span id="jqTabMobStartSpan"></span></div>-->
<?php 
if ($splashPage = $this->getBrandPage()):?>
		<?php echo $this->getProductListHtml() ?>
<?php endif; ?>
<a class="jqTop" href="javascript:;" style="display:none;">BACK TO TOP</a>